/*running human*/

@keyframes Aintrorun {
    0% {
        opacity: 1;
    }
    9.99% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    99.99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes Aintrorun {
    0% {
        opacity: 1;
    }
    9.99% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    99.99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes Aintrorun {
    0% {
        opacity: 1;
    }
    9.99% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    99.99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes Aintrorun {
    0% {
        opacity: 1;
    }
    9.99% {
        opacity: 1;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    99.99% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes Bintrorun {
    0% {
        opacity: 0;
    }
    9.99% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    19.99% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes Bintrorun {
    0% {
        opacity: 0;
    }
    9.99% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    19.99% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Bintrorun {
    0% {
        opacity: 0;
    }
    9.99% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    19.99% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Bintrorun {
    0% {
        opacity: 0;
    }
    9.99% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    19.99% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Cintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    19.99% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    29.99% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes Cintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    19.99% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    29.99% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Cintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    19.99% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    29.99% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Cintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    19.99% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    29.99% {
        opacity: 1;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Dintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    29.99% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    39.99% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Dintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    29.99% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    39.99% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Dintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    29.99% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    39.99% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Dintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    29.99% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    39.99% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Eintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    39.99% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49.99% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Eintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    39.99% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49.99% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Eintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    39.99% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49.99% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Eintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    39.99% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    49.99% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Fintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    49.99% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    59.99% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Fintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    49.99% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    59.99% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Fintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    49.99% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    59.99% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Fintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    49.99% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    59.99% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Gintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    59.99% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    69.99% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Gintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    59.99% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    69.99% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Gintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    59.99% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    69.99% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Gintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    59.99% {
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    69.99% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Hintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    69.99% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    79.99% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Hintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    69.99% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    79.99% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Hintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    69.99% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    79.99% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Hintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    69.99% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    79.99% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Iintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    79.99% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    89.99% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Iintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    79.99% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    89.99% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Iintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    79.99% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    89.99% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Iintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    79.99% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    89.99% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes Jintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    89.99% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes Jintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    89.99% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes Jintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    89.99% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes Jintrorun {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
    70% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
    89.99% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    99.99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


/*running human*/

@keyframes bgMove {
    0% {
        opacity: 1;
        background-position: 0;
    }
    99.999% {
        opacity: 1;
        background-position: -1000px 0;
    }
    100% {
        opacity: 0;
    }
}
@-webkit-keyframes bgMove {
    0% {
        opacity: 1;
        background-position: 0;
    }
    99.999% {
        opacity: 1;
        background-position: -1000px 0;
    }
    100% {
        opacity: 0;
    }
}
@-moz-keyframes bgMove {
    0% {
        opacity: 1;
        background-position: 0;
    }
    99.999% {
        opacity: 1;
        background-position: -1000px 0;
    }
    100% {
        opacity: 0;
    }
}
@-o-keyframes bgMove {
    0% {
        opacity: 1;
        background-position: 0;
    }
    99.999% {
        opacity: 1;
        background-position: -1000px 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-o-keyframes opacityIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes redWIn {
    from {
        left: -50%;
    }
    to {
        left: 25%;
    }
}
@-webkit-keyframes redWIn {
    from {
        left: -50%;
    }
    to {
        left: 25%;
    }
}
@-moz-keyframes redWIn {
    from {
        left: -50%;
    }
    to {
        left: 25%;
    }
}
@-o-keyframes redWIn {
    from {
        left: -50%;
    }
    to {
        left: 25%;
    }
}

@keyframes whiteWIn {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}
@-webkit-keyframes whiteWIn {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}
@-moz-keyframes whiteWIn {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}
@-o-keyframes whiteWIn {
    from {
        left: -50%;
    }
    to {
        left: 50%;
    }
}

@keyframes greenMIn {
    from {
        left: -50%;
    }
    to {
        left: -5%;
    }
}
@-webkit-keyframes greenMIn {
    from {
        left: -50%;
    }
    to {
        left: -5%;
    }
}
@-moz-keyframes greenMIn {
    from {
        left: -50%;
    }
    to {
        left: -5%;
    }
}
@-o-keyframes greenMIn {
    from {
        left: -50%;
    }
    to {
        left: -5%;
    }
}

@keyframes yellowMIn {
    from {
        left: -50%;
    }
    to {
        left: 8%;
    }
}
@-moz-keyframes yellowMIn {
    from {
        left: -50%;
    }
    to {
        left: 8%;
    }
}
@-webkit-keyframes yellowMIn {
    from {
        left: -50%;
    }
    to {
        left: 8%;
    }
}
@-o-keyframes yellowMIn {
    from {
        left: -50%;
    }
    to {
        left: 8%;
    }
}

@keyframes blueMIn {
    from {
        left: -50%;
    }
    to {
        left: 40%;
    }
}
@-webkit-keyframes blueMIn {
    from {
        left: -50%;
    }
    to {
        left: 40%;
    }
}
@-moz-keyframes blueMIn {
    from {
        left: -50%;
    }
    to {
        left: 40%;
    }
}
@-o-keyframes blueMIn {
    from {
        left: -50%;
    }
    to {
        left: 40%;
    }
}

@keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-webkit-keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-moz-keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@-o-keyframes opacityOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes iconMoveUp {
    from {
        top: 53%;
    }
    to {
        top: 33%;
    }
}
@-webkit-keyframes iconMoveUp {
    from {
        top: 53%;
    }
    to {
        top: 33%;
    }
}
@-moz-keyframes iconMoveUp {
    from {
        top: 53%;
    }
    to {
        top: 33%;
    }
}
@-o-keyframes iconMoveUp {
    from {
        top: 53%;
    }
    to {
        top: 33%;
    }
}

@keyframes fontMoveUp {
    from {
        top: 0;
    }
    to {
        top: -20%;
    }
}
@-webkit-keyframes fontMoveUp {
    from {
        top: 0;
    }
    to {
        top: -20%;
    }
}
@-moz-keyframes fontMoveUp {
    from {
        top: 0;
    }
    to {
        top: -20%;
    }
}
@-o-keyframes fontMoveUp {
    from {
        top: 0;
    }
    to {
        top: -20%;
    }
}

@keyframes humanOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}
@-webkit-keyframes humanOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}
@-moz-keyframes humanOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}
@-o-keyframes humanOut {
    from {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
    }
    to {
        transform: translateX(50%);
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -o-transform: translateX(50%);
    }
}

@keyframes redWOut {
    0% {
        left: 25%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 25%;
    }
}
@-webkit-keyframes redWOut {
    0% {
        left: 25%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 25%;
    }
}
@-moz-keyframes redWOut {
    0% {
        left: 25%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 25%;
    }
}
@-o-keyframes redWOut {
    0% {
        left: 25%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 25%;
    }
}

@keyframes whiteWOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    99.9% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 0;
    }
}
@-webkit-keyframes whiteWOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    99.9% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 0;
    }
}
@-moz-keyframes whiteWOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    99.9% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 0;
    }
}
@-o-keyframes whiteWOut {
    0% {
        left: 50%;
        opacity: 1;
    }
    99.9% {
        left: 100%;
        opacity: 1;
    }
    100% {
        left: 50%;
        opacity: 0;
    }
}

@keyframes greenMOut {
    0% {
        left: -5%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: -5%;
    }
}
@-webkit-keyframes greenMOut {
    0% {
        left: -5%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: -5%;
    }
}
@-moz-keyframes greenMOut {
    0% {
        left: -5%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: -5%;
    }
}
@-o-keyframes greenMOut {
    0% {
        left: -5%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: -5%;
    }
}

@keyframes yellowMOut {
    0% {
        left: 8%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 8%;
    }
}
@-webkit-keyframes yellowMOut {
    0% {
        left: 8%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 8%;
    }
}
@-moz-keyframes yellowMOut {
    0% {
        left: 8%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 8%;
    }
}
@-o-keyframes yellowMOut {
    0% {
        left: 8%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 8%;
    }
}

@keyframes blueMOut {
    0% {
        left: 40%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 40%;
    }
}
@-webkit-keyframes blueMOut {
    0% {
        left: 40%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 40%;
    }
}
@-moz-keyframes blueMOut {
    0% {
        left: 40%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 40%;
    }
}
@-o-keyframes blueMOut {
    0% {
        left: 40%;
    }
    99.9% {
        left: 100%;
    }
    100% {
        left: 40%;
    }
}


@keyframes redscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 26%;
    }
}
@-webkit-keyframes redscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 26%;
    }
}
@-moz-keyframes redscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 26%;
    }
}
@-o-keyframes redscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 26%;
    }
}

@keyframes greenscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-webkit-keyframes greenscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-moz-keyframes greenscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-o-keyframes greenscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}


@keyframes yellowscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-webkit-keyframes yellowscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-moz-keyframes yellowscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}
@-o-keyframes yellowscaleOut {
    from{
        width: 0%;
    }
    to{
        width: 12%;
    }
}


@keyframes bluescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}
@-webkit-keyframes bluescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}
@-moz-keyframes bluescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}
@-o-keyframes bluescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 10%;
    }
}


@keyframes whitescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 7.5%;
    }
}
@-webkit-keyframes whitescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 7.5%;
    }
}
@-moz-keyframes whitescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 7.5%;
    }
}
@-o-keyframes whitescaleOut {
    from{
        width: 0%;
    }
    to{
        width: 7.5%;
    }
}

/*@keyframes scaleOut {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}
@-webkit-keyframes scaleOut {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}
@-moz-keyframes scaleOut {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}
@-o-keyframes scaleOut {
    from {
        transform: scale(0, 0);
        -webkit-transform: scale(0, 0);
        -moz-transform: scale(0, 0);
        -o-transform: scale(0, 0);
    }
    to {
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        transform: rotateZ(360deg);
        -webkit-transform: rotateZ(360deg);
        -moz-transform: rotateZ(360deg);
        -o-transform: rotateZ(360deg);
    }
}*/

@keyframes watchUpIn {
    from {
        bottom: -3%;
    }
    to {
        bottom: 0;
    }
}
@-webkit-keyframes watchUpIn {
    from {
        bottom: -3%;
    }
    to {
        bottom: 0;
    }
}
@-moz-keyframes watchUpIn {
    from {
        bottom: -3%;
    }
    to {
        bottom: 0;
    }
}
@-o-keyframes watchUpIn {
    from {
        bottom: -3%;
    }
    to {
        bottom: 0;
    }
}

@keyframes buttonUpIn {
    from {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
@-webkit-keyframes buttonUpIn {
    from {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
@-moz-keyframes buttonUpIn {
    from {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}
@-o-keyframes buttonUpIn {
    from {
        transform: translateY(20px);
        -webkit-transform: translateY(20px);
        -moz-transform: translateY(20px);
        -o-transform: translateY(20px);
    }
    to {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

/* human running */
/*12frame*/

@-webkit-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@-moz-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@-o-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}


/*12frame*/


/*9frame*/

@-webkit-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@-moz-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@-o-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}


/*9frame*/


/*10frame*/

@-webkit-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@-moz-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@-o-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}


/*10frame*/


/*6frame*/

@-webkit-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@-moz-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@-o-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

/* human running */

/* question animation */

@-webkit-keyframes UpAppear {
    0% {
        transform: translateY(300%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes UpAppear {
    0% {
        transform: translateY(300%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes UpAppear {
    0% {
        transform: translateY(300%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes UpAppear {
    0% {
        transform: translateY(300%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(-5%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes DownAppear {
    0% {
        transform: translateY(-140%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-moz-keyframes DownAppear {
    0% {
        transform: translateY(-140%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-o-keyframes DownAppear {
    0% {
        transform: translateY(-140%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes DownAppear {
    0% {
        transform: translateY(-140%);
        opacity: 1;
    }
    70% {
        transform: translateY(0);
        opacity: 1;
    }
    85% {
        transform: translateY(20%);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@-webkit-keyframes LeftAppear {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-moz-keyframes LeftAppear {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-o-keyframes LeftAppear {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes LeftAppear {
    0% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(10%);
        -webkit-transform: translateX(10%);
        -moz-transform: translateX(10%);
        -o-transform: translateX(10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes RightAppear {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-moz-keyframes RightAppear {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-o-keyframes RightAppear {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@keyframes RightAppear {
    0% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
    70% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
    85% {
        transform: translateX(-10%);
        -webkit-transform: translateX(-10%);
        -moz-transform: translateX(-10%);
        -o-transform: translateX(-10%);
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes UpDisappear {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        opacity: 0;
    }
}

@-moz-keyframes UpDisappear {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        opacity: 0;
    }
}

@-o-keyframes UpDisappear {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        opacity: 0;
    }
}

@keyframes UpDisappear {
    0% {
        transform: translateY(0);
        opacity: 1
    }
    100% {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        opacity: 0;
    }
}

@-webkit-keyframes RightDisappear {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
}

@-moz-keyframes RightDisappear {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
}

@-o-keyframes RightDisappear {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
}

@keyframes RightDisappear {
    0% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -o-transform: translateX(0);
        opacity: 1
    }
    100% {
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -o-transform: translateX(100%);
        opacity: 0;
    }
}

@-webkit-keyframes DownArrow {
    0% {
        transform: translateY(8px);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px);
    }
}

@-moz-keyframes DownArrow {
    0% {
        -moz-transform: translateY(8px);
    }
    25% {
        -moz-transform: translateY(0);
    }
    50% {
        -moz-transform: translateY(-8px);
    }
    75% {
        -moz-transform: translateY(0px);
    }
    100% {
        -moz-transform: translateY(8px);
    }
}

@-o-keyframes DownArrow {
    0% {
        transform: translateY(8px);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px);
    }
}

@keyframes DownArrow {
    0% {
        transform: translateY(8px);
    }
    25% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(8px);
    }
}
/* question animation */

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { opacity: 0.2; }
  40% { opacity: 1; }
}
 
@keyframes bouncedelay {
  0%, 80%, 100% {opacity: 0.2;
  } 40% {
    opacity: 1;
  }
}