header.exchange-list{
    margin-top: 44px;
}

ul.exchange-list{
    background-color: #f3f3f3;
    li{
        background-color: white;
        margin: 6px 0;
        padding: 2.5vw 0 2.5vw 4vw;
        overflow: auto;
        color: #515151;
        position: relative;
        img.title{
            width: 38vw;
            border-radius: 8px;
            float: left;
            margin-right: 16px;
        }
        img.marked{
            position: absolute;
            left: 25px;
            top: 6px;
            height: 8vw;
        }
        img.already{
            position: absolute;
            left: 32vw;
            top: 19vw;
            height: 45px;
        }
        header{
            font-size: 16px;
            line-height: 40px;
            color: darken(#fff, 90%);
            @media(max-width: 330px) {
                font-size: 14px;
                line-height: 35px;
            }
        }
        section{
            color: darken(#fff, 60%);
            font-size: 15px;
            line-height: 30px;
            @media(max-width: 330px) {
                font-size: 13px;
                line-height: 26px;
            }
            &.time-limit{
                float: left;
            }
            &.coin{
                float: right;
                background-image: url('../images/coin.png');
                background-repeat: no-repeat;
                background-position: left;
                background-size: 22px !important;
                background-origin: content-box;
                text-indent: 2em;
                margin-right: 7vw;
            }
        }
    }
}

ul.exchange-list li.disabled{
    header{
        color: darken(#fff, 40%);
    }
    section{
        color: darken(#fff, 40%);
        &.coin{
            background-image: url('../images/exchange/coin-gray.png');
        }
    }
}

.exchange-result{
    img{
        width: 40vw;
        margin: 40vw 30vw 20px 30vw;
    }
    section{
        text-align: center;
        font-size: 18px;
    }
    button{
        background-color: #0074e1;
        color: white;
        border: 1px solid #0074e1;
        line-height: 40px;
        border-radius: 5px;
        width: 80vw;
        margin: 40px auto;
        display: block;
    }
}

.exchange-detail{
    font-size: 14px;
    line-height: 1.6em;
    padding: 44px 15px 0px 15px;
    > img{
        margin: 0 -15px;
        width: 100vw;
    }
    .form-list{
        background-color: #f8f8f8;
        border-radius: 5px;
        margin: 20px 0 0 0;
        padding: 15px;
        display: table;
        width: 100%;
        li{
            line-height: 38px;
            display: table-row;
            input,select{
                width: 100%;
                background: transparent;
                border: none;
                line-height: 18px;
                padding: 10px 0px;
                color: #333;
            }
            .ipt{
                display: none;
                vertical-align: top;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                line-height: 18px;
                padding: 10px 0px;
                color: #333;
                cursor: pointer;
            }
            .ipt.default{
                color: #999;
            }
            select{
                margin-left: -5px;
            }
            span{
                display: table-cell;
            }
            .list-icon{
                width: 30px;
                text-align: center;
                vertical-align: top;
                padding-right: 15px;
                > img{
                    max-width: 20px;
                    max-height: 20px;
                    vertical-align: middle;
                }
            }
            .list-label{
                width: 75px;
                border-bottom: 1px solid #0474e0;
                vertical-align: top;
            }
            .list-input{
                border-bottom: 1px solid #0474e0;
            }
        }
    }
    .form-clause{
        margin: 20px 0 0;
        text-align: center;
        font-size: 12px;
        input[type="checkbox"]{
            margin-right: 2px;
            appearance: checkbox;
            -moz-appearance: checkbox;
            -webkit-appearance: checkbox;
            vertical-align: middle;
        }
    }
    .form-button{
        padding-left: 15px;
        padding-right: 15px;
    }
    .error-tips{
        margin-top: -15px;
        line-height: 22px;
        text-align: center;
        font-size: 12px;
        color: rgb(249,107,125);
    }
    .detail-info{
        margin-top: 20px;
        .info-list{
            width: 100%;
            display: table;
            li{
                border-radius: 5px;
                overflow: hidden;
                background-color: #f8f8f8;
                height: 32px;
                line-height: 32px;
                margin-bottom: 2px;
                span:first-child{
                    width: 90px;
                    display: table-cell;
                    background-color: #efefef;
                    text-align: center;
                    text-align: justify;
                    text-justify: distribute-all-lines;
                    text-align-last: justify;
                    text-indent:10px;
                }
                span:last-child{
                    display: table-cell;
                    padding-left: 10px;
                }
            }
        }
    }
    .detail-tips{
        margin-top: 20px;
        padding: 5px 20px;
        border-radius: 5px;
        background-color: #f8f8f8;
        dt{
            font-weight: bold;
            color: #0474e0;
            line-height: 32px;
            border-bottom: 1px solid #0474e0;
        }
        dd{
            padding: 5px 0px;
            font-size: 12px;
            p{
                margin: 0px;
            }
        }
    }
}
.exchange-occupation{
    font-size: 14px;
    line-height: 1.6em;
    padding: 44px 15px 0px 15px;
    .title{
        font-weight: bold;
        line-height: 32px;
        padding-top: 15px;
    }
    .content{
        padding-bottom: 25px;
        .list{
            margin: 0px -15px;
            padding: 8px 15px;
            line-height: 18px;
            border-top: 1px solid #eee;
            cursor: pointer;
        }
        .selected{
            color: #fff;
            background-color: #0474e0;
        }
    }
}
.exchange-notice{
    font-size: 14px;
    line-height: 1.6em;
    padding: 44px 15px 0px 15px;
    header{
        margin: 0 0 20px;
        h1{
            margin: 0px;
            padding: 15px 0px;
            font-weight: bold;
            font-size: 18px;
            color: #0074e1;
            border-bottom: 1px solid #0074e1;
            text-align: center;
        }
    }
}
.exchange-clause{
    font-size: 14px;
    line-height: 1.6em;
    padding: 44px 15px 0px 15px;
    header{
        margin: 0 0 20px;
        h1{
            margin: 0px;
            padding: 15px 0px;
            font-weight: bold;
            font-size: 18px;
            color: #0074e1;
            border-bottom: 1px solid #0074e1;
            text-align: center;
        }
        h3{
            margin: 0px;
            padding: 15px 0px;
            font-weight: bold;
            font-size: 18px;
            color: #0074e1;
            border: 1px solid #0074e1;
            text-align: center;
        }
    }
    section{
        h2{
            line-height: 38px;
            margin: 0px;
            padding: 0px;
            font-weight: bold;
            font-size: 16px;
            color: #0074e1;
            border-bottom: 1px solid #0074e1;
            text-align: center;
        }
        .part{
            border: none;
        }
        p{
            margin: 0px;
            padding: 0px 0px 5px 15px;
        }
        .strengthen{
            text-decoration: underline;
        }
        dl{
            margin-bottom: 10px;
        }
        dt{
            color: #0074e1;
            line-height: 22px;
            padding: 8px 0px;
            i{
                display: inline-block;
                width: 12px;
                height: 12px;
                border-radius: 6px;
                background-color: #0074e1;
                color: #fff;
                margin-right: 5px;
                font-size: 12px;
                text-align: center;
                line-height: 12px;
                vertical-align: middle;
            }
        }
        dd{
            padding: 0px 0px 10px;
            .table-wrap{
                margin-left: 2em;
            }
            .table{
                width: 100%;
                display: table;
                table-layout: fixed;
                border: 1px solid #333;
                border-collapse: collapse;
                text-indent: 0;
                text-align: center;
                td{
                    border: 1px solid #333;
                    padding: 5px 8px;
                }
                li{
                    display: table-row;
                    span{
                        display: table-cell;
                        border: 1px solid #333;
                        padding: 5px 8px;
                    }
                    .tdFirst{
                        text-align: left;
                    }
                    .tdLast{
                        width: 55px;
                        vertical-align: middle;
                        text-align: center;
                    }
                }
            }
            .tig{
                padding: 0px;
                text-indent: 2em;
            }
            .article{
                padding: 0px 0px 5px 2em;
            }
            .firtP{
                text-indent: 0;
            }
        }
    }
}
.fixedTopmenu{
    position: absolute !important;
}
