.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
}

.modal-backdrop.fade {
    opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
}

.modal-dialog {
    display: table;
    width: 100%;
    height: 100%;
}

.modal-content {
    display: table-cell;
    vertical-align: middle;
}

.modal-header {
    width: 90%;
    padding: 0 5px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 0;
    background: #fff;
    border-radius: 6px 6px 0 0;
}

.modal-header h2 {
    display: none;    
}

.modal-header a {
    display: inline-block;
    border: none;
    width: 44px;
    height: 44px;
    padding: 10px;
    border: none;
    background: url('../images/close_button.png') no-repeat;
    background-size: cover !important;
    background-origin: content-box;
}

.modal-body {
    width: 90%;
    margin: 0 auto;
    border-radius: 0 0 6px 6px;
    background: #fff;
    overflow: auto;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    font-size: 14pt;
}

.modal-footer {
    display: none;
}

#activityPopup {
    height: 100%;
    z-index: 1999 !important;
}

#activityPopup .modal-dialog {
    height: 99%;
}

#activityPopup .modal-content {
    height: 100%;
}

#rankingRulePopup .modal-body,
#termsPopup .modal-body {
    height: 70%;
}
/*#rankingRulePopup .modal-header,
#termsPopup .modal-header,
#activityPopup .modal-header,
#editPersonalPopup .modal-header,
#healthyAssessPopup .modal-header{
  border-bottom: 1px solid #ccc;
}*/
#rankingRulePopup .modal-header h2,
#termsPopup .modal-header h2 ,
#activityPopup .modal-header h2,
#editPersonalPopup .modal-header h2{
  display: block;
  text-align: center;
  font-size: 16px;
  color: #383838;
  padding-left: 45px;
  margin: 15px 0 5px 0; 
}
#rankingRulePopup .modal-header a,
#termsPopup .modal-header a,
#activityPopup .modal-header a,
#coinPopup .modal-header a,
#editPersonalPopup .modal-header a{
  float: right;
}

#coinPopup .modal-header h2{
	display: block;
	font-size: 18px;
	line-height: 28px;
	text-align: center;
	color: #0074e1;
	margin: 15px auto;
	width: 72%;
	border-bottom: 1px solid #0074e1;
}
#coinPopup .modal-body{
	padding: 5px;
}
#coinPopup .modal-body .healthyAssess-popup,
#coinSuccessPopup .modal-body .healthyAssess-popup{
	padding: 0;
	width: 72%;
	margin: 5px auto;
}
#coinPopup .modal-body .total{
    background: url('../images/coin.png') 8vw no-repeat;
    background-size: 36px !important;
    background-origin: content-box;
    line-height: 36px;
    padding-left: 8vw;
    font-size: 24px;
}
#coinPopup .modal-body .detail{
	margin: 20px -20px;
    font-size: 16px;
    text-align: left;
}
#coinPopup .modal-body .remark{
    font-size: 12px;
    margin: 0 -20px;
    color: #8c8c8c;
}
#coinSuccessPopup .modal-body .detail{
	margin: 20px -20px;
}
#coinPopup .modal-body .detail span{
	width: 50%;
	text-align: right;
	font-size: 16px;
	display: inline-block;
}
#coinSuccessPopup .modal-body .detail span{
	color: #0074e1;
	margin: 0 5px;
}
#coinPopup .modal-body button,
#coinSuccessPopup .modal-body button{
	border: 0;
	background-color: #0074e1;
	color: white;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}
/** 悬赏任务 **/
#rewardTaskPopup .modal-header a{
  float: right;
}
#rewardTaskPopup .modal-header h2{
	display: block;
	font-size: 18px;
	line-height: 28px;
	text-align: left;
	color: #0074e1;
	margin: 15px auto 0;
	width: 72%;
	border-bottom: 1px solid #0074e1;
	font-weight: 900;
}
#rewardTaskPopup .modal-body{
	padding: 5px;
}
#rewardTaskPopup .modal-body .healthyAssess-popup{
	padding: 0;
	width: 72%;
	margin: 5px auto;
}
#rewardTaskPopup .modal-body .title{
	color: #0074e1;
	font-size: 14px;
	line-height: 28px;
}
#rewardTaskPopup .modal-body .total{
}
#rewardTaskPopup .modal-body .image{
	padding: 10px 0px;
}
#rewardTaskPopup .modal-body .image img{
	width: 64px;
}
#rewardTaskPopup .modal-body .text{
	font-size: 14px;
}
#rewardTaskPopup .modal-body .text img{
	width: 24px;
}
#rewardTaskPopup .modal-body .detail{
	clear: both;
	margin: 10px -20px;
	line-height: 22px;
    font-size: 14px;
}
#rewardTaskPopup .modal-body .btn{
	border: 0;
	background-color: #0074e1;
	color: white;
	height: 50px;
	width: 100%;
	border-radius: 5px;
	margin-bottom: 20px;
}
#rewardTaskPopup .modal-body .remark{
    font-size: 12px;
    margin: 0 -20px;
    color: #8c8c8c;
}
#rewardTaskPopup .step-two .image{
	float: left;
	width: 50%;
	padding-right: 10px;
	text-align: right;
}
#rewardTaskPopup .step-two .text{
	margin-left: 50%;
	line-height: 116px;
	padding-left: 10px;
	text-align: left;
}
#rewardTaskPopup .step-three .image{
	width: 64px;
	margin: 0 auto;
	position: relative;
}
#rewardTaskPopup .step-three .image i{
	position: absolute;
	bottom: 15px;
	right: -25px;
	color: #2bb673;
	font-weight: 900;
	font-size: 48px;
}
