/* padding top */

.content-top {
    padding-top: 60px;
}

.content-leftright {
    padding-left: 10px;
    padding-right: 10px;
}


/* padding top */


/*running redwoman*/

.running-human-area .run-red-woman .img-1 {
    animation: Aintrorun 1s infinite 0s;
    -webkit-animation: Aintrorun 1s infinite 0s;
    -moz-animation: Aintrorun 1s infinite 0s;
    -o-animation: Aintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-2 {
    animation: Bintrorun 1s infinite 0s;
    -webkit-animation: Bintrorun 1s infinite 0s;
    -moz-animation: Bintrorun 1s infinite 0s;
    -o-animation: Bintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-3 {
    animation: Cintrorun 1s infinite 0s;
    -webkit-animation: Cintrorun 1s infinite 0s;
    -moz-animation: Cintrorun 1s infinite 0s;
    -o-animation: Cintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-4 {
    animation: Dintrorun 1s infinite 0s;
    -webkit-animation: Dintrorun 1s infinite 0s;
    -moz-animation: Dintrorun 1s infinite 0s;
    -o-animation: Dintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-5 {
    animation: Eintrorun 1s infinite 0s;
    -webkit-animation: Eintrorun 1s infinite 0s;
    -moz-animation: Eintrorun 1s infinite 0s;
    -o-animation: Eintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-6 {
    animation: Fintrorun 1s infinite 0s;
    -webkit-animation: Fintrorun 1s infinite 0s;
    -moz-animation: Fintrorun 1s infinite 0s;
    -o-animation: Fintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-7 {
    animation: Gintrorun 1s infinite 0s;
    -webkit-animation: Gintrorun 1s infinite 0s;
    -moz-animation: Gintrorun 1s infinite 0s;
    -o-animation: Gintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-8 {
    animation: Hintrorun 1s infinite 0s;
    -webkit-animation: Hintrorun 1s infinite 0s;
    -moz-animation: Hintrorun 1s infinite 0s;
    -o-animation: Hintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-9 {
    animation: Iintrorun 1s infinite 0s;
    -webkit-animation: Iintrorun 1s infinite 0s;
    -moz-animation: Iintrorun 1s infinite 0s;
    -o-animation: Iintrorun 1s infinite 0s;
}

.running-human-area .run-red-woman .img-10 {
    animation: Jintrorun 1s infinite 0s;
    -webkit-animation: Jintrorun 1s infinite 0s;
    -moz-animation: Jintrorun 1s infinite 0s;
    -o-animation: Jintrorun 1s infinite 0s;
}


/*running redwoman*/


/*running blueman*/

.running-human-area .run-blue-man .img-1 {
    animation: Cintrorun 1s infinite 0s;
    -webkit-animation: Cintrorun 1s infinite 0s;
    -moz-animation: Cintrorun 1s infinite 0s;
    -o-animation: Cintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-2 {
    animation: Dintrorun 1s infinite 0s;
    -webkit-animation: Dintrorun 1s infinite 0s;
    -moz-animation: Dintrorun 1s infinite 0s;
    -o-animation: Dintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-3 {
    animation: Eintrorun 1s infinite 0s;
    -webkit-animation: Eintrorun 1s infinite 0s;
    -moz-animation: Eintrorun 1s infinite 0s;
    -o-animation: Eintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-4 {
    animation: Fintrorun 1s infinite 0s;
    -webkit-animation: Fintrorun 1s infinite 0s;
    -moz-animation: Fintrorun 1s infinite 0s;
    -o-animation: Fintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-5 {
    animation: Gintrorun 1s infinite 0s;
    -webkit-animation: Gintrorun 1s infinite 0s;
    -moz-animation: Gintrorun 1s infinite 0s;
    -o-animation: Gintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-6 {
    animation: Hintrorun 1s infinite 0s;
    -webkit-animation: Hintrorun 1s infinite 0s;
    -moz-animation: Hintrorun 1s infinite 0s;
    -o-animation: Hintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-7 {
    animation: Iintrorun 1s infinite 0s;
    -webkit-animation: Iintrorun 1s infinite 0s;
    -moz-animation: Iintrorun 1s infinite 0s;
    -o-animation: Iintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-8 {
    animation: Jintrorun 1s infinite 0s;
    -webkit-animation: Jintrorun 1s infinite 0s;
    -moz-animation: Jintrorun 1s infinite 0s;
    -o-animation: Jintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-9 {
    animation: Aintrorun 1s infinite 0s;
    -webkit-animation: Aintrorun 1s infinite 0s;
    -moz-animation: Aintrorun 1s infinite 0s;
    -o-animation: Aintrorun 1s infinite 0s;
}

.running-human-area .run-blue-man .img-10 {
    animation: Bintrorun 1s infinite 0s;
    -webkit-animation: Bintrorun 1s infinite 0s;
    -moz-animation: Bintrorun 1s infinite 0s;
    -o-animation: Bintrorun 1s infinite 0s;
}


/*running blueman*/


/*running whitewoman*/

.running-human-area .run-white-woman .img-1 {
    animation: Eintrorun 1s infinite 0s;
    -webkit-animation: Eintrorun 1s infinite 0s;
    -moz-animation: Eintrorun 1s infinite 0s;
    -o-animation: Eintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-2 {
    animation: Fintrorun 1s infinite 0s;
    -webkit-animation: Fintrorun 1s infinite 0s;
    -moz-animation: Fintrorun 1s infinite 0s;
    -o-animation: Fintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-3 {
    animation: Gintrorun 1s infinite 0s;
    -webkit-animation: Gintrorun 1s infinite 0s;
    -moz-animation: Gintrorun 1s infinite 0s;
    -o-animation: Gintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-4 {
    animation: Hintrorun 1s infinite 0s;
    -webkit-animation: Hintrorun 1s infinite 0s;
    -moz-animation: Hintrorun 1s infinite 0s;
    -o-animation: Hintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-5 {
    animation: Iintrorun 1s infinite 0s;
    -webkit-animation: Iintrorun 1s infinite 0s;
    -moz-animation: Iintrorun 1s infinite 0s;
    -o-animation: Iintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-6 {
    animation: Jintrorun 1s infinite 0s;
    -webkit-animation: Jintrorun 1s infinite 0s;
    -moz-animation: Jintrorun 1s infinite 0s;
    -o-animation: Jintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-7 {
    animation: Aintrorun 1s infinite 0s;
    -webkit-animation: Aintrorun 1s infinite 0s;
    -moz-animation: Aintrorun 1s infinite 0s;
    -o-animation: Aintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-8 {
    animation: Bintrorun 1s infinite 0s;
    -webkit-animation: Bintrorun 1s infinite 0s;
    -moz-animation: Bintrorun 1s infinite 0s;
    -o-animation: Bintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-9 {
    animation: Cintrorun 1s infinite 0s;
    -webkit-animation: Cintrorun 1s infinite 0s;
    -moz-animation: Cintrorun 1s infinite 0s;
    -o-animation: Cintrorun 1s infinite 0s;
}

.running-human-area .run-white-woman .img-10 {
    animation: Dintrorun 1s infinite 0s;
    -webkit-animation: Dintrorun 1s infinite 0s;
    -moz-animation: Dintrorun 1s infinite 0s;
    -o-animation: Dintrorun 1s infinite 0s;
}


/*running whitewoman*/


/*running green-man*/

.running-human-area .run-green-man .img-1 {
    animation: Hintrorun 1s infinite 0s;
    -webkit-animation: Hintrorun 1s infinite 0s;
    -moz-animation: Hintrorun 1s infinite 0s;
    -o-animation: Hintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-2 {
    animation: Iintrorun 1s infinite 0s;
    -webkit-animation: Iintrorun 1s infinite 0s;
    -moz-animation: Iintrorun 1s infinite 0s;
    -o-animation: Iintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-3 {
    animation: Jintrorun 1s infinite 0s;
    -webkit-animation: Jintrorun 1s infinite 0s;
    -moz-animation: Jintrorun 1s infinite 0s;
    -o-animation: Jintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-4 {
    animation: Aintrorun 1s infinite 0s;
    -webkit-animation: Aintrorun 1s infinite 0s;
    -moz-animation: Aintrorun 1s infinite 0s;
    -o-animation: Aintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-5 {
    animation: Bintrorun 1s infinite 0s;
    -webkit-animation: Bintrorun 1s infinite 0s;
    -moz-animation: Bintrorun 1s infinite 0s;
    -o-animation: Bintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-6 {
    animation: Cintrorun 1s infinite 0s;
    -webkit-animation: Cintrorun 1s infinite 0s;
    -moz-animation: Cintrorun 1s infinite 0s;
    -o-animation: Cintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-7 {
    animation: Dintrorun 1s infinite 0s;
    -webkit-animation: Dintrorun 1s infinite 0s;
    -moz-animation: Dintrorun 1s infinite 0s;
    -o-animation: Dintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-8 {
    animation: Eintrorun 1s infinite 0s;
    -webkit-animation: Eintrorun 1s infinite 0s;
    -moz-animation: Eintrorun 1s infinite 0s;
    -o-animation: Eintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-9 {
    animation: Fintrorun 1s infinite 0s;
    -webkit-animation: Fintrorun 1s infinite 0s;
    -moz-animation: Fintrorun 1s infinite 0s;
    -o-animation: Fintrorun 1s infinite 0s;
}

.running-human-area .run-green-man .img-10 {
    animation: Gintrorun 1s infinite 0s;
    -webkit-animation: Gintrorun 1s infinite 0s;
    -moz-animation: Gintrorun 1s infinite 0s;
    -o-animation: Gintrorun 1s infinite 0s;
}


/*running green-man*/


/*running yellowman*/

.running-human-area .run-yellow-man .img-1 {
    animation: Cintrorun 1s infinite 0s;
    -webkit-animation: Cintrorun 1s infinite 0s;
    -moz-animation: Cintrorun 1s infinite 0s;
    -o-animation: Cintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-2 {
    animation: Dintrorun 1s infinite 0s;
    -webkit-animation: Dintrorun 1s infinite 0s;
    -moz-animation: Dintrorun 1s infinite 0s;
    -o-animation: Dintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-3 {
    animation: Eintrorun 1s infinite 0s;
    -webkit-animation: Eintrorun 1s infinite 0s;
    -moz-animation: Eintrorun 1s infinite 0s;
    -o-animation: Eintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-4 {
    animation: Fintrorun 1s infinite 0s;
    -webkit-animation: Fintrorun 1s infinite 0s;
    -moz-animation: Fintrorun 1s infinite 0s;
    -o-animation: Fintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-5 {
    animation: Gintrorun 1s infinite 0s;
    -webkit-animation: Gintrorun 1s infinite 0s;
    -moz-animation: Gintrorun 1s infinite 0s;
    -o-animation: Gintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-6 {
    animation: Hintrorun 1s infinite 0s;
    -webkit-animation: Hintrorun 1s infinite 0s;
    -moz-animation: Hintrorun 1s infinite 0s;
    -o-animation: Hintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-7 {
    animation: Iintrorun 1s infinite 0s;
    -webkit-animation: Iintrorun 1s infinite 0s;
    -moz-animation: Iintrorun 1s infinite 0s;
    -o-animation: Iintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-8 {
    animation: Jintrorun 1s infinite 0s;
    -webkit-animation: Jintrorun 1s infinite 0s;
    -moz-animation: Jintrorun 1s infinite 0s;
    -o-animation: Jintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-9 {
    animation: Aintrorun 1s infinite 0s;
    -webkit-animation: Aintrorun 1s infinite 0s;
    -moz-animation: Aintrorun 1s infinite 0s;
    -o-animation: Aintrorun 1s infinite 0s;
}

.running-human-area .run-yellow-man .img-10 {
    animation: Bintrorun 1s infinite 0s;
    -webkit-animation: Bintrorun 1s infinite 0s;
    -moz-animation: Bintrorun 1s infinite 0s;
    -o-animation: Bintrorun 1s infinite 0s;
}


/*running yellowman*/


/*part-one in*/

.bg-img {
    animation: opacityIn 1s linear 1 0s, bgMove 11s linear 1 forwards 0s, opacityOut 0.5s linear 1 forwards 11s;
    -webkit-animation: opacityIn 1s linear 1 0s, bgMove 11s linear 1 forwards 0s, opacityOut 0.5s linear 1 forwards 11s;
    -moz-animation: opacityIn 1s linear 1 0s, bgMove 11s linear 1 forwards 0s, opacityOut 0.5s linear 1 forwards 11s;
    -o-animation: opacityIn 1s linear 1 0s, bgMove 11s linear 1 forwards 0s, opacityOut 0.5s linear 1 forwards 11s;
}

.part-one .top-content {
    opacity: 0;
    animation: opacityIn 2s linear 1 forwards 1s, opacityOut 0.5s linear 1 forwards 5s, fontMoveUp 0.5s linear 1 forwards 5s;
    -webkit-animation: opacityIn 2s linear 1 forwards 1s, opacityOut 0.5s linear 1 forwards 5s, fontMoveUp 0.5s linear 1 forwards 5s;
    -moz-animation: opacityIn 2s linear 1 forwards 1s, opacityOut 0.5s linear 1 forwards 5s, fontMoveUp 0.5s linear 1 forwards 5s;
    -o-animation: opacityIn 2s linear 1 forwards 1s, opacityOut 0.5s linear 1 forwards 5s, fontMoveUp 0.5s linear 1 forwards 5s;
}

.icon-bg-one {
    opacity: 0;
    animation: opacityIn 0.1s linear 1 forwards 0.5s, opacityOut 0.5s linear 1 forwards 5s, iconMoveUp 0.5s linear 1 forwards 5s;
    -webkit-animation: opacityIn 0.1s linear 1 forwards 0.5s, opacityOut 0.5s linear 1 forwards 5s, iconMoveUp 0.5s linear 1 forwards 5s;
    -moz-animation: opacityIn 0.1s linear 1 forwards 0.5s, opacityOut 0.5s linear 1 forwards 5s, iconMoveUp 0.5s linear 1 forwards 5s;
    -o-animation: opacityIn 0.1s linear 1 forwards 0.5s, opacityOut 0.5s linear 1 forwards 5s, iconMoveUp 0.5s linear 1 forwards 5s;
}

.run-red-woman {
    animation: redWIn 1s linear 1 forwards 0s, redWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -webkit-animation: redWIn 1s linear 1 forwards 0s, redWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -moz-animation: redWIn 1s linear 1 forwards 0s, redWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -o-animation: redWIn 1s linear 1 forwards 0s, redWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
}


/*part-one in*/


/*part-two in*/

.part-two .top-content {
    opacity: 0;
    animation: opacityIn 2s linear 1 forwards 7.5s, opacityOut 0.5s linear 1 forwards 11s, fontMoveUp 0.5s linear 1 forwards 11s;
    -webkit-animation: opacityIn 2s linear 1 forwards 7.5s, opacityOut 0.5s linear 1 forwards 11s, fontMoveUp 0.5s linear 1 forwards 11s;
    -moz-animation: opacityIn 2s linear 1 forwards 7.5s, opacityOut 0.5s linear 1 forwards 11s, fontMoveUp 0.5s linear 1 forwards 11s;
    -o-animation: opacityIn 2s linear 1 forwards 7.5s, opacityOut 0.5s linear 1 forwards 11s, fontMoveUp 0.5s linear 1 forwards 11s;
}

.icon-bg-two {
    opacity: 0;
    animation: opacityIn 0.1s linear 1 forwards 6s, opacityOut 0.5s linear 1 forwards 11s, iconMoveUp 0.5s linear 1 forwards 11s;
    -webkit-animation: opacityIn 0.1s linear 1 forwards 6s, opacityOut 0.5s linear 1 forwards 11s, iconMoveUp 0.5s linear 1 forwards 11s;
    -moz-animation: opacityIn 0.1s linear 1 forwards 6s, opacityOut 0.5s linear 1 forwards 11s, iconMoveUp 0.5s linear 1 forwards 11s;
    -o-animation: opacityIn 0.1s linear 1 forwards 6s, opacityOut 0.5s linear 1 forwards 11s, iconMoveUp 0.5s linear 1 forwards 11s;
}

.run-blue-man {
    left: -50%;
    animation: blueMIn 1s linear 1 forwards 5.2s, blueMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -webkit-animation: blueMIn 1s linear 1 forwards 5.2s, blueMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -moz-animation: blueMIn 1s linear 1 forwards 5.2s, blueMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -o-animation: blueMIn 1s linear 1 forwards 5.2s, blueMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
}

.run-yellow-man {
    left: -50%;
    animation: yellowMIn 1s linear 1 forwards 6s, yellowMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -moz-animation: yellowMIn 1s linear 1 forwards 6s, yellowMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -webkit-animation: yellowMIn 1s linear 1 forwards 6s, yellowMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -o-animation: yellowMIn 1s linear 1 forwards 6s, yellowMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
}

.run-green-man {
    left: -50%;
    animation: greenMIn 1s linear 1 forwards 6.2s, greenMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -webkit-animation: greenMIn 1s linear 1 forwards 6.2s, greenMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -moz-animation: greenMIn 1s linear 1 forwards 6.2s, greenMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -o-animation: greenMIn 1s linear 1 forwards 6.2s, greenMOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
}

.run-white-woman {
    left: -50%;
    animation: whiteWIn 1s linear 1 forwards 5s, whiteWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -webkit-animation: whiteWIn 1s linear 1 forwards 5s, whiteWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -moz-animation: whiteWIn 1s linear 1 forwards 5s, whiteWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
    -o-animation: whiteWIn 1s linear 1 forwards 5s, whiteWOut 0.5s linear 1 forwards 11s, opacityOut 0.01s linear 1 forwards 11.4s;
}


/*part-two in*/


/*part-three in*/

.part-three .top-content {
    opacity: 0;
    animation: opacityIn 2s linear 1 forwards 12s;
    -webkit-animation: opacityIn 2s linear 1 forwards 12s;
    -moz-animation: opacityIn 2s linear 1 forwards 12s;
    -o-animation: opacityIn 2s linear 1 forwards 12s;
}

.bg-img-three {
    opacity: 0;
    animation: opacityIn 2s linear 1 forwards 11s;
    -webkit-animation: opacityIn 2s linear 1 forwards 11s;
    -moz-animation: opacityIn 2s linear 1 forwards 11s;
    -o-animation: opacityIn 2s linear 1 forwards 11s;
}

.woman-red {
    opacity: 0;
    animation: opacityIn 0.5s linear 1 forwards 11s, redscaleOut 1s ease 1 forwards 11s;
    -webkit-animation: opacityIn 0.5s linear 1 forwards 11s, redscaleOut 1s ease 1 forwards 11s;
    -moz-animation: opacityIn 0.5s linear 1 forwards 11s, redscaleOut 1s ease 1 forwards 11s;
    -o-animation: opacityIn 0.5s linear 1 forwards 11s, redscaleOut 1s ease 1 forwards 11s;
}

.man-green {
    opacity: 0;
    animation: opacityIn 0.5s linear 1 forwards 11.2s, greenscaleOut 0.8s ease 1 forwards 11.2s;
    -webkit-animation: opacityIn 0.5s linear 1 forwards 11.2s, greenscaleOut 0.8s ease 1 forwards 11.2s;
    -moz-animation: opacityIn 0.5s linear 1 forwards 11.2s, greenscaleOut 0.8s ease 1 forwards 11.2s;
    -o-animation: opacityIn 0.5s linear 1 forwards 11.2s, greenscaleOut 0.8s ease 1 forwards 11.2s;
}

.man-yellow {
    opacity: 0;
    animation: opacityIn 0.4s linear 1 forwards 11.2s, yellowscaleOut 0.9s ease 1 forwards 11.2s;
    -webkit-animation: opacityIn 0.4s linear 1 forwards 11.2s, yellowscaleOut 0.9s ease 1 forwards 11.2s;
    -moz-animation: opacityIn 0.4s linear 1 forwards 11.2s, yellowscaleOut 0.9s ease 1 forwards 11.2s;
    -o-animation: opacityIn 0.4s linear 1 forwards 11.2s, yellowscaleOut 0.9s ease 1 forwards 11.2s;
}

.man-blue {
    opacity: 0;
    animation: opacityIn 0.5s linear 1 forwards 11.1s, bluescaleOut 0.9s ease 1 forwards 11.1s;
    -webkit-animation: opacityIn 0.5s linear 1 forwards 11.1s, bluescaleOut 0.9s ease 1 forwards 11.1s;
    -moz-animation: opacityIn 0.5s linear 1 forwards 11.1s, bluescaleOut 0.9s ease 1 forwards 11.1s;
    -o-animation: opacityIn 0.5s linear 1 forwards 11.1s, bluescaleOut 0.9s ease 1 forwards 11.1s;
}

.woman-white {
    opacity: 0;
    animation: opacityIn 0.3s linear 1 forwards 11.3s, whitescaleOut 1s ease 1 forwards 11.3s;
    -webkit-animation: opacityIn 0.3s linear 1 forwards 11.3s, whitescaleOut 1s ease 1 forwards 11.3s;
    -moz-animation: opacityIn 0.3s linear 1 forwards 11.3s, whitescaleOut 1s ease 1 forwards 11.3s;
    -o-animation: opacityIn 0.3s linear 1 forwards 11.3s, whitescaleOut 1s ease 1 forwards 11.3s;
}

.watch {
    opacity: 0;
    animation: opacityIn 1s linear 1 forwards 11.5s, watchUpIn 1s linear 1 forwards 11.5s;
    -webkit-animation: opacityIn 1s linear 1 forwards 11.5s, watchUpIn 1s linear 1 forwards 11.5s;
    -moz-animation: opacityIn 1s linear 1 forwards 11.5s, watchUpIn 1s linear 1 forwards 11.5s;
    -o-animation: opacityIn 1s linear 1 forwards 11.5s, watchUpIn 1s linear 1 forwards 11.5s;
}

a.use-backbtn {
    animation: opacityIn 1s linear 1 forwards 11.5s;
    -webkit-animation: opacityIn 1s linear 1 forwards 11.5s;
    -moz-animation: opacityIn 1s linear 1 forwards 11.5s;
    -o-animation: opacityIn 1s linear 1 forwards 11.5s;
}

.use-introduction .button-area button:first-child {
    opacity: 0;
    animation: opacityIn 1s linear 1 forwards 11.5s, buttonUpIn 1s linear 1 forwards 11.5s;
    -webkit-animation: opacityIn 1s linear 1 forwards 11.5s, buttonUpIn 1s linear 1 forwards 11.5s;
    -moz-animation: opacityIn 1s linear 1 forwards 11.5s, buttonUpIn 1s linear 1 forwards 11.5s;
    -o-animation: opacityIn 1s linear 1 forwards 11.5s, buttonUpIn 1s linear 1 forwards 11.5s;
}

.use-introduction .button-area button:last-child {
    opacity: 0;
    animation: opacityIn 1s linear 1 forwards 12s, buttonUpIn 1s linear 1 forwards 12s;
    -webkit-animation: opacityIn 1s linear 1 forwards 12s, buttonUpIn 1s linear 1 forwards 12s;
    -moz-animation: opacityIn 1s linear 1 forwards 12s, buttonUpIn 1s linear 1 forwards 12s;
    -o-animation: opacityIn 1s linear 1 forwards 12s, buttonUpIn 1s linear 1 forwards 12s;
}


/*part-three in*/

.use-introduction {
    a.use-backbtn {
        display: inline-block;
        z-index: 9999;
        opacity: 0;
    }
    .part-three {
        z-index: 999;
    }
    .top-content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding-top: 10%;
        color: #5d5d5d;
        font-weight: bold;
        z-index: 9;
    }
    .img-icon {
        color: #0074e1;
        font-size: 50pt;
        line-height: 40pt;
    }
    .font-area h2 {
        font-size: 18px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    .part-one .font-area h2 {
        margin-bottom: 15px;
        margin-top: 10px;
    }
    .font-area h3 {
        font-size: 16px;
        margin: 0 0 10px 0;
    }
    .part-one .font-area h3 {
        margin: 0 0 5px 0;
    }
    .center-content {
        position: absolute;
        top: 53%;
        left: 50%;
        width: 90%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        z-index: 0;
    }
    .icon-bg-one {
        background: url('../images/intro/icon-1.gif') no-repeat;
        background-size: auto 100%;
    }
    .icon-bg-two {
        background: url('../images/intro/icon-2.gif') no-repeat;
        background-size: auto 100%;
    }
    .running-human-area {
        width: 100%;
    }
    .running-human-area .responsive-img {
        position: absolute;
        width: 50%;
    }
    .running-human-area img {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .run-red-woman {
        bottom: 5%;
        left: 25%;
    }
    .run-red-woman img {
        z-index: 9;
    }
    .run-blue-man {
        bottom: 8%;
    }
    .run-blue-man img {
        z-index: 7;
    }
    .run-yellow-man {
        bottom: 6%;
        z-index: 8;
    }
    .run-green-man {
        bottom: 10%;
        z-index: 6;
    }
    .run-white-woman {
        bottom: 9%;
        z-index: 5;
    }
    .part-one .bg-img,
    .part-two .bg-img {
        position: absolute;
        bottom: 18%;
        width: 100%;
        height: 80px;
        background: url('../images/intro/BG_skyline.png') repeat-x;
        background-position: 0 0;
        background-size: auto 100%;
        z-index: 0;
    }
    @media(max-width: 320px) {
        .img-icon {
            font-size: 40pt;
        }
        .running-human-area div {
            bottom: 8%;
        }
        .center-content {
            top: 48%;
        }
        .top-content {
            padding-top: 5%;
        }
        .part-one .bg-img,
        .part-two .bg-img {
            height: 60px;
            bottom: 18%;
        }
        .run-red-woman {
            bottom: 3%;
        }
        .run-blue-man {
            bottom: 6%;
        }
        .run-yellow-man {
            bottom: 4%;
        }
        .run-green-man {
            bottom: 8%;
        }
        .run-white-woman {
            bottom: 7%;
        }
    }
    .bottom-content {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .img-area {
        position: relative;
        width: 100%;
        height: 40%;
    }
    .watch {
        position: absolute;
        bottom: 0;
        right: 6%;
        width: 38%;
        z-index: 10;
    }
    .bg-img-three {
        position: absolute;
        bottom: 40px;
        width: 100%;
        height: 80px;
        background: url('../images/intro/BG_skyline.png') repeat-x;
        background-position: 0 0;
        background-size: auto 100%;
        z-index: 0;
    }
    .human {
        width: 40%;
        margin-left: 2%;
    }
    .human span {
        position: absolute;
        bottom: 0;
        display: inline-block;
        z-index: 7;
    }
    .woman-red {
        width: 0%;
        left: 17%;
    }
    .man-green {
        width: 0%;
        left: 14%;
        bottom: 10px !important;
    }
    .man-yellow {
        width: 0%;
        left: 5%;
        bottom: 10px !important;
    }
    .man-blue {
        width: 0%;
        left: 33%;
        bottom: 12px !important;
    }
    .woman-white {
        width: 0%;
        bottom: 15px !important;
    }
    .button-area {
        padding: 5% 15px 2% 15px;
        z-index: 10;
    }
    .button-area .long-button {
        position: relative;
        display: block;
        margin-bottom: 3%;
        left: 0;
        /* box-shadow: 0 3px 4px #bababa;*/
        z-index: 101;
    }
}

.bind-telphone {
    position: fixed;
    top: 44px;
    left: 0;
    width: 100%;
    overflow: auto;
    padding: 10px 15px 0 15px;
    color: #5d5d5d;
    h3 {
        text-align: center;
        margin: 15px 0;
        font-size: 16px;
    }
    .from-line input {
        width: 46%;
        border: none;
        padding: 0 3px;
        background: transparent;
    }
    .from-line input:last-child {
        width: 70%;
        border: none;
        padding: 0 3px;
        background: transparent;
    }
    .from-line.validate-input label {
        line-height: 27px;
    }
    .from-line.validate-input input {
        margin-top: 4px;
    }
    div.get-validate {
    	position: absolute;
    	right: 10px;
    	top: 10px;
        display: inline-block;
        padding: 5px 10px;
        border: none;
        background: rgba(138, 138, 138, 0.7);
        border-radius: 3px;
        font-size: 12px;
        color: #ffffff;
        cursor: pointer;
    }
    div.telphone-right {
        background: #0074e1 !important;
    }
    .from-line {
        margin: 10px 0;
        padding: 14px 10px;
        width: 100%;
        border: 1px solid #0074e1;
        border-radius: 5px;
    }
    .from-line.validate-input {
        padding: 10px;
        position: relative;
    }
    .from-line label {
        display: inline-block;
        text-align: right;
    }
    .button-area {
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .accept-content i {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
        background: #0074e1;
        border-radius: 3px;
        color: #fff;
        text-align: center;
        line-height: 20px;
    }
    .accept-content .uncheacked i {
        color: #fff;
        background: rgba(138, 138, 138, 0.7);
    }
    .accept-content i.uncheacked:before {
        content: " ";
    }
    .accept-content input[type=checkbox] {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: none;
        background: rgba(138, 138, 138, 0.7);
        border-radius: 3px;
    }
    @media(max-width: 320px) {
        .from-line input:last-child {
            width: 70%;
        }
        .from-line input {
            width: 40%;
        }
    }
    .tips{
        font-size: 14px;
        color: #888;
        line-height: 22px;
    }
}


/* personal popup */

.modify-tel {
    position: inherit !important;
    padding: 0 15px 15px 15px;
    font-size: 14px;
    h3 {
        margin-top: 0;
        font-size: 18px;
    }
    .from-line input:last-child {
        width: 65%;
    }
    .button-area {
        padding-top: 5px;
        padding-bottom: 0;
    }
    @media(max-width:320px) {
        .from-line {
            padding: 10px 5px;
        }
        div.get-validate {
            padding: 5px;
        }
        .from-line input {
            width: 90px;
        }
        .from-line input:last-child {
            width: 60%;
        }
        .button-area {
            padding-bottom: 10px;
        }
    }
}


/* personal popup */

.tutorial {
    padding-top: 54px;
    padding-left: 15px;
    padding-right: 15px;
    .tutorial-items {
        padding: 20px 0;
        background: url('../images/ranking-content-bg.png') no-repeat bottom center;
        background-size: 100% auto !important;
    }
    .title {
        display: table;
        width: 100%;
        font-size: 16px;
        color: #5d5d5d;
    }
    .title span {
        display: inline-block;
        color: #0074e1;
    }
    .icon-down {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .icon-up {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
    }
    .content {
        padding: 0 18px;
        color: #8a8a8a;
        font-size: 14px;
    }
    .content li {
        position: relative;
        padding: 10px 0 0 15px;
    }
    .content li:before {
        content: "";
        position: absolute;
        top: 16px;
        left: 0;
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #dcdcdc;
    }
    .item-steps {
        padding-top: 5px;
    }
    .item-steps span {
        display: block;
        border: 1px solid #8a8a8a;
        width: 55%;
        padding: 7px 10px;
        margin: 3px auto;
        border-radius: 5px;
        color: #565656;
    }
    .item-steps b {
        display: inline-block;
        color: #0074e1;
        vertical-align: -1px;
        transform: rotate(90deg);
    }
}

.feed-book {
    padding-top: 54px;
    padding-left: 15px;
    padding-right: 15px;
    h2 {
        margin-bottom: 20px;
        color: #5d5d5d;
        font-size: 16px;
    }
    textarea {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #0074e1;
        padding: 10px;
        color: #000;
        font-size: 14px;
    }
    .button-area {
        padding-top: 40px;
    }
    @media(max-width: 320px) {
        .button-area {
            padding-top: 20px;
        }
    }
}

.terms {
    padding: 15px 15px;
    font-size: 18px;
    line-height: 26px;
    font-size: 14px;
    p {
        text-indent: 36px;
        font-size: 14px;
    }
    h2 {
        font-size: 16px;
        font-weight: bold;
    }
    h3 {
        font-size: 14px;
        margin-top: 0;
        font-weight: bold;
    }
}

.managemant {
    .control-btn a {
        display: inline-block;
        width: 44px;
        height: 30px;
        background: url('../images/btn_switch_off.png') no-repeat;
        background-size: cover !important;
    }
    .control-btn a.on {
        background: url('../images/btn_switch_on.png') no-repeat;
    }
}
