$ht-border: 1px solid #E5E5E5;
$bg-color: #0074e1;
$light-color: #cdebfc;

.test-portal{
    padding-top: 44px;
    section{
        padding: 12px 18px;
        border-bottom: $ht-border;
        overflow: auto;
        div{
            font-size: 15px;
            display: table-cell;
            vertical-align: middle;
            &.img{
                width: 110px;
                height: 110px;
                text-align: center;
                background-color: $light-color;
                position: relative;
                border-radius: 10px;
                i{
                    background-image: url('../images/test/mark.png');
                    display: block;
                    position: absolute;
                    width: 22px;
                    background-size: cover;
                    color: white;
                    line-height: 26.5px;
                    left: 8px;
                    top: -4px;
                    font-size: 12px;
                }
            }
            &.text{
                padding-left: 15px;
            }
            header{
                color: $bg-color;
                font-size: 16px;
                line-height: 32px;
            }
        }
    }
}

.age-gender{
    padding-top: 44px;
    text-align: center;
    section{
        padding: 32px 18px 8px 18px;
        .choise{
            display: flex;
            border-radius: 5px;
            overflow: hidden;
            margin: 18px 0;
            a{
                flex: 1;
                background-color: #cdebfc;
                line-height: 38px;
                &.cur{
                    background-color: $bg-color;
                    color: white;
                }
            }
            div{
                flex: 1;
            }
            img{
                width: 27vw;
                display: block;
                margin: 0 auto 16px auto;
            }
        }
        header{
            color: $bg-color;
        }
    }
}

.western-test{
    padding: 54px 0;
    .test{
        padding: 8px 18px;
        article{
            padding-bottom: 12px;
            header{
                font-size: 15px;
                line-height: 36px;
            }
            .long-button{
                text-align: center;
            }
            div{
                border: $ht-border;
                border-radius: 5px;
                line-height: 36px;
                &.choise{
                    a{
                        display: block;
                        border-bottom: $ht-border;
                        &:last-child{
                            border-bottom: none;
                        }
                        span{
                            display: inline-block;
                            margin: 0 22px;
                            width: 22px;
                            height: 22px;
                            border: $ht-border;
                            border-width: 2px;
                            border-radius: 11px;
                            vertical-align: middle;
                            padding: 2px;
                            em{
                                width: 14px;
                                height: 14px;
                                background-color: $bg-color;
                                border-radius: 7px;
                                display: block;
                            }
                        }
                    }
                }
                &.mobi{
                    section{
                        text-align: center;
                    }
                    input,ul{
                        display: none;
                    }
                }
            }
        }
    }
}

.western-quiz-report{
    header.header{
        height: 37.6vw;
        background-size: cover;
        padding: 12px;
        section{
            overflow: auto;
        }
        .test-btn{
            .pull-right{
                font-size: 12px;
                color: #0074e1;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                display: block;
                padding: 0px 6px;
            }
        }
        .score{
            color: white;
            padding: 0 45px;
            text-shadow: 0 0px 10px #777;
            em{
                font-size: 36px;
            }
            div{
                float: left;
                line-height: 12vw;
            }
        }
        .progress{
            position: relative;
            padding: 0 33px;
            height: 80px;
            overflow: hidden;
            .bar{
                position: absolute;
                width: 100vw;
                padding-right: 94px;
                top: 4px;
                left: 35px;
                z-index: 3;
                display: flex;
                progress{
                    flex: 1;
                    padding: 2px 0;
                    height: 8px;
                    background-color: #fff;
                    &::-moz-progress-bar{
                        background-color: $bg-color;
                    }
                    &::-webkit-progress-bar {
                        background-color: #fff;
                    }
                    &::-webkit-progress-value {
                        background-color: $bg-color;
                    }
                }
            }
            .remark{
                display: flex;
                color: white;
                text-align: center;
                width: 100vw;
                padding-right: 82px;
                left: 29px;
                position: absolute;
                z-index: 5;
                div{
                    flex: 2;
                    &:first-child{
                        flex: 1;
                        text-align: left;
                    }
                    &:last-child{
                        flex: 1;
                        text-align: right;
                    }
                }
                span{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    border-radius: 8px;
                    div{
                        width: 12px;
                        height: 12px;
                        border-radius: 6px;
                        background-color: $bg-color;
                        margin: 2px;
                    }
                }
                &.bg{
                    z-index: 1;
                    span{
                        background-color: white;
                    }
                }
            }
        }
    }
    .perfect{
        h4{
            text-align: center;
        }
        header{
            font-size: 16px;
            line-height: 32px;
        }
        article{
            margin: 5px 10px;
            padding-bottom: 10px;
        }
    }
}
