$ht-border: 1px solid #E5E5E5;
$bg-color: #0074e1;
$darkColor: #373737;
$blueColor: #5897ea;

@mixin hot-topic-list{
    ul{
        padding: 3px 0;
        li{
            height: 69px;
            border-left: 3px solid $blueColor;
            border-top: 3px solid white;
            border-bottom: 3px solid white;
            margin: 7px 0;
            padding-left: 12px;
            position: relative;
            header{
                margin-top: 5px;
                font-size: 14px;
                color: $darkColor;
            }
            article{
                font-size: 13px;
                color: #8c8c8c;
                width: calc(100vw - 130px);
            }
            img{
                height: 69px;
                position: absolute;
                top: -3px;
                right: 11px;
                border-radius: 5px;
            }
        }
    }
}

.topic-main{
    padding: 44px 15px 60px 15px;
    &.list{
        padding: 44px 0 60px 0;
        @include hot-topic-list;
    }
    &.detail{
        i{
            vertical-align: text-top;
            &.icon-thumb-up,&.icon-thumb-up2{
                font-size: 24px;
                vertical-align: sub;
            }
            &.icon-primitive-dot{
                width: 15px;
                display: inline-block;
            }
        }
        >header{
            margin: 5px 0;
            font-size: 18px;
            line-height: 36px;
            header{
                font-weight: bold;
                display: inline-block;
            }
            section{
                font-size: 14px;
                float: right;
            }
        }
        hr{
                height: 0;
                border-top: 1px solid $darkColor;
                margin: 0;
        }
        >section{
            margin-bottom: 5px;
            img{
                width: 80vw;
                display: block;
                margin: 0 auto;
            }
            article{
                margin-bottom: 15px;
                margin-left: 15px;
            }
            header{
                margin: 5px 0;
                font-size: 16px;
                font-weight: bold;
            }
            ul{
                margin-left: 30px;
                list-style: disc;
                li{
                    padding-left: 5px;
                }
            }
        }
    }
    >a>img{
        margin: 0 -15px;
        width: 100vw;
    }
}
