$ht-border: 1px solid #E5E5E5;
$bg-color: #0074e1;

.ht-main{
    color: #5d5d5d;
    padding: 44px 15px 60px 15px;
    .hint{
        font-size: 12px;
        color: #898989;
    }
    &.list{
        font-size: 16px;
        section{
            position: relative;
            display: inline-block;
            width: 48%;
            float: left;
            border-radius: 8px;
            margin-top: 15px;
            overflow: hidden;
            &:nth-child(even){
                float: right;
            }
        }
        img{
            width: 100%;
        }
        header{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 6px 0;
            background: rgba(16, 125, 182, 0.4);
            color: #fff;
            text-align: center;
        }
        .mark{
        	width: 70px;
        	background-color: red;
        	top: 0px;
        	right: -20px;
        	position: absolute;
        	transform: rotate(45deg);
        	color: #fff;
        	padding-left: 9px;
        	line-height: 20px;
        	text-align: center;
        	font-size: 12px;
        	div{
        		transform: rotate(-45deg);
        	}
        }
    }
    &.detail{
        font-size: 14px;
        line-height: 1.6em;
        header{
            font-size: 16px;
            line-height: 2.2em;
            position: relative;
            img:first-child{
                height: 1em;
                margin-right: 10px;
            }
        }
        >img,>a>img{
            margin: 0px -15px;
            width: 100vw;
        }
        >article{
            margin: 20px 0px;
        }
        section{
            margin-bottom: 10px;
            header{
                border: $ht-border;
                border-radius: 8px;
                i{
                    color: #FE9812;
                    margin: 0 10px;
                }
                .icon-chevron-thin-down{
                    position: absolute;
                    right: 5px;
                    top: calc(50% - 0.5em);
                    color: #aaa;
                    will-change: transform;
                }
            }
            article{
                transform: scaleY(0);
                transform-origin: top;
                transition: none;
                position: absolute;
                padding: 14px 14px 4px 14px;
                border: $ht-border;
                border-top: none;
                border-radius: 0 0 8px 8px;
                will-change: transform;
            }
            &.on{
                header{
                    border-radius: 8px 8px 0 0;
                    background-color: #FAFAFA;
                }
                article{
                    transform: scaleY(1);
                    transition: all 0.3s;
                    position: relative;
                }
                .icon-chevron-thin-down{
                    transform: rotate(180deg);
                    transition: all 0.3s;
                }
            }
        }
        div{
            border: $ht-border;
            border-radius: 8px;
            header{
                font-size: 14px;
                line-height: 36px;
                border-top: $ht-border;
                padding-right: 29px;
                &:first-child{
                    border-top: none;
                }
                &::before{
                    content: " ";
                    display: inline-block;
                    width: 3px;
                    height: 0.8em;
                    background-color: $bg-color;
                    margin: 0 3px 0 10px;
                }
                i{
                    color: #aaa;
                    position: absolute;
                    right: 15px;
                    top: 11px;
                }
            }
        }
    }
    &.info{
        font-size: 14px;
        line-height: 1.6em;
        >header{
            margin: 10px 0;
            header{
            	font-weight: bold;
                font-size: 18px;
                line-height: 2em;
            }
        }
        section{
            margin-bottom: 5px;
            img{
                width: 80%;
                display: block;
                margin: 0 auto;
                &.img_w{
                	width: 100%;
                }
            }
            article{
            	text-indent: 2em;
	            margin-bottom: 15px;
            }
            header{
            	font-size: 15px;
            	font-weight: bold;
            }
        }
    }
    &.act{
    	section{
    		margin-top: 15px;
    		border: $ht-border;
    		border-radius: 5px;
    		header{
    			border-bottom: $ht-border;
    			background-color: #fafafa;
    			font-size: 17px;
    			line-height: 37px;
    			padding-left: 34px;
    			background-size: 16px;
    			background-repeat: no-repeat;
    			background-position: 10px 10px;
    			&.insure{
    				background-image: url('../images/trouble/insure.png');
    			}
    			&.booking{
    				background-image: url('../images/trouble/booking.png');
    			}
    		}
    		article{
    			font-size: 16px;
    			line-height: 26px;
    			margin: 15px;
    			div{
    				text-indent: 2em;
    			}
    		}
    		button{
    			margin: 0px 15px 20px 15px;
    			line-height: 38px;
    			background-color: $bg-color;
    			color: white;
    			border: 1px solid #0061BC;
    			border-radius: 5px;
    			width: calc(100% - 30px);
    		}
    	}
    }
}

#booking{
	*{
		font-size: 16px;
	}
	.modal-header h2{
		display: block;
		text-align: center;
		font-size: 16px;
		color: #383838;
		border-bottom: $ht-border;
		padding: 14px 0px 12px 44px;
		margin: 0px;
	}
	a{
		float: right;
	}
	section{
		border: $ht-border;
		border-radius: 5px;
		padding: 10px;
		margin-bottom: 15px;
		overflow: auto;
		span.btn{
			float: right;
			width: 80px;
			&.cur{
				background-color: $bg-color;
				color: white;
			}
		}
		input{
			text-align: right;
			border: none;
			float: right;
		}
		label{
			float: left;
		}
	}
	.button-area {
	    padding-top: 0px;
	}
}