<style>

    .jog-group-message {
        padding-top: 44px;
    }

    ul.ranking-content {
        padding: 0;
        box-shadow: none;
    }

    ul.ranking-content li {
        position: relative;
        font-size: 14px;
        padding: 10px 0 0 0;
        border: none;
        background: url("images/jog/bg-jog-border.png") no-repeat bottom;
        background-size: contain;
    }

    .item-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #e60012;
        margin-top: -10px;
        z-index: 0;
    }
    .item-bg .bg-button-area {
        display: table;
        height: 100%;
        float: right;
        padding: 15px;
        color: #fff;
    }
    .item-bg .bg-button-area p {
        display: table-cell;
        vertical-align: middle;
    }

    .item-panel {
        display: table;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 5px 0;
        margin-top: -10px;
        transition: all 500ms;
        -moz-transition: all 500ms;	/* Firefox 4 */
        -webkit-transition: all 500ms;	/* Safari 和 Chrome */
        -o-transition: all 500ms;	/* Opera */

        background: #fff url("images/jog/bg-jog-border.png") no-repeat bottom;
        background-size: contain;
    }

    .item-panel.move-left {
        transform:translate(-58px);
    }

    .item-list-icon img {
        width: 36px;
    }

    .item-operation {
        width: 135px;
        padding-right: 15px;
    }
    .item-operation .middle-button {
        font-size: 12px;
        width: 56px;
        height: 31px;
        margin: 5px 2px 0 0;
    }
    .item-operation .middle-button.reject {
        background: transparent;
        border: 1px solid #ff1313;
        color: #ff1313;
    }

    .more-link-arrow i {
        font-size: 14px;
        vertical-align: 1px;
        color: #a6a6a6;
        line-height: 55px;
    }

    .item-content {
        padding-left: 15px;
    }
    .item-content p {
        margin: 0;
    }
    .item-content .name {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        line-height: 2;
        width: 170px;
    }
    .item-content .time {
        font-size: 12px;
        color: #929292;
        line-height: 2;
    }
    .item-content .info {
        font-size: 12px;
        color: #929292;
        line-height: 2;
    }
    .item-content .reason {
        font-size: 12px;
        color: #929292;
        line-height: 1.4;
    }

    .item-hint p {
        padding-right: 15px;
        color: #b3b3b3;
        font-size: 12px;
    }
	.item-panel .tdcell:last-child{
		min-width: 80px;
	}
</style>
<div class="jog-group-message">
    <ul class="ranking-content view-code-content">

        <li ng-repeat="item in groupMessages" ng-if="item.action!=10">
            <div class="item-bg">
                <div class="bg-button-area" ng-click="deleteClick(item)">
                    <p>删除</p>
                </div>
            </div>
            <div class="item-panel" hm-swipe="onHammer"  hm-recognizer-options='[{"type":"swipe","directions":"DIRECTION_HORIZONTAL"}]'>
            	<!-- 团长 -->
                <div ng-if="(item.action==1 || item.action==2 || item.action==3 || item.action==4) && item.isHead!=0" class="tdcell item-content">
                    <div>
                        <p class="name" ng-bind="item.userName"></p>
                        <p class="info">申请加入<span ng-bind="item.groupName"></span></p>
                        <p class="reason">加入的理由是<span ng-bind="item.reasons"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <div ng-if="item.action==3&&item.isHead!=0" class="tdcell text-right item-operation">
                    <button class="middle-button" ng-click="acceptClick(item)">同意</button>
                    <button class="middle-button reject" ng-click="refuseClick(item)">拒绝</button>
                </div>
                <div ng-if="item.action==1&&item.isHead!=0" class="tdcell text-right item-hint">
                    <p>已同意</p>
                </div>
                <div ng-if="item.action==2&&item.isHead!=0" class="tdcell text-right item-hint">
                    <p>已拒绝</p>
                </div>
                <div ng-if="item.action==4&&item.isHead!=0" class="tdcell text-right item-hint">
                    <p>已撤销申请</p>
                </div>
                <div ng-if="item.action==7&&item.isHead!=0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info"><span ng-bind="item.userName"></span>已退出<span ng-bind="item.groupName"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <div ng-if="item.action==5&&item.isHead!=0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info">您已成为<span ng-bind="item.groupName"></span>跑团新团长</p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <!-- 团员 -->
                <div ng-if="item.action==6&&item.isHead==0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info">您已被移出<span ng-bind="item.groupName"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <div ng-if="item.action==1&&item.isHead==0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info">您已加入<span ng-bind="item.groupName"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <div ng-if="item.action==2&&item.isHead==0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info">您被拒绝加入<span ng-bind="item.groupName"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
                <div ng-if="item.action==3&&item.isHead==0" class="tdcell item-content">
                    <div>
                        <p class="name">系统消息</p>
                        <p class="info">您已申请<span ng-bind="item.groupName"></span></p>
                        <p class="time">{{item.updateTime}}</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>

</div>

