<style type="text/css">

    .create-jog-group {
        padding-top: 44px;
    }

    ul.ranking-content {
        padding: 0 15px;
        box-shadow: none;
    }

    ul.ranking-content li {
        font-size: 16px;
    }

    .item-list-icon {
        width: 28px;
        color: #8a8a8a;
    }

    .item-list-icon img {
        width: 19px;
    }

    .item-list-icon i {
        vertical-align: -3px;
        font-size: 26px;
    }

    .item-list-icon i.icon-user {
        font-size: 23px !important;
    }

    .more-link-arrow {}
    .more-link-arrow span {
        font-size: 12px;
        color: #a6a6a6;
        vertical-align: 3px;
    }
    .more-link-arrow i {
        font-size: 14px;
        vertical-align: 1px;
        color: #a6a6a6;
    }

    .ranking-content li .tdcell.textinput {
        width: 65%;
    }

    .ranking-content li .input-text {
        width: 100%;
        font-size: 12px;
        border-color: #fff;
        height: 28px;
        text-align: right;
    }

    .button-area {
        padding-left: 15px;
        padding-right: 15px;
    }

    .create-jog-group-ok {
        display: none;
        padding-top: 44px;
    }

    .message {
        padding: 15px;
        line-height: 15px;
        color: #929292;
        font-size: 12px;
    }

    .message img {
        width: 36px;
        height: 36px;
        float: left;
        margin: 0 10px;
    }

    .button-area {
        padding-left: 15px;
        padding-right: 15px;
    }

    .healthyAssess-popup input {
        font-size: 14px;
        width: 100%;
        border: 1px solid #eaeaea;
        height: 30px;
    }
    .healthyAssess-popup .button-area {
        padding-left: 0;
        padding-right: 0;
    }
    /*分享对话框样式*/
    #shareLinkPopup .modal-header {
        display: none;
    }
    #shareLinkPopup .modal-body {
        border-radius: 6px;
    }
    .healthyAssess-popup.share-dialog {
        background: #e7e7e7;
    }
    .healthyAssess-popup.share-dialog .link {
        display: flex;
        display: -webkit-flex;
        margin: 10px;
    }
    .healthyAssess-popup.share-dialog input{
        border-radius: 5px;
        height: 40px;
        padding: 0 5px;
    }
    .healthyAssess-popup.share-dialog .link img {
        width: 60px;
        height: 60px;
        margin-right: 5px;
    }
    .healthyAssess-popup.share-dialog .link .title {
        text-align: left;
        font-size: 14px;
    }
    .healthyAssess-popup.share-dialog .link .info {
        text-align: left;
        color: #929292;
        font-size: 12px;
    }
    .healthyAssess-popup.share-dialog .button-area {}
    .fixedTopmenu{
    	position: absolute;
    }
</style>
<div id="create_jog_group" class="create-jog-group">
    <ul class="ranking-content view-code-content">
        <li>
            <div class="tdcell item-list-icon">
                <img src="images/jog/icon-jog-id-2.png">
            </div>
            <div class="tdcell">跑团名称</div>
            <div class="tdcell textinput">
                <input class="input-text" type="text" placeholder="请输入跑团名称" ng-model="groupName" ng-change="groupNameCheck();" ng-blur="groupNameCheckReg();"/>
            </div>
        </li>
        <li ng-click="selectCity();">
            <div class="tdcell item-list-icon">
                <img src="images/jog/icon-jog-location-2.png">
            </div>
            <div class="tdcell">所在城市</div>
            <div class="tdcell text-right more-link-arrow">
            	<span ng-bind="curProvinceName"></span>
            	<span ng-bind="curCityName"></span>
            	<i class="icon-arrow"></i>
            </div>
        </li>
        <li class="city-area" style="display: none;">
            <ul id="cityList">
                                <li>北京
                                    <ul>
                                        <li>北京</li>
                                    </ul>
                                </li>
                                <li>上海
                                    <ul>
                                        <li>上海</li>
                                    </ul>
                                </li>
                                <li>广东
                                    <ul>
                                        <li>广州</li>
                                        <li>深圳</li>
                                        <li>潮州</li>
                                        <li>东莞</li>
                                        <li>佛山</li>
                                        <li>河源</li>
                                        <li>惠州</li>
                                        <li>江门</li>
                                        <li>揭阳</li>
                                        <li>茂名</li>
                                        <li>梅州</li>
                                        <li>清远</li>
                                        <li>汕头</li>
                                        <li>汕尾</li>
                                        <li>韶关</li>
                                        <li>阳江</li>
                                        <li>云浮</li>
                                        <li>湛江</li>
                                        <li>肇庆</li>
                                        <li>中山</li>
                                        <li>珠海</li>
                                    </ul>
                                </li>
                                <li>安徽
                                    <ul>
                                        <li>安庆</li>
                                        <li>蚌埠</li>
                                        <li>亳州</li>
                                        <li>巢湖</li>
                                        <li>池州</li>
                                        <li>滁州</li>
                                        <li>阜阳</li>
                                        <li>合肥</li>
                                        <li>淮北</li>
                                        <li>淮南</li>
                                        <li>黄山</li>
                                        <li>六安</li>
                                        <li>马鞍山</li>
                                        <li>宿州</li>
                                        <li>铜陵</li>
                                        <li>芜湖</li>
                                        <li>宣城</li>
                                    </ul>
                                </li>
                                <li>澳门
                                    <ul>
                                        <li>澳门</li>
                                    </ul>
                                </li>
                                <li>重庆
                                    <ul>
                                        <li>重庆</li>
                                    </ul>
                                </li>
                                <li>福建
                                    <ul>
                                        <li>福州</li>
                                        <li>龙岩</li>
                                        <li>南平</li>
                                        <li>宁德</li>
                                        <li>莆田</li>
                                        <li>泉州</li>
                                        <li>三明</li>
                                        <li>厦门</li>
                                        <li>漳州</li>
                                    </ul>
                                </li>
                                <li>甘肃
                                    <ul>
                                        <li>白银</li>
                                        <li>定西</li>
                                        <li>甘南</li>
                                        <li>嘉峪关</li>
                                        <li>金昌</li>
                                        <li>酒泉</li>
                                        <li>兰州</li>
                                        <li>临夏</li>
                                        <li>陇南</li>
                                        <li>平凉</li>
                                        <li>庆阳</li>
                                        <li>天水</li>
                                        <li>武威</li>
                                        <li>张掖</li>
                                    </ul>
                                </li>
                                <li>广西
                                    <ul>
                                        <li>百色</li>
                                        <li>北海</li>
                                        <li>崇左</li>
                                        <li>防城港</li>
                                        <li>贵港</li>
                                        <li>桂林</li>
                                        <li>河池</li>
                                        <li>贺州</li>
                                        <li>来宾</li>
                                        <li>柳州</li>
                                        <li>南宁</li>
                                        <li>钦州</li>
                                        <li>梧州</li>
                                        <li>玉林</li>
                                    </ul>
                                </li>
                                <li>贵州
                                    <ul>
                                        <li>安顺</li>
                                        <li>毕节</li>
                                        <li>贵阳</li>
                                        <li>六盘水</li>
                                        <li>黔东南</li>
                                        <li>黔南</li>
                                        <li>黔西南</li>
                                        <li>铜仁</li>
                                        <li>遵义</li>
                                    </ul>
                                </li>
                                <li>海南
                                    <ul>
                                        <li>白沙</li>
                                        <li>保亭</li>
                                        <li>昌江</li>
                                        <li>澄迈</li>
                                        <li>儋州</li>
                                        <li>定安</li>
                                        <li>东方</li>
                                        <li>海口</li>
                                        <li>乐东</li>
                                        <li>临高</li>
                                        <li>陵水</li>
                                        <li>南沙</li>
                                        <li>琼海</li>
                                        <li>琼中</li>
                                        <li>三亚</li>
                                        <li>屯昌</li>
                                        <li>万宁</li>
                                        <li>文昌</li>
                                        <li>五指山</li>
                                        <li>西沙</li>
                                    </ul>
                                </li>
                                <li>河北
                                    <ul>
                                        <li>保定</li>
                                        <li>沧州</li>
                                        <li>承德</li>
                                        <li>邯郸</li>
                                        <li>衡水</li>
                                        <li>廊坊</li>
                                        <li>秦皇岛</li>
                                        <li>石家庄</li>
                                        <li>唐山</li>
                                        <li>邢台</li>
                                        <li>张家口</li>
                                    </ul>
                                </li>
                                <li>河南
                                    <ul>
                                        <li>安阳</li>
                                        <li>鹤壁</li>
                                        <li>济源</li>
                                        <li>焦作</li>
                                        <li>开封</li>
                                        <li>洛阳</li>
                                        <li>漯河</li>
                                        <li>南阳</li>
                                        <li>平顶山</li>
                                        <li>濮阳</li>
                                        <li>三门峡</li>
                                        <li>商丘</li>
                                        <li>新乡</li>
                                        <li>信阳</li>
                                        <li>许昌</li>
                                        <li>郑州</li>
                                        <li>周口</li>
                                        <li>驻马店</li>
                                    </ul>
                                </li>
                                <li>黑龙江
                                    <ul>
                                        <li>大庆</li>
                                        <li>大兴安岭</li>
                                        <li>哈尔滨</li>
                                        <li>鹤岗</li>
                                        <li>黑河</li>
                                        <li>鸡西</li>
                                        <li>佳木斯</li>
                                        <li>牡丹江</li>
                                        <li>七台河</li>
                                        <li>齐齐哈尔</li>
                                        <li>双鸭山</li>
                                        <li>绥化</li>
                                        <li>伊春</li>
                                    </ul>
                                </li>
                                <li>湖北
                                    <ul>
                                        <li>鄂州</li>
                                        <li>恩施</li>
                                        <li>黄冈</li>
                                        <li>黄石</li>
                                        <li>荆门</li>
                                        <li>荆州</li>
                                        <li>潜江</li>
                                        <li>神农架</li>
                                        <li>十堰</li>
                                        <li>随州</li>
                                        <li>天门</li>
                                        <li>武汉</li>
                                        <li>仙桃</li>
                                        <li>咸宁</li>
                                        <li>襄阳</li>
                                        <li>孝感</li>
                                        <li>宜昌</li>
                                    </ul>
                                </li>
                                <li>湖南
                                    <ul>
                                        <li>长沙</li>
                                        <li>常德</li>
                                        <li>郴州</li>
                                        <li>衡阳</li>
                                        <li>怀化</li>
                                        <li>娄底</li>
                                        <li>邵阳</li>
                                        <li>湘潭</li>
                                        <li>湘西</li>
                                        <li>益阳</li>
                                        <li>永州</li>
                                        <li>岳阳</li>
                                        <li>张家界</li>
                                        <li>株洲</li>
                                    </ul>
                                </li>
                                <li>吉林
                                    <ul>
                                        <li>白城</li>
                                        <li>白山</li>
                                        <li>长春</li>
                                        <li>吉林</li>
                                        <li>辽源</li>
                                        <li>四平</li>
                                        <li>松原</li>
                                        <li>通化</li>
                                        <li>延边</li>
                                    </ul>
                                </li>
                                <li>江苏
                                    <ul>
                                        <li>常州</li>
                                        <li>淮安</li>
                                        <li>连云港</li>
                                        <li>南京</li>
                                        <li>南通</li>
                                        <li>苏州</li>
                                        <li>宿迁</li>
                                        <li>泰州</li>
                                        <li>无锡</li>
                                        <li>徐州</li>
                                        <li>盐城</li>
                                        <li>扬州</li>
                                        <li>镇江</li>
                                    </ul>
                                </li>
                                <li>江西
                                    <ul>
                                        <li>抚州</li>
                                        <li>赣州</li>
                                        <li>吉安</li>
                                        <li>景德镇</li>
                                        <li>九江</li>
                                        <li>南昌</li>
                                        <li>萍乡</li>
                                        <li>上饶</li>
                                        <li>新余</li>
                                        <li>宜春</li>
                                        <li>鹰潭</li>
                                    </ul>
                                </li>
                                <li>辽宁
                                    <ul>
                                        <li>鞍山</li>
                                        <li>本溪</li>
                                        <li>朝阳</li>
                                        <li>大连</li>
                                        <li>丹东</li>
                                        <li>抚顺</li>
                                        <li>阜新</li>
                                        <li>葫芦岛</li>
                                        <li>锦州</li>
                                        <li>辽阳</li>
                                        <li>盘锦</li>
                                        <li>沈阳</li>
                                        <li>铁岭</li>
                                        <li>营口</li>
                                    </ul>
                                </li>
                                <li>内蒙古
                                    <ul>
                                        <li>阿拉善盟</li>
                                        <li>巴彦淖尔</li>
                                        <li>包头</li>
                                        <li>赤峰</li>
                                        <li>鄂尔多斯</li>
                                        <li>呼和浩特</li>
                                        <li>呼伦贝尔</li>
                                        <li>通辽</li>
                                        <li>乌海</li>
                                        <li>乌兰察布</li>
                                        <li>锡林郭勒</li>
                                        <li>兴安盟</li>
                                    </ul>
                                </li>
                                <li>宁夏
                                    <ul>
                                        <li>固原</li>
                                        <li>石嘴山</li>
                                        <li>吴忠</li>
                                        <li>银川</li>
                                        <li>中卫</li>
                                    </ul>
                                </li>
                                <li>青海
                                    <ul>
                                        <li>格尔木</li>
                                        <li>果洛</li>
                                        <li>海北</li>
                                        <li>海东</li>
                                        <li>海南</li>
                                        <li>海西</li>
                                        <li>黄南</li>
                                        <li>西宁</li>
                                        <li>玉树</li>
                                    </ul>
                                </li>
                                <li>山东
                                    <ul>
                                        <li>滨州</li>
                                        <li>德州</li>
                                        <li>东营</li>
                                        <li>菏泽</li>
                                        <li>济南</li>
                                        <li>济宁</li>
                                        <li>莱芜</li>
                                        <li>聊城</li>
                                        <li>临沂</li>
                                        <li>青岛</li>
                                        <li>日照</li>
                                        <li>泰安</li>
                                        <li>威海</li>
                                        <li>潍坊</li>
                                        <li>烟台</li>
                                        <li>枣庄</li>
                                        <li>淄博</li>
                                    </ul>
                                </li>
                                <li>山西
                                    <ul>
                                        <li>长治</li>
                                        <li>大同</li>
                                        <li>晋城</li>
                                        <li>晋中</li>
                                        <li>临汾</li>
                                        <li>吕梁</li>
                                        <li>朔州</li>
                                        <li>太原</li>
                                        <li>忻州</li>
                                        <li>阳泉</li>
                                        <li>运城</li>
                                    </ul>
                                </li>
                                <li>陕西
                                    <ul>
                                        <li>安康</li>
                                        <li>宝鸡</li>
                                        <li>汉中</li>
                                        <li>商洛</li>
                                        <li>铜川</li>
                                        <li>渭南</li>
                                        <li>西安</li>
                                        <li>咸阳</li>
                                        <li>延安</li>
                                        <li>杨凌</li>
                                        <li>榆林</li>
                                    </ul>
                                </li>
                                <li>四川
                                    <ul>
                                        <li>阿坝</li>
                                        <li>巴中</li>
                                        <li>成都</li>
                                        <li>达州</li>
                                        <li>德阳</li>
                                        <li>甘孜</li>
                                        <li>广安</li>
                                        <li>广元</li>
                                        <li>乐山</li>
                                        <li>凉山</li>
                                        <li>泸州</li>
                                        <li>眉山</li>
                                        <li>绵阳</li>
                                        <li>内江</li>
                                        <li>南充</li>
                                        <li>攀枝花</li>
                                        <li>遂宁</li>
                                        <li>雅安</li>
                                        <li>宜宾</li>
                                        <li>资阳</li>
                                        <li>自贡</li>
                                    </ul>
                                </li>
                                <li>台湾
                                    <ul>
                                        <li>高雄</li>
                                        <li>台北</li>
                                        <li>台中</li>
                                    </ul>
                                </li>
                                <li>天津
                                    <ul>
                                        <li>天津</li>
                                    </ul>
                                </li>
                                <li>西藏
                                    <ul>
                                        <li>阿里</li>
                                        <li>昌都</li>
                                        <li>拉萨</li>
                                        <li>林芝</li>
                                        <li>那曲</li>
                                        <li>日喀则</li>
                                        <li>山南</li>
                                    </ul>
                                </li>
                                <li>香港
                                    <ul>
                                        <li>香港</li>
                                    </ul>
                                </li>
                                <li>新疆
                                    <ul>
                                        <li>阿克苏</li>
                                        <li>阿拉尔</li>
                                        <li>阿勒泰</li>
                                        <li>巴音郭楞</li>
                                        <li>博尔塔拉</li>
                                        <li>昌吉</li>
                                        <li>哈密</li>
                                        <li>和田</li>
                                        <li>喀什</li>
                                        <li>克拉玛依</li>
                                        <li>克州</li>
                                        <li>石河子</li>
                                        <li>塔城</li>
                                        <li>吐鲁番</li>
                                        <li>乌鲁木齐</li>
                                        <li>伊犁</li>
                                    </ul>
                                </li>
                                <li>云南
                                    <ul>
                                        <li>保山</li>
                                        <li>楚雄</li>
                                        <li>大理</li>
                                        <li>德宏</li>
                                        <li>迪庆</li>
                                        <li>红河</li>
                                        <li>昆明</li>
                                        <li>丽江</li>
                                        <li>临沧</li>
                                        <li>怒江</li>
                                        <li>普洱</li>
                                        <li>曲靖</li>
                                        <li>文山</li>
                                        <li>西双版纳</li>
                                        <li>玉溪</li>
                                        <li>昭通</li>
                                    </ul>
                                </li>
                                <li>浙江
                                    <ul>
                                        <li>杭州</li>
                                        <li>湖州</li>
                                        <li>嘉兴</li>
                                        <li>金华</li>
                                        <li>丽水</li>
                                        <li>宁波</li>
                                        <li>衢州</li>
                                        <li>绍兴</li>
                                        <li>台州</li>
                                        <li>温州</li>
                                        <li>舟山</li>
                                    </ul>
                                </li>
			</ul>
		</li>
        <li>
            <div class="tdcell item-list-icon">
                <img src="images/jog/icon-jog-info-2.png">
            </div>
            <div class="tdcell">跑团介绍</div>
            <div class="tdcell textinput">
                <textarea id="groupDesc" class="input-text" placeholder="限{{groupDescLimit}}字以内" ng-model="groupDesc" ng-change="groupDescCheck();"></textarea>
            </div>
        </li>        
    </ul>
    <div class="button-area">
        <button class="long-button" ng-class="isCreating ? 'gray' : ''" ng-click="submitClick();" type="button">提交</button>
    </div>
</div>
<div id="create_jog_group_ok" class="create-jog-group-ok">
    <div class="message">
        <img src="images/jog/icon-jog-success.png">
        <div style="margin-left: 56px;">
            <p>
                <span ng-bind="groupName"></span>跑团创建成功
            </p>
            <p>快叫上小伙伴一起奔跑吧！</p>
        </div>
    </div>
    <div class="button-area" ng-if="isMobile">
        <button class="long-button" ng-click="shareClick();" type="button">分享</button>
    </div>
</div>
<div class="submit-success text-center hide">
   <span class="success-icon">
   		<i class="icon-right"></i>
   </span>
   <span>已发送邀请</span>
</div>
