<style>

    .jog-group-members {
        padding-top: 44px;
    }

    .search-box {
        width: 100%;
        height: 40px;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        position: relative;
        line-height: 37px;
    }
    .search-box input {
        width: 78%;
        height: 30px;
        border: none;
        line-height: 30px;
        margin-left: 2%;
        font-size: 12px;
        border-right: 1px solid #d3d3d3;
    }
    .search-box .btn-search {
        position: absolute;
        top: 0;
        display: block;
        right: 14px;
        width: 40px;
        height: 40px;
        left: 87%;
    }
    .search-box .btn-search img {
        height: 20px;
    }

    .title {
    	font-size: 16px;
		line-height: 38px;
		margin: 0px;
		padding: 0px 15px;
		font-weight: bold;
    }

    ul.ranking-content {
        padding: 0 15px;
        box-shadow: none;
    }
    
    ul.leader-info{
		background-color: #f0f0f0;
    }

    ul.ranking-content li {
        font-size: 14px;
        padding: 12px 0;
    }

    .item-content .name img {
        width: 14px;
        margin-left: 20px;
    }
    .item-content .total {
        color: #929292;
        font-size: 12px;
        margin: 0;
    }

    .item-operation .button {
        width: 22px;
        height: 22px;
        background: #087bfd;
        color: #fff;
        font-size: 0;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
    }
    .item-operation .button.added {
        background: #cccccc;
    }
    .item-operation .button i {
        font-size: 18px;
        line-height: 18px;
    }
    .item-operation .button i.moving {
        font-size: 13px;
        line-height: 27px;
        display: inline-block;
        margin-top: -3px;
    }
    
    ul.ranking-content li .tdcell:first-child{
    	width: 75%;
    }
    ul.ranking-content li .tdcell:last-child{
    	width: 25%;
    }
    ul.ranking-content li .tdcell .name span{
    	display: inline-block;
    	max-width: 155px;
    	overflow: hidden;
    	text-overflow: ellipsis;
    	white-space: nowrap;
    	vertical-align: middle;
    }
	.search-area{
		padding: 15px;
		position: fixed;
		width: 100%;
		background: #fff;
	}
    .fixedTopmenu{
    	position: absolute;
    }
</style>
<div class="jog-group-members">
    <div class="search-area">
        <div class="search-box">
            <input id="search-input" type="text" placeholder="输入姓名查找" ng-model="form.searchMember"/>
            <a class="btn-search" ng-click="searchClick()">
                <img src="images/jog/icon-jog-search.png">
            </a>
        </div>
    </div>
    <div class="jog-group-members-list" style="padding-top: 70px;">
		<!-- 团长 -->
	    <div ng-if="!!memberInfo.leaderId" class="title">团长</div>
	    <ul ng-if="!!memberInfo.leaderId" class="ranking-content view-code-content leader-info">
	    	<li>
	    		<div class="tdcell item-content">
	                <p class="name">
	                    <span ng-bind="memberInfo.leaderName"></span>
	                    <img ng-if="memberInfo.leaderSex==1" class="sex" src="images/jog/icon-jog-male.png">
	                    <img ng-if="memberInfo.leaderSex==2" class="sex" src="images/jog/icon-jog-female.png">
	                </p>
	                <p class="total">累积：{{memberInfo.leaderSum | formatSum}}</p>
	            </div>
	            <div class="tdcell text-right item-operation">
	                <div class="button" ng-if="memberInfo.isLeaderFriend!=2" ng-class="{added: memberInfo.isLeaderFriend==1}" ng-click="addFriendClick(memberInfo)">
	                    <i>+</i>
	                </div>
	            </div>
	    	</li>
	    </ul>
		<!-- 团员 -->
		<div ng-if="!!memberInfo.list.length" class="title">成员</div>
	    <ul ng-if="!!memberInfo.list.length" class="ranking-content view-code-content">
	        <li ng-repeat="item in memberInfo.list">
	            <div class="tdcell item-content">
	                <p class="name">
	                    <span ng-bind="item.userName"></span>
	                    <img ng-if="item.userSex==1" class="sex" src="images/jog/icon-jog-male.png">
	                    <img ng-if="item.userSex==2" class="sex" src="images/jog/icon-jog-female.png">
	                </p>
	                <p class="total">累积：{{item.userSum | formatSum}}</p>
	            </div>
	            <div class="tdcell text-right item-operation">
	                <div class="button" ng-if="item.isFriend!=2" ng-class="{added: item.isFriend==1}" ng-click="addFriendClick(item)">
	                    <i>+</i>
	                </div>
	                <div class="button" ng-if="isLeader()" ng-click="removeClick(item)">
	                    <i class="moving">移</i>
	                </div>
	            </div>
	        </li>
	    </ul>
    </div>
</div>

