<style>

    .jog-group {
        padding-top: 44px;
    }

    .details-box {
        color: #929292;
        font-size: 12px;
        position: relative;
    }

    .message {
        padding: 24px 15px 12px 24px;
        line-height: 15px;
        color: #929292;
        font-size: 12px;
    }

    .message img {
        width: 36px;
        height: 36px;
        float: left;
        margin: 0 10px;
    }

    .operation {
        padding: 10px 0;
    }

    ul.ranking-content {
        padding: 0px 15px;
        box-shadow: none;
    }

    ul.ranking-content li {
        padding: 12px 0 10px;
        font-size: 16px;
    }

    ul.ranking-content li:first-child {
        border-top: 1px solid #d3d3d3;
    }
    
    ul.ranking-content li .name,
    ul.ranking-content li .record{
    	white-space: nowrap;
    	overflow: hidden;
    	text-overflow: ellipsis;
    }

    .item-list-icon {
        width: 35px;
        color: #8a8a8a;
    }

    .item-list-icon img {
        width: 22px;
    }

    .more-link-arrow {
        width: 30px;
    }

    .more-link-arrow i {
        font-size: 14px;
        vertical-align: 1px;
        color: #a6a6a6;
    }

    .button-area {
        padding: 0 15px 15px;
    }

    .healthyAssess-popup input {
        font-size: 14px;
        width: 100%;
        border: 1px solid #eaeaea;
        height: 30px;
    }
    .healthyAssess-popup .button-area {
        padding-left: 0;
        padding-right: 0;
    }
    
    .background-blue{
    	background-color: #4da9ff !important;
    }
    .background-blue *{
    	color: #fff !important;
    }
    .background-blue .more-link-arrow{
    	vertical-align: middle !important;
    }
</style>
<div class="jog-group" ng-if="status==2">
    <div class="details-box">
        <div class="message">
            <img src="images/jog/icon-jog-fail.png">
            <div class="">
                <p>
                    您还没有加入跑团，现在立即加入跑团，
                </p>
                <p>
                    跟跑友们一起奔跑吧！
                </p>
            </div>
        </div>

        <div class="button-area">
            <button class="long-button" ng-click="addClick()">立即添加跑团</button>
        </div>
    </div>

    <div class="operation">
        <ul class="ranking-content view-code-content">
            <li ng-click="topClick()">
                <div class="tdcell item-list-icon">
                    <img src="images/jog/icon-jog-top.png">
                </div>
                <div class="tdcell">跑团排行榜</div>
                <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
            </li>
        </ul>
    </div>

</div>
<div class="jog-group" ng-if="status==1 || status==0">

    <div class="operation" style="padding: 0">
        <ul class="ranking-content view-code-content" ng-class="status==0?'background-blue':''" style="padding: 0; background: #eaeaea">
            <li ng-click="selectClick(groupInfo.groupId)" style="border: none; padding: 15px;">
                <div class="tdcell item-content">
                    <p class="name" ng-bind="groupInfo.groupName"></p>
                    <p class="info" style="font-size: 12px; color: #929292;line-height:12px"><span ng-bind="groupInfo.province"></span> <span ng-bind="groupInfo.city"></span> 共<span ng-bind="groupInfo.groupMemCount"></span>人</p>
                    <p class="record" ng-bind="groupInfo.groupDesc" style="font-size: 12px; color: #929292;line-height:12px"></p>
                </div>
                <div class="tdcell text-right more-link-arrow" style="color: #ff0b0b; width: 56px; vertical-align: top;font-size: 14px;"><span ng-if="status==1">待审核</span><i class="icon-arrow" style="vertical-align: top;"></i></div>
            </li>
        </ul>
        <div style="padding: 0 15px">
            <p style="margin: 12px 0; color:#dcdcdc">＊每人限加一个跑团</p>
        </div>
        <ul class="ranking-content view-code-content">
            <li ng-click="moreClick()">
                <div class="tdcell item-list-icon">
                    <img src="images/jog/icon-jog-more.png">
                </div>
                <div class="tdcell">查看更多跑团</div>
                <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
            </li>
            <li ng-click="topClick()">
                <div class="tdcell item-list-icon">
                    <img src="images/jog/icon-jog-top.png">
                </div>
                <div class="tdcell">跑团排行榜</div>
                <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
            </li>
        </ul>
    </div>

</div>
<div class="submit-success text-center hide">
   <span class="success-icon"><i class="icon-right"></i></span>
   <span>已发送邀请</span>
</div>
