<style>

    .more-jog-group {
        padding-top: 44px;
    }

    .btn-create {
        width: 100%;
        height: 44px;
        line-height: 44px;
        background: #62beff;
        color: #fff;
        text-align: center;
        font-size: 16px;
    }

    .search-box {
        width: 100%;
        height: 40px;
        border: 1px solid #d3d3d3;
        border-radius: 5px;
        position: relative;
        line-height: 37px;
    }
    .search-box input {
        width: 78%;
        height: 30px;
        border: none;
        line-height: 30px;
        margin-left: 2%;
        font-size: 12px;
        border-right: 1px solid #d3d3d3;
    }
    .search-box .btn-search {
        position: absolute;
        top: 0px;
        display: block;
        right: 14px;
        width: 40px;
        height: 40px;
        left: 87%;
    }
    .search-box .btn-search img {
        height: 20px;
    }

    ul.ranking-content {
        padding: 0 15px;
        box-shadow: none;
    }

    ul.ranking-content li {
        font-size: 14px;
        padding: 12px 0 3px;
    }

    .item-list-icon p {
        vertical-align: top;
        font-size: 18px;
        line-height: 55px;
        text-align: center;
        margin-left: -16px;
    }

    .more-link-arrow {
        width: 30px;
        vertical-align: top;
    }

    .more-link-arrow i {
        font-size: 14px;
        vertical-align: 1px;
        color: #a6a6a6;
        line-height: 55px;
    }

    .item-content .name {
        line-height: 1;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }
    .item-content .info {
        font-size: 12px;
        color: #929292;
    }
    .item-content .info span{
    	padding-right: 8px;
    }
    .item-content .record {
        font-size: 12px;
        color: #929292;
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
    }

    .button-area button {
        font-size: 14px;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        margin: 0 25px 0 0;
    }
    .button-area button:last-child {
        margin: 0;
    }

</style>
<div class="more-jog-group">

    <div style="padding: 15px">
        <div class="search-box">
            <input id="search-input" type="text" placeholder="输入跑团名称/ID查找" ng-model="searchJogGroup" ng-change="searchJogGroupCheck()"/>
            <a class="btn-search" ng-click="searchClick()">
                <img src="images/jog/icon-jog-search.png">
            </a>
        </div>
    </div>

    <div style="padding: 15px 15px 0;">
        <div style="border-bottom: 1px solid #d3d3d3">
            <p style="font-size: 16px;color: rgb( 86, 86, 86 );"><img src="images/jog/icon-jog-hot.png" style="width: 22px;margin-right: 5px">热门跑团</p>
        </div>
    </div>

    <ul class="ranking-content view-code-content">
        <li ng-repeat="item in recommendGrouds"  ng-click="selectClick(item.groupId || item.groupID)">
            <div class="tdcell item-content">
                <p class="name" ng-bind="item.groupName"></p>
                <p class="info">
                	<span>{{item.province}}</span>
                	<span>{{item.city}}</span>
                	<span>共{{item.groupMemCount}}人</span></p>
                <p class="record" ng-bind="item.groupDesc"></p>
            </div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>
    </ul>

</div>

