/*浏览器兼容性提醒*/
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*全局css设置*/
html, body, .container, .header, .main, .footer {
    box-sizing: border-box;
    width: 100%;
    margin: 0px;
    font-size: 14px;
    overflow-x: hidden;
}

input {
    -webkit-appearance: none; /*去除input默认样式*/
}

.container {
    padding-top: 44px;
}

.header {
    box-shadow: 0 1px 5px 0px #b3b3b3;
    height: 7vh;
    position: relative;
    /*position: fixed;*/
    top: 0px;
    left: 0px;
    background-color: white;
    text-align: center;
    z-index: 999;
}

.header img {
    position: absolute;
    height: 4vh;
    top: 1.5vh;
    z-index: 9999;
}

.header .back {
    left: 10px;
}

.header #title {
    position: relative !important;
    margin: auto;
}

.header #backIndex {
    right: 10px;
}

/*加载小动画*/
.loading_gif {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    /*background-color: rgba(0, 0, 0, 0.8);*/
    text-align: center;
}

.loading_gif img {
    height: 48px;
    width: 48px;
    margin-top: 50%;
}

/*底部栏 footer*/
.footer {
    position: fixed;
    bottom: 0px;
    height: 58px;
    background: rgb(255, 255, 255);
    color: white;
    box-sizing: border-box;
    padding-top: 9px;
    border-top: 1px solid #e3e3e3;

}

.footer div {
    float: left;
    width: 50%;
    /*line-height: 58px;*/
    text-align: center;
}

.footer-left button {
    background-color: #86C26D;
    border: 0px;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    font-size: 16px !important;
    color: white;
}

.footer-right button {
    background-color: #68A1D5;
    border: 0px;
    border-radius: 4px;
    width: 90%;
    height: 40px;
    font-size: 16px !important;
    color: white;
}

/*弹窗模板*/
/*<div class="editInfo_bg">*/
/*<div id="popupHeader">*/
/*<div class="popupHeaderFont">头部</div>*/
/*<div id="close"></div>*/
/*</div>*/
/*<hr style="width: 80%">*/
/*<div class="popupBody">*/
/*主体*/
/*</div>*/
/*<hr style="width: 80%">*/
/*<div class="popupFooter">*/
/*<!--尾部-->*/
/*<button>提交</button>*/
/*</div>*/
/*</div>*/

/*调用css*/
/*popup*/
.popupHeader {
    /*border: 1px solid #5e5e5e;*/
    width: 100%;
    text-align: right;
    color: #00d6b2;
}

.popupHeaderFont {
    text-align: center;
    padding-top: 15px;
    color: #86C26D;
    font-size: 16px;
}

.close {
    background: url("../images/util/2_v6_18bc0.png");
    background-size: 100% 100%;
    /*margin-top: -22px;*/
    margin-left: 90%;
    width: 18px;
    height: 18px;
    border-radius: 50px;
}

/*关闭按钮*/
.closeTips {
    /*background: url("../images/util/confirm_v6_24cf9.png");*/
    background-color: #0074e1;
    background-size: 100% 100%;
    /*margin-top: -22px;*/
    /*margin-left: 88%;*/
    width: 150px;
    height: 30px;
    line-height: 30px;
    font-size: 1rem;
    /*border-radius: 50px;*/
    position: absolute;
    left: 70px;
    bottom: 18px;
    text-align: center;
    border-radius: 5px;
    /*line-height: 18px;*/
}

.popupFooter {
    width: 100%;
    height: 40px;
}

.popupFooter button {
    width: 60%;
    background-color: #86C26D;
    border: 0px;
    border-radius: 3px;
    height: 30px;
    color: white;
    font-size: 16px;
}

/*提示框*/
.popupTips {
    margin: 0 auto;
    /*margin: 35% auto;*/
    background-color: rgba(21, 1, 1, 0.9);
    border-radius: 5px;
    height: 160px;
    /*width: 80%;*/
    width: 290px;
    /*line-height: 150px;*/
    text-align: center;
    font-size: 16px;
    color: white;
    position: relative;
    /*position: fixed;*/
}

#tipsFont {
    position: absolute;
    width: 90%;
    margin: 0 5%;
    top: 35%;
}

.popupTips-bg {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10000;
    width: 100%;
    height: 100%;
    text-align: center;
}

.timeOutPopupTips-bg {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 10000;
    width: 100%;
    height: 100%;
    text-align: center;
}

.timeOutPopupTips-close {
    position: absolute;
    top: 12px;
    right: 12px;
    height: 30px;
    width: 30px;
    z-index: 10000;

}

#timeOutTipsFont {
    position: absolute;
    width: 80%;
    padding-left: 10%;
    top: 35%;
}

#timeOutRetry {
    width: 90px;
    position: absolute;
    top: 60%;
    left: 44px;
    text-align: center;
}

#timeOutRefresh {
    width: 90px;

    position: absolute;
    top: 60%;
    left: 156px;
    text-align: center;

}

.save {
    margin-top: 7%;
    padding-bottom: 7%;
    width: 100%;
}

.save button {

    width: 50%;
    border: 1px solid #AECC83;

}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

button {
    border: none;
}

.text-center {
    text-align: center;
}

.img-responsive {
    display: block;
    width: 100%;
}

/*color 颜色风格*/
.light-green-bg {
    background-color: #AECC83 !important;
}

.green-bg {
    background-color: #7FC273 !important;
}

.blue-bg {
    background-color: #61A0D3 !important;
}

.text-green {
    color: #7FC273 !important;
}

.large-btn-size {
    box-sizing: border-box;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}

.small-btn-size {
    box-sizing: border-box;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 4px;
}

.text-grey {
    color: #595757 !important;
}

.text-more-greyer {
    color: #808080 !important;
}

.text-blue {
    color: #689cd0 !important;
}

/*背景透明度*/
.opacity-bg {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -ms-transform: translateY(-50%); /* IE 9 */
    -webkit-transform: translateY(-50%); /* Safari and Chrome */
    -o-transform: translateY(-50%); /* Opera */
    -moz-transform: translateY(-50%);
}

.screenProcessing {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    display: none;
}

.screenProcessingFont {
    width: 100%;
    padding-top: 20%;
    text-align: center;
    color: white;
}

