/** common **/
*,*:before,*:after{
	box-sizing: border-box;
	outline: none;
}
body{
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	color: #333;
	line-height: 1.42857143;
}
h1{
	font-weight: 500;
	line-height: 1.1;
}
.position-left{
	position: absolute;
	top: 0;
	left: 7px;
	z-index: 6;
}
.top-menu{
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	z-index: 6;
	background: #fff;
	box-shadow: 0 1px 5px 0 #b3b3b3;
}
a.back-button{
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 9px 10px 10px 9px;
	border: none;
	background: url("../../images/back_button.png") no-repeat;
	background-size: cover;
	background-origin: content-box;
}
.top-menu > h1{
	font-size: 18px;
	text-align: center;
	color: #383838;
	margin: 0;
	padding: 12px 0;
	position: relative;
}
a{
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
li{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
/** page **/
.details-tips{
	padding: 10px;
}
.details-tips p{
	margin: 0px;
	padding: 0px;
	line-height: 24px;
}
.details-tips p.text{
	color: #333;
	font-weight: bold;
}
.details-tips p.app{
	color: #62beff;
	font-size: 12px;
}
.details-tips p.app .date{
	padding-right: 10px;
	vertical-align: middle;
}
.details-box{
	position: relative;
	font-size: 12px;
}
.details-box img{
	width: 100%;
}
.details-box .panel{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	color: #fff;
}
.details-box .info{
	width: 210px;
	padding: 20px 15px;
	opacity: 0.8;
	word-wrap: break-word;
}
.details-box .info .name{
	font-size: 16px;
	margin: -7px 0 3px;
}
.details-box .info .discription{
	font-size: 12px;
	margin: 0 0 10px;
}
.details-box .info .location-button{
	font-size: 12px;
	border: 1px solid rgba(156,190,218,0.7);
	border-radius: 8px;
	background-image: url(../../images/jog/icon-jog-location.png);
	background-repeat: no-repeat;
	background-position: 4px 2px;
	background-size: 11px;
	text-align: right;
	padding: 0px 5px;
	display: inline-block;
}
.details-box .info .location-button p{
	height: 7px;
	margin: 0px 0px 10px 10px;
}
.details-box .panel .button-group {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 26px;
	display: flex;
	display: -webkit-flex;
	position: absolute;
	bottom: 26px;
	padding: 0 10px;
}
.details-box .panel .button-group li{
	display: table-cell;
	flex-grow: 1;
	-webkit-flex-grow: 1;
	line-height: 7px;
	text-align: center;
	border-right: 1px solid rgba(204,204,204,0.2);
}
.details-box .panel .button-group li:last-child{
	border-right: none;
}
.details-box .panel .button-group li .button > img{
	width: 24px;
	vertical-align: top;
}
.details-box .panel .button-group li .button > div{
	opacity: 0.8;
	display: inline-block;
	vertical-align: top;
	margin-left: 8px;
	text-align: left;
}
.details-box .panel .button-group li .button > div p{
	margin: 0 0 10px;
}
.download-app .title{
	margin: 10px 10px 28px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #000;
	border-bottom: 1px solid #666;
}
.download-app .title span{
	display: inline-block;
	height: 28px;
	line-height: 28px;
	margin: 0px auto;
	padding: 0px 5px;
	background-color: #fff;
	position: relative;
	top: 12px;
}
.download-app h5{
	margin: 20px 0px 10px;
	padding: 0px 10px;
	font-size: 14px;
	font-weight: normal;
	color: #333;
}
.download-app .qacode-img{
	text-align: center;
	width: 30%;
	margin: 0px auto;
}
.download-app .guide-img{
	text-align: center;
	width: 70%;
	margin: 0px auto;
}
.download-app .qacode-img img,
.download-app .guide-img img{
	width: 100%;
}