<div class="bind-telphone modify-tel">
    <form name="myForm" class="form">
    	<div class="tips">为保障您的信息安全，更新资料需手机验证！</div>
        <div class="from-line">
            <label>手机号:</label>
            <input id="phoneNumber" autocomplete="off" type='tel' name="phoneNumber" ng-model="data.phone">
        </div>
        <span class="error" ng-show="data.phone.length==11&&phoneNumberError">请输入正确的手机号码</span>
        <div class="from-line clearfix validate-input" ng-switch on="((!phoneNumberError&&data.phone!='')?1:0) +( noDisable?1:0)">
            <label>验证码:</label>
            <input id="validate" autocomplete="off" ng-model="data.validate" type="tel" maxlength="5">
            <div class="get-validate telphone-right" ng-click="sendSMSforpersonalFileFn()" ng-switch-when="2">{{labelText}}</div>
            <div class="get-validate" ng-switch-when="1">{{timeLabel}}</div>
            <div class="get-validate"  ng-switch-when="0">{{timeLabel}}</div>
        </div>
        <div class="button-area">
            <button class="long-button" ng-click="saveUserPhoneforpersonalFileFn()" ng-if="!((phoneNumberError||data.phone=='')||data.validate==''||data.validate.length!=5)">确定</button>
            <button class="long-button disable"  ng-if="(phoneNumberError||data.phone=='')||data.validate==''||data.validate.length!=5">确定</button>
        </div>
        <div class="submit-success text-center hide" id="validateSuccess">
            <span class="success-icon"><i class="icon-right"></i></span>
            <span>验证码已发送</span>
        </div>      
    </form>
</div>
<script type="text/javascript">
    
            $('#phoneNumber').on('click',function(){
                $('.top-menu').css('position','absolute');
            })
            $('#phoneNumber').on('blur',function(){
                $('.top-menu').css('position','fixed');
            })
            $('#validate').on('focus',function(){
                $('.top-menu').css('position','absolute');
            })
            $('#validate').on('blur',function(){
                $('.top-menu').css('position','fixed');
            })
</script>