<div class="add-friend">
    <div class="list-head">
      <div class="search-area">
      <div class="tdcell">
      <input type="text" ng-model="searchFriend" placeholder="输入手机号码/姓名查找" />
      </div>
      <div class="tdcell text-right">
      <button ng-click="searchFriendFn()"><i class="icon-search"></i></button>
      </div>
      </div>
    </div>
    <ul class="ranking-content view-code-content" ng-if="searchFriend.length==0">
        <li ng-click="addFriendcodeFn()">
            <div class="tdcell item-list-icon"><i class="icon-adduser"></i> </div>
            <div class="tdcell">输入邀请码添加好友</div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>
        <li ng-click="friendMycodeFn()">
            <div class="tdcell item-list-icon"><i class="icon-user"></i> </div>
            <div class="tdcell">产生我的邀请码</div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>        
    </ul>
    <ul class="ranking-content search-content" ng-if="searchFriend.length>0">
        <li ng-repeat="friend in friends ">
            <div class="tdcell"><span>{{friend.nickName}}</span><br>
            <span class="font-grey"> {{formatPhone(friend.phone)}}</span>
            </div>
            <div class="tdcell text-right" ng-if="!friend.ifFriend"><a class="invite-link" ng-click="addFriendFn($event,friend.userId)">发送邀请</a></div>
            <div class="tdcell text-right" ng-if="friend.ifFriend"><a class="invite-link" >已是好友</a></div>
        </li>      
    </ul>
</div>
<div class="submit-success text-center hide">
   <span class="success-icon"><i class="icon-right"></i></span>
   <span>已发送邀请</span>
</div>
