<div class="bind-telphone">
    <p class="font-blue  text-center" ng-show='!isLogin'>
        手机号码是为您提供专业健康管理的唯一凭证
    </p>
    <form  name="myForm" >
    <div class="from-line" >
        <label>手机号码：</label>
        <input id="phoneNumber" name="phoneNumber" ng-model="phoneNumber" type='tel'>
    </div>
       <span class="error" ng-show="phoneNumber.length==11&&phoneNumberError&&phoneNumber!=''">
      请输入正确的手机号码</span>
    <div class="from-line clearfix validate-input" ng-switch on="((phoneNumberError||phoneNumber=='')?0:1) +( noDisable?1:0)">
        <label>验证码：</label>
        <input id="validate" type="tel" ng-model="validate" maxlength="5">
        <div class="get-validate telphone-right pull-right" ng-click="sendSMSFn()" ng-switch-when="2">{{labelText}}</div>
        <div class="get-validate pull-right" ng-switch-when="1">{{timeLabel}}</div>
        <div class="get-validate pull-right"  ng-switch-when="0">{{timeLabel}}</div>
    </div>
    
       <div class="accept-content font-grey"><span class="{{isAccept==0?'uncheacked':''}}"><i class="icon-right" ng-click="acceptContent()"></i></span>
        <!--  未选中的状态 加class”uncheacked" -->
        <!-- <input id="isAccept" type="checkbox" ng-model="isAccept" ng-true-value="1" ng-false-value="0"> -->
        <span ng-click="termsPopup()">我接受 <span class="font-cyanblue">&lt;使用条款及私隐政策&gt;</span></span>
    </div>    
    <div class="button-area">
    	<button class="long-button " ng-if="!((phoneNumberError||phoneNumber=='')||validate==''||validate.length!=5||isAccept==0||isClickSubmit)" ng-click="btnConfirm()">确定</button>
        <button class="long-button disable" ng-if="(phoneNumberError||phoneNumber=='')||validate==''||validate.length!=5||isAccept==0||isClickSubmit">确定</button>
    </div>
    </form>
</div>
<div class="showError"></div>
<div class="submit-success text-center hide" id="validateSuccess">
    <span class="success-icon"><i class="icon-right"></i></span>
    <span>验证码已发送</span>
</div>
<div class="submit-success text-center hide" id="validateError">
    <span class="success-icon error"><i class="icon-wrong"></i></span>
    <span>验证码错误</span>
</div>
<style type="text/css">
    body{
        background: url('images/question-bodybg.jpg') repeat;
    }
</style>
