<div class="choose-palyer challenge-ranking">
    <div ng-class="getCRBgClass(form.userTask.id)">
        <a class="pull-right share-btn" ng-click="getShareUrlRanking()">分享<i class="icon-arrow"></i></a>

        <h2>{{form.userTask.taskName}}</h2>
        <ul class="brttleGroup-details clearfix">
            <li>
                <div class="tdcell text-left font-icon"><i class="icon-aims"></i></div>
                <div class="tdcell items-title">目标:</div>
                <div class="tdcell">{{form.userTask.targetStepNum|convertMyriabitFilter}}步</div>
            </li>
            <li>
                <div class="tdcell text-left font-icon"><i class="icon-time"></i></div>
                <div class="tdcell items-title">时间:</div>
                <div class="tdcell">{{form.userTask.schedule}}</div>
                <!--                {{form.userTask.presentTime | date: "yyyy-MM-dd hh"}}
<br>
                {{(form.userTask.presentTime-form.userTask.endDate) / (1000 * 60*60*24)}}
<br>
                {{(form.userTask.presentTime-form.userTask.endDate) % (1000 * 60*60*24)}}
        <br>
                {{(form.userTask.presentTime-form.userTask.endDate) % (1000 * 60*60)/ (1000 * 60)}} -->
            </li>
            <li>
                <div class="tdcell text-left font-icon"><i class="icon-coin"></i></div>
                <div class="tdcell items-title four-font">累积押注:</div>
                <div class="tdcell">{{form.userTask.taskReward}}健康币</div>
            </li>
            <li>
                <div class="tdcell text-left font-icon"><i class="icon-player"></i></div>
                <div class="tdcell items-title">玩家:</div>
                <div class="tdcell">{{pleyerCount}}人</div>
            </li>
            <li>
                <div class="tdcell text-left font-icon"><i class="icon-time-left"></i></div>
                <div class="tdcell items-title six-font">距离结束时间:</div>
                <div class="tdcell">{{userEndHour|addZeroFilter}}:{{userEndMinutes|addZeroFilter}}:{{userEndSecond|addZeroFilter}}</div>
            </li>
        </ul>
    </div>
    <ul class="ranking-content">
        <h3 class="text-center">{{targetCount}}位团友已经达到目标</h3>
        <li ng-repeat="taskMember in form.taskMembers" ng-if='taskMember.status!=0'>
            <div class="tdcell ranking-places">第<span class="rank-num">{{taskMember.userRank}}</span>名</div>
            <div class="tdcell name-leavel">
                <span class="name font-overflow"><i ng-if="taskMember.isOwn==1" class="icon-counter"></i> {{taskMember.userName}}</span>
                <br/>
                <i class="icon-coin"></i><span class="leavel-num"> {{taskMember.score | number}}</span>
            </div>
            <div class="text-right tdcell ranking-nums"><span class="steps">{{taskMember.steps|number}}</span>步</div>
            <div class="tdcell text-right btn-area" ng-if="!taskMember.isFriend">
            <a class="check-button uncheck-button checked" ng-if="isShow(taskMember)" ng-click="addFriendFn($event,taskMember.userId)"><i class="icon-wrong"></i></a>
            </div>
            <div class="tdcell text-right btn-area" ng-if="taskMember.isFriend">
            </div>
        </li>
    </ul>
</div>
