<div class="chinese-quiz">
    <div class="progress-tip">
        <progress value="{{form.progresscount}}" max="{{progresscountMax}}"></progress>
    </div>
    <h3 class="text-center">请根据您最近一年的身体感受回答</h3>
    <div class="quiz-category">
        <ul>
            <li ng-repeat="chineseQuiz in form.chineseQuizData">
                <label>{{chineseQuiz.title}}</label>
                <div ng-class="showAnswerClass(chineseQuiz,$event)">
                    <span><a ng-class="selectItemClass(chineseQuiz , 1)" ng-click="selectItem(chineseQuiz , 1, $event)">没有</a></span>
                    <span><a ng-class="selectItemClass(chineseQuiz , 2)" ng-click="selectItem(chineseQuiz , 2, $event)">很少</a></span>
                    <span><a ng-class="selectItemClass(chineseQuiz , 3)" ng-click="selectItem(chineseQuiz , 3, $event)">有时</a></span>
                    <span><a ng-class="selectItemClass(chineseQuiz , 4)" ng-click="selectItem(chineseQuiz , 4, $event)">经常</a></span>
                    <span><a ng-class="selectItemClass(chineseQuiz , 5)" ng-click="selectItem(chineseQuiz , 5, $event)">总是</a> </span>
                </div>
    </div>
    <!-- </li>
         <li class="answer-in">
          <label>您的胃部、背部、腰膝部怕冷吗？</label>
          <div class="check-box">
            <span><a class="checked">没有</a></span> <span><a>很少</a></span> <span><a>有时</a></span> <span><a>经常</a></span> <span><a>总是</a></span>
          </div>
         </li>
         <li>
          <label>您经常因怕冷衣服比别人穿得多吗？</label>
          <div class="check-box hide">
            <span><a class="checked">没有</a></span> <span><a>很少</a></span> <span><a>有时</a></span> <span><a>经常</a></span> <span><a>总是</a></span>
          </div>
         </li> -->
    </ul>
    <div class="button-area" ng-if="checkSubmitStatus(form.chineseQuizData)">
        <a class="long-button" ng-click="submitQuiz()">提交</a>
    </div>
    <div class="button-area" ng-if="checkSubmitDisableStatus(form.chineseQuizData)">
        <a class="long-button gray">提交</a>
    </div>
</div>
</div>
<style type="text/css">
body {
    background: url('images/question-bodybg.jpg') repeat;
}
</style>
