<div class="question-result chinese-quiz-report">
	<carousel size="recommendArray.length" height="44.8vw" auto="5000" mark="#B3B3B3/#0074e1">
		<img ng-repeat="product in recommendArray" ng-src="images/test/{{product.compaignCode}}.png" ng-click="showProduct(product,'banner')"/>
	</carousel>
    <div class="pull-right re-answer" ng-click="reset()">重评</div>
    <div class="result-content" ng-repeat="chineseQuizResult in form.chineseQuizResultData">
        <div ng-repeat="chineseQuizResultItem in chineseQuizResult">
            <h3>{{chineseQuizResultItem.title}}</h3>
            <p class="font-black">{{chineseQuizResultItem.subTitle}}</p>
            <ul class="advise-list">
                <li ng-repeat="description in chineseQuizResultItem.description">
                    <h4 class="font-blue">{{description.title}}</h4>
                    <span class="font-black">{{description.descriptionItem}}</span>
                </li>
                <!-- <li>
                    <h4 class="font-blue">形体特征：{{chineseQuizResult.yes.description}}</h4>
                    <span class="font-black"> </span>
                </li> -->
                <!-- <li>
                    <h4 class="font-blue">常见表现：</h4>
                    <span class="font-black">面色、肤色润泽，头发稠密有光泽，目光有神，鼻色明润，嗅觉通利，唇色红润，不易疲劳，精力充沛，耐受寒热，睡眠良好，胃纳佳，二便正常舌色淡红，苔薄白脉和缓有力。 </span>
                </li>
                <li>
                    <h4 class="font-blue">心理特征：</h4>
                    <span class="font-black">性格随和开朗。 </span>
                </li> -->
            </ul>
            <div class="button-area" ng-if="chineseQuizResultItem.title != ''">
                <a class="long-button" ng-click="chineseQuizPepotrDetails(chineseQuizResultItem)">体质调理处方</a>
            </div>
        </div>
    </div>
    <div class="product-recommend" ng-if="recommendArray.length>0">
        <h4 class="line-tip">健康保障推荐</h4>
        <div class="product-items" ng-repeat="product in recommendArray">
            <div class="tdcell" ng-click="showProduct(product,'列表')">
                <i class="icon-{{product.compaignCode}} title"></i>{{product.title}}
            </div>
            <div class="tdcell text-right">
                <i class="icon-arrow" ng-click="showProduct(product)"></i>
            </div>
        </div>
    </div>
</div>
<a style="position: fixed; right: 10px; bottom: 20px;" ng-if="act" ng-href="/hms-cmb-act/hmc_bodycode_web/page3.html?userId={{form.userData.userId}}&token={{form.userData.session}}">
	<img src="images/back-act-001.png" style="width: 30vw;"/>
	<div style="position: absolute; color: white; width: 30vw; top: 1vw; left: 2.5vw; text-align: center; font-size: 9vw;">{{actParam}}</div>
</a>
<style type="text/css">
body {
    background: url('images/question-bodybg.jpg') repeat;
}
</style>
