<div class="create-details">
    <div ng-class="getCDBgClass(form.task.taskId)">
        <h2>{{form.task.taskName}}</h2>
        <i class="icon-aims"></i><span ng-if="form.task.taskId != '5'">目标：{{form.task.steps|convertMyriabitFilter}}步</span>
        <span ng-if="form.task.taskId == '5'">目标: {{form.userDefined}}</span>
    </div>
    <ul class="ranking-content">
        <li ng-if="form.task.taskId == '5'">
            <div class="tdcell icon-area"><i class="icon-aims"></i></div>
            <div class="tdcell font-black">目标</div>
            <div class="tdcell text-right">
                <select ng-model="form.task.steps" class="steps">
                    <option value="30000">3万步</option>
                    <option value="40000">4万步</option>
                    <option value="50000">5万步</option>
                    <option value="60000">6万步</option>
                    <option value="70000">7万步</option>
                    <option value="80000">8万步</option>
                </select>
            </div>
        </li>
        <li>
            <div class="tdcell icon-area"><i class="icon-coin"></i></div>
            <div class="tdcell font-black">押注健康币</div>
            <div class="tdcell text-right">
                <div class="check-box">
                    <a ng-repeat="coin in coins" ng-click="changeCoin(coin)" class="{{coin.isCheck?'checked':''}}">{{coin.coin}}</a>
                </div>
            </div>
        </li>
        <li>
            <div class="tdcell icon-area"><i class="icon-date"></i></div>
            <div class="tdcell font-black">开始日期</div>
            <div class="tdcell text-right">
                <input type="text" class="input-text" id="startDate" ng-model="form.task.startDate" placeholder="当天日期">
            </div>
        </li>
        <li>
            <div class="tdcell icon-area"><i class="icon-time"></i></div>
            <div class="tdcell font-black">天数</div>
            <div class="tdcell text-right">
                <select ng-model="day" class="days">
                    <option value="1">1天</option>
                    <option value="2">2天</option>
                    <option value="3">3天</option>
                    <option value="4">4天</option>
                    <option value="5">5天</option>
                    <option value="6">6天</option>
                    <option value="7">7天</option>
                    <option value="8">8天</option>
                    <option value="9">9天</option>
                    <option value="10">10天</option>
                </select>
            </div>
        </li>
        <li>
            <div class="tdcell icon-area"><i class="icon-player"></i></div>
            <div class="tdcell font-black">选择玩家</div>
            <div class="tdcell text-right">
                <a class="view-players" ng-if="playersCount==0" ng-click="choosePlayerFn()">
                    请选择玩家&nbsp;<i class="icon-arrow"></i>
                </a>
                <a class="view-players" ng-if="playersCount>0" ng-click="choosePlayerFn()">
                    已选择{{playersCount}}位好友&nbsp;<i class="icon-arrow"></i>
                </a>
            </div>
        </li>
    </ul>
    <div class="button-area">
        <a class="long-button" ng-if="isSubmit" ng-click="btnSubmit()">确定</a>
        <a class="long-button" ng-if="!isSubmit">确定</a>
    </div>
    
        <div class="submit-success text-center hide" id="validateSuccess">
            <span class="success-icon"><i class="icon-right"></i></span>
            <span>创建团战成功！</span>
        </div>
</div>
<div class="choose-player-popup" ng-if="showChoosePlayer">
    <div class="close-area">        
    </div>
    <div class="pop-content">
        <ul class="tab-title">           
            <li class="tdcell">
                <a class="friendTab {{isFriend?'titleon':''}}" ng-click="friendFn()">好友</a>
            </li>
            <li class="tdcell">
                <a class="worldTab {{!isFriend?'titleon':''}}" ng-click="worldFn()">在线用户</a>
            </li>
            <li class="tdcell text-right">
            <a class="close-btn" ng-click="closeChoosePlayerFn()"></a>
            </li>
        </ul>
        <ul class="ranking-content">
            <p class="text-center font-black" ng-if="playersCount==0">两人可成团</p>
            <p class="text-center font-black" ng-if="playersCount>0&&playersCount<=9">已选择{{playersCount}}位好友</p>
            <p class="text-center font-black" ng-if="playersCount>9">团战人数已满</p>
            <li ng-repeat="rank in friendsArray" ng-if="isFriend">
                <div class="tdcell firend-name">
                    <span class="font-black">{{rank.nickName}}</span>
                </div>
                <div class="tdcell male-icon text-center">
                    <i ng-if="rank.sex==1" class="icon-tie"></i>
                    <i ng-if="rank.sex!=1" class="icon-highshoe"></i>
                </div>
                <div class="tdcell steps-coins">
                    <i class="icon-steps font-cyanblue"></i> <span class="font-grey">{{rank.totalSteps==null?"0":rank.totalSteps | number}}</span>
                    <i class="icon-coin font-cyanblue"></i> <span class="font-grey">{{rank.score | number}} </span> 
                    <label class="error" ng-if="rank.status ==1">正在团战中</label>
                    <label class="error" ng-if="rank.score<coin">健康币不足</label>
                </div>
                <div class="tdcell text-right invited-btn">
                    <a ng-if="rank.score>=coin&&rank.status !=1" class="invite-friend-btn {{rank.isClick?'invited':''}}" ng-click="addPlayers(rank)">
                        <i class="icon-right"></i>
                    </a>
                    <a ng-if="rank.score<coin||rank.status ==1" class="invite-friend-btn ">
                        <i class="icon-right"></i>
                    </a>
                </div>
            </li>
            <li ng-repeat="rank in worldArray" ng-if="!isFriend">
                <div class="tdcell firend-name">
                    <span class="font-black">{{rank.nickName}}</span>
                </div>
                <div class="tdcell male-icon text-center">
                    <i ng-if="rank.sex==1" class="icon-tie"></i>
                    <i ng-if="rank.sex!=1" class="icon-highshoe"></i>
                </div>
                <div class="tdcell steps-coins">
                    <i class="icon-steps font-cyanblue"></i> <span class="font-grey">{{rank.totalSteps==null?"0":rank.totalSteps| number}}</span>
                    <i class="icon-coin font-cyanblue"></i> <span class="font-grey">{{rank.score| number}}</span>
                    <!-- {{rank}} -->
                </div>
                <div class="tdcell text-right invited-btn">
                    <a class="invite-friend-btn {{rank.isClick?'invited':''}}" ng-click="addPlayers(rank)">
                        <i class="icon-right"></i>
                    </a>
                </div>
            </li>
        </ul>
        <div class="submit-success text-center hide" id="validateError">
            <span class="success-icon error"><i class="icon-right"></i></span>
            <span>人数已满！</span>
        </div>
        <div class="button-area">
            <a ng-if="playersCount>=0&&playersCount<=9" class="long-button" ng-click="btnConfirm()">确定</a>
            <a ng-if="playersCount>9" class="long-button">确定</a>
        </div>
    </div>
</div>
