<style type="text/css">
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: arial, verdana, sans-serif;
}

input {
    width: 100%;
    padding: .625em;
    margin: 0 0 .625em 0;
    border: 1px solid #aaa;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.dwfl {
    display: inline-block !important;
}

.content {
    padding: 1em;
}
</style>
<div class="content">
    <div data-role="fieldcontain" class="demo-cont" id="demo_cont_date">
        <label for="demo_date">选择日期</label>
        <input type="text" id="demo_date" ng-model="form.date" />
    </div>
    <div data-role="fieldcontain" class="demo-cont" id="demo_cont_date">
        <label for="demo_date1">选择日期</label>
        <input type="text" id="demo_date1" ng-model="form.date1" />
    </div>

     <div data-role="fieldcontain" class="demo-cont" id="getUpTime-1" >
        <input type="text" id="getUpTime" />  
    </div>
</select>

</div>
