
<div class="bind-telphone">
    <a ng-click="form.useIntroduction()">使用介绍(webPage)</a><br>    
    <a ng-click="form.bind()">绑定电话号码(webPage)</a><br>
    <a ng-click="form.myHealthy()">健康管理(webPage)</a><br>
    <a ng-click="form.healthyStatus()">健康状态(webPage)</a><br>   
    <a ng-click="form.myCommunity()">健康管理[排行榜](webPage)</a><br>
    <a ng-click="form.share()">分享(webPage)</a><br>
    <a ng-click="form.personalFile()">个人档案(webPage)</a><br>

    <a ng-click="form.dateUi()">选择日期(UI field 第三方JS)</a><br>
    <!-- <a ng-click="form.healthyTaskUi()">健康任务(UI image)</a><br> -->
    <a ng-click="form.lineUi()">统计表(UI canvas 第三方JS)</a><br>
</div>




