<div class="healthy-task task-set">
    <div class="list-head clearfix">
    </div>
    <div class="white-bg">
        <div class="task-category" ng-repeat="group in taskGroups">
            <div ng-if="group.groupId == '02'">
                <h3 class="font-black">{{group.group}}</h3>
                <div class="task-category" ng-repeat="category in group.category">
                    <!--h3 class="font-black">{{category.categoryTitle}}</h3-->
                    <ul class="task-items">
                        <li ng-repeat="subCat in category.subCategory" ng-if="showList(category.subCategory)">
                            <div class="tdcell" ng-if="addItem06(subCat)" ng-click="changeCheck(subCat, undefined, true);">
                                <h4 ng-if="subCat.id=='0521'" ng-class="getTitleClass(subCat)">每天走   <select ng-model="targetStep" class="targetStep" ng-options="data for data in steps" ng-change="changeCheck(subCat, targetStep)">
                                    </select> 步</h4>
                                <script type="text/javascript">
                                var targetStepOpt = {
                                    theme: 'ios',
                                    lang: 'zh',
                                    display: 'bottom',
                                    defaultValue: '7000',
                                    onSelect: function(val) {

                                        // angular.element($("#height-1")).scope().setHeightValue(angular.element($("#height-1")).scope().answer.value)
                                    }
                                }
                                setTimeout(function() {
                                    $('.targetStep').mobiscroll().select(targetStepOpt);
                                })
                                </script>
                                <h4 ng-if="subCat.id=='0602'" ng-class="getTitleClass(subCat)">每天控制在 <select ng-model="smoke" class="smoke" ng-options="data for data in smokes" ng-change="changeCheck(subCat, smoke)"></select> 支以内</h4>
                                <script type="text/javascript">
                                var smokeOpt = {
                                    theme: 'ios',
                                    lang: 'zh',
                                    display: 'bottom',
                                    defaultValue: '1',
                                    onSelect: function(val) {

                                        // angular.element($("#height-1")).scope().setHeightValue(angular.element($("#height-1")).scope().answer.value)
                                    }
                                }
                                setTimeout(function() {
                                    $('.smoke').mobiscroll().select(smokeOpt);
                                })
                                </script>
                                <h4 ng-if="subCat.id!='0521' && subCat.id!='0602'" ng-class="getTitleClass(subCat)">{{subCat.subTitle}}</h4>
                                <span class="font-grey">{{subCat.subSummary}}</span>
                            </div>
                            <div class="tdcell text-right " ng-click="changeCheck(subCat);">
                                <a ng-class="getButtonClass(subCat)"><i ng-class="getButtonIconClass(subCat)" ></i></a>
                            </div>
                            <div class="enter-value" ng-if="subCat.id=='0521'">
                                <div class="tdcell">
                                    <!--span style="display: inline-block; vertical-align: bottom;"><a ng-click="changeCheck(subCat, targetStep)">确定</a></span-->
                                </div>
                                <div class="tdcell text-right">
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-area">
            <a class="long-button" ng-click="submitTaskSet()" ng-if="category.length>0&&!isSubmit">提交</a>
            <a class="long-button disable" ng-if="category.length==0||isSubmit">提交</a>
        </div>
    </div>
    <!-- div class="white-bg">
        <div class="task-category">
            <h3 class="font-black">让营养更均衡</h3>
            <ul class="task-items">
                <li>
                    <div class="tdcell">
                        <h4 class="font-grey">多吃有益食物</h4>
                    </div>
                    <div class="tdcell text-right ">
                        <a class="check-button uncheck-button"><i class="icon-wrong"></i></a>
                    </div>
                </li>
             
                <li>
                    <div class="tdcell">
                      
                        <h4 class="font-blue">改进饮食习惯</h4>
                    </div>
                    <div class="tdcell text-right ">
                        
                        <a class="check-button checked"><i class="icon-right"></i></a>
                    </div>
                </li>
              
                <li>
                    <div class="tdcell">
                        <h4 class="font-grey">选择营养保健品</h4>
                    </div>
                    <div class="tdcell text-right">
                        <a class="check-button uncheck-button"><i class="icon-wrong"></i></a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="task-category">
            <h3 class="font-black">为身体添活力</h3>
            <ul class="task-items">
                <li>
                    <div class="tdcell">
                        <h4 class="font-grey">每天按时吃早餐</h4>
                    </div>
                    <div class="tdcell text-right ">
                        <a class="check-button uncheck-button"><i class="icon-wrong"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div -->
</div>
