<div class="healthy-status">
    <div class="list-head">
        <!-- <ul class="title-tab">
            <li class="{{status.isClick?'titleon':''}}" class="titleon " ng-repeat="status in healthStatus" ng-if="(status.key=='weight' && showWeight)||(status.key=='sport' && showSport)||(status.key=='calories')||(status.key=='drink' && showDrink)||(status.key=='smoke' && showSmoke)||(status.key=='food')">
                <a ng-if="status.key=='weight' " class="{{status.key}} statuses" ng-click="changeStatus(status)">体重</a>
                <a ng-if="status.key=='sport' "  class="{{status.key}} statuses" ng-click="changeStatus(status)">步数</a>
                <a ng-if="status.key=='calories'" class="{{status.key}} statuses" ng-click="changeStatus(status)">热量</a>
                <a ng-if="status.key=='drink'" class="{{status.key}} statuses" ng-click="changeStatus(status)">喝水</a>
                <a ng-if="status.key=='smoke'" class="{{status.key}} statuses" ng-click="changeStatus(status)">抽烟</a>
                <a ng-if="status.key=='food' " class="{{status.key}} statuses" ng-click="changeStatus(status)">营养</a>
            </li>
        </ul> -->
        <div class="whitebar"></div>
    </div>
    <section ng-if="false" class="line-tip" ng-click="insurance()">“裸奔”风险高，适当保障很有必要，立即点击了解</section>
    <div class="white-bg">
        <div ng-repeat="status in healthStatus">
            <div class="status-items" ng-show="status.key=='sport' && showSport" id="{{status.index}}">
                <h3 class="font-blue">{{sportTitle}}</h3>
                <span class="brief-intro">{{sportTarget}}</span>
                <!-- <canvas class="chart chart-line" data="sportData" labels="sportLabels">
                </canvas> -->
                <canvas class="chart chart-line" id="sport">
                </canvas>
            </div>
            <div class="status-items" ng-if="status.key=='weight' && showWeight" id="{{status.index}}">
                <h3 class="font-blue">{{weightTitle}}</h3>
                <span class="brief-intro">{{weightTarget}}</span>
                <canvas class="chart chart-line" id="weight">
                </canvas>
            </div>
            <div class="status-items" ng-if="status.key=='food' " id="{{status.index}}">
                <h3 class="font-blue">营养记录</h3>
                <span class="brief-intro">过去七天的记录</span>
                <ul class="food-items">
                    <li ng-repeat="food in foods">
                        <div class="tdcell food-name">{{food.item}}</div>
                        <div class="tdcell">
                           <div class="nutrition-progressbar">
                             <span style="width:{{100/7*food.progress}}%"></span>
                           </div>
                        </div>
                        <!-- <div class="tdcell text-right food-num">8,016 卡</div> -->
                    </li>
                </ul>
            </div>
            <div class="status-items" ng-if="status.key=='smoke' && showSmoke" id="{{status.index}}">
                <h3 class="font-blue">{{smokeTitle}}</h3>
                <span class="brief-intro">{{smokeTarget}}</span>
                <canvas class="chart chart-line" id="smoke">
                </canvas>
            </div>
            <div class="status-items" ng-if="status.key=='drink' && showDrink " id="{{status.index}}">
                <h3 class="font-blue">{{drinkTitle}}</h3>
                <span class="brief-intro">{{drinkTarget}}</span>
                <canvas class="chart chart-line" id="drink">
                </canvas>
            </div>
            <div class="status-items" ng-if="status.key=='calories'" id="{{status.index}}">
                <span ng-repeat="cal in status.calorieData track by $index">
                    <h3 class="{{$index==0?'font-blue':'font-black'}}">{{cal.title}}</h3>
                    <span class="brief-intro">{{cal.text}}</span>
                </span>
            </div>


        </div>

        <h3 class="font-blue" ng-show="{{isSuggestion}}">健康建议</h3>
    <div ng-repeat="suggestion in suggestionData">
        <div ng-repeat="praise in suggestion.praise">
            <span class="brief-intro">
            	{{praise.summary}}
        	</span>
        </div>
        <div ng-repeat="suggestion in suggestion.suggestion">
            <span class="brief-intro">
            	{{suggestion.title}}{{suggestion.summary}}
        	</span>
        </div>
    </div>

</div>
