<div class="healthy-question">
    <div class="flexslider">
        <ul class="slides text-center" style="opacity:0">
            <li ng-repeat="page in form.pages" on-last-repeat class="clearfix">
                <div ng-repeat="answer in page.answers" ng-class="getDivClass(answer)">
                    <div class="img-show responsive-img {{answer.mainImg==''?'hide':''}}" >
                        <span class="main-img" ng-if="answer.mainImg!=''">
                      <img ng-src="images/question/{{answer.mainImg}}" />
                    </span>
                        <span class="aid-img" ng-if="answer.aidImg!=''">
                      <img ng-src="images/question/{{answer.aidImg}}" />
                    </span>
                    </div>
                    <!-- <form class="form-content"> -->
                    <div ng-if="answer.type!='doubueInput'">
                        <label class="question-content">
                            {{answer.content}}    
                        </label>
                        <div ng-class="checkClass(answer)" ng-if="answer.type=='check'">
                            <a ng-class="getRightButtonStatus(answer,isCheck)" ng-click="checkButton(answer, true, $event)"><i class="icon-right"></i></a>
                            <a ng-class="getWrongButtonStatus(answer,isCheck)" ng-click="checkButton(answer, false, $event)"><i class="icon-wrong"></i></a>
                        </div>
                        <div class="radio-btn" ng-if="answer.type == 'sex'">
                            <a ng-class="getRightButtonStatus(answer,isCheckSex)" ng-click="checkSexButton(answer, true)"><i class="icon-tie"></i></a>
                            <a ng-class="getWrongButtonStatus(answer,isCheckSex)" ng-click="checkSexButton(answer, false)"><i class="icon-highshoe"></i></a>
                        </div>

                        <div class="select-border" ng-if="answer.type == 'waterRuler'" id="water-1" >
                        {{waterValue}}
                        <select ng-model="answer.value" class="water" ng-click="rulerChangeFn(answer);setWaterValue(answer.value)" ng-change="rulerChangeFn(answer);setWaterValue(answer.value)"
                        ng-options="data for data in waterRuler" >
                        </select>
                        </div>

                        <input type="text" ng-if="answer.type == 'input'" readonly="readonly" ng-model="answer.value" class="input-text" placeholder="{{answer.placeholder}}" />
                        <input type="text" ng-if="answer.type == 'name'" ng-model="form.name" class="input-text" placeholder="{{answer.placeholder}}" id="name" />
                        <script type="text/javascript" ng-if="answer.type == 'name'">
                        $('#name').on('change', function() {
                            $('#name').val($('#name').val().replace(/(^\s*)|(\s*$)/g, ''))
                        })
                        $('#name').on('focus',function(){
                            $('.healthy-question').css('position','absolute');
                            // $('.healthy-question').css('height','200%');
                            $(document).scrollTop(300);  
                        })
                        $('#name').on('blur',function(){
                            $(document).scrollTop(-300);
                            // $('.healthy-question').css('height','');
                            $('.healthy-question').css('position','fixed');
                        })
                        </script>
                        <!-- <input type="text" ng-show="answer.type == 'select'" ng-model="answer.value" class="input-text" /> -->
                        <div data-role="fieldcontain" class="demo-cont" id="birthday-1" ng-if="answer.type == 'birthday'">


                            <input type="text" class="input-text" readonly="readonly" ng-click="birthdayClick()" ng-model="birthdayValue">

                            <input type="text" style="position: absolute;left: 0;top: 0;width: 100%;heignht: 40px;border: none;outline: none;opacity: 0;" class="input-text birthday" ng-click="rulerChangeFn(answer);setBirthdayValue(answer.value)" ng-change="rulerChangeFn(answer);setBirthdayValue(answer.value)"  ng-model="answer.value" />


                        </div>
                        <div class="select-border" ng-if="answer.type == 'heightRuler'" id="height-1" >
                        {{heightValue}}
                        
                        <select ng-model="answer.value" class="height" ng-click="setHeightValue(answer.value)" ng-change="setHeightValue(answer.value)">
                            <option ng-repeat="data in heightRuler">{{data}}</option>
                        </select>
                        
                        </div>
                        {{answer.key == '04_0401_0_0'?" CM":""}}
                        <!--my-scroll class="myscrollE" my-values="heightRuler" ng-model="answer.value" ng-if="answer.type == 'heightRuler'"></my-scroll-->
                        <!--my-scroll class="myscrollE" my-values="weightRuler" ng-model="answer.value" ng-if="answer.type == 'weightRuler'"></my-scroll-->
                         <div class="select-border" ng-if="answer.type == 'weightRuler'" id="weight-1">
                         {{weightValue}}
                        <select ng-model="answer.value" class="weight" ng-click="setWeightValue(answer.value)" ng-change="setWeightValue(answer.value)">

                            
                            <option ng-repeat="data in weightRuler">{{data}}</option>
                        </select>
                        
                        </div>
                        {{answer.key == '04_0401_0_1'?" KG":""}} 
                        <div data-role="fieldcontain" ng-class="rulerClass(answer)" id="getUpTime-1" ng-if="answer.type == 'getUpTime'">
                            <input type="text" class="input-text" readonly="readonly" ng-click="getUpTimeClick()" ng-model="upTimeValue">

                            <input type="text" style="position: absolute;left: 0;top: 0;width: 100%;height: 40px;border: none;outline: none;opacity: 0;" class="input-text getUpTime" ng-model="answer.value" ng-click="rulerChangeFn(answer)" />
                        </div>
                        <div data-role="fieldcontain" ng-class="rulerClass(answer)" id="sleepTime-1" ng-if="answer.type == 'sleepTime'">
                            <input type="text" class="input-text" readonly="readonly" ng-click="sleepTimeClick()" ng-model="sleepTimeValue">

                            <input type="text" style="position: absolute;left: 0;top: 0;width: 100%;height: 40px;border: none;outline: none;opacity: 0;" class="input-text sleepTime" ng-click="rulerChangeFn(answer)" ng-model="answer.value" />
                        </div>
                        <div ng-if="answer.type == 'walkBicycling'" ng-class="rulerClass(answer)" hm-tap="rulerChangeFn(answer)">
                         <select ng-model="form.work" class="work" ng-options="data for data in workTimeRuler" style="display:none">
                                </select>

                            <div class="tdcell text-right week-train">
                                <!--my-scrollv class="myscrollE" my-values="workTimeRuler" ng-model="form.work" my-text="workTimes" my-refresh="walkTimeRefresh"></my-scrollv-->
                                <div class="select-border" id="work-1">
                                {{workValue}}
                                 <input ng-model="form.work" class="workInput" readonly="readonly" >
                                </div> {{workTimes}}
                            </div>
                            <div class="tdcell motion-time text-left">
                                <!--my-scrollv class="myscrollE" my-values="bicyclingTimeRuler" ng-model="form.bicycling" my-text="bicyclingRulerTimes" my-refresh="bicyclingRefresh"></my-scrollv-->
                                <div class="select-border" id="bicycling-1">
                                {{bicyclingValue}}
                                <input ng-model="form.bicycling" class="bicycling" readonly="readonly" >
                                </div>
                                {{bicyclingRulerTimes}}
                            </div>
                        </div>
                    </div>
                    <div ng-if="answer.type=='sportNum'" ng-class="rulerClass(answer)">
                        <!--my-scrollv class="myscrollE" my-values="sportNumRuler" ng-model="answer.value" my-text="labelNum" ng-if="answer.type=='sportNum'" my-refresh="sportNumRefresh"></my-scrollv-->
                        <select ng-model="answer.value" class="sportNum" style="display:none">
                            <option ng-repeat="data in sportNumRuler">{{data}}</option>
                        </select>

                         <div class="select-border" ng-if="answer.type=='sportNum'" id="sportNum-1">
                         {{sportNumValue}}
                            <input ng-model="answer.value" class="sportNumInput" readonly="readonly" >
                        </div>
                        {{labelNum}}
                    </div>
                    <div ng-if="answer.type=='sportTime'" ng-class="rulerClass(answer)">
                        <!--my-scrollv class="myscrollE" my-values="sportTimeRuler" ng-model="answer.value" my-text="labelTimes" ng-change="rulerChangeFn(answer)" ng-if="answer.type=='sportTime'" my-refresh="sportTimeRefresh"></my-scrollv-->
                         <div class="select-border" ng-if="answer.type=='sportTime'"  id="sportTime-1">
                         {{sportTimeValue}}
                        <input ng-model="answer.value" class="sportTime" readonly="readonly">
                        </div>
                        {{labelTimes}}
                    </div>
                </div>
                <div class="button-area" style="padding-top: 0px;">
                    <button ng-click="prevButtom(page.pagesId)" ng-class="prevClass(page.pagesId)" id="prev"></button><script type="text/javascript">
                    $('#prev').text('上一步');
                    </script><button ng-click="nextButtom(page.pagesId)" ng-if="page.pagesId!=3" class="question-button" id="next"></button><script type="text/javascript" ng-if="page.pagesId!=3">
                    $('#next').text('下一步');
                    </script><button unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;" id="submitButtom" ng-if="page.pagesId==3&&submitting&&birthdayValue" ng-class="sibmitClass()" ng-click="sibmitButtom()" id="submit">{{submit}}</button><button unselectable="on" style="-moz-user-select:none;-webkit-user-select:none;" onselectstart="return false;" id="submitButtom" ng-if="page.pagesId==3&&(!submitting||!birthdayValue)" class="question-button disable" id="submit">{{submit}}</button>

                </div>
            </li>
        </ul>
        <div class="not-touched"></div>
    </div>
</div>
