<div class="mailbox">
    <div class="list-head text-center">
        <ul class="title-tab">
            <li class="{{isFriend?'titleon':''}}" ng-click="friendFn()">
                <a>好友邀请<span ng-if="friendMailStatus" class="remind-circle"></span></a>
            </li>
            <li class="{{!isFriend?'titleon':''}}" ng-click="groupFn()">
                <a>团战邀请<span ng-if="groupMailStatus" class="remind-circle"></span></a>
            </li>
        </ul>        
    </div>    
    <ul class="ranking-content view-code-content" ng-if="isFriend">
        <li ng-repeat="friend in form.inviteList">
            <div class="wrap-friend" delmailaction>
                <div class="tdcell friend-name">{{friend.nickName}}
                    <br>
                    <span class="font-grey">想添加您为好友</span>
                </div>
                <div class="tdcell text-right inviting-btn">
                    <div>
                        <a class="middle-button" ng-click="addFriend($event,friend.inviteUserId)"  ng-if="!friend.status">接受</a>
                        <a class="middle-button invited" ng-if="friend.status" ng-click="accepted()">已接受</a>
                    </div>
                    <div class="text-center delete-btn">
                        <a class="middle-button" ng-click="delMail($event,friend.id)">删除</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    
    <ul class="ranking-content battleGroup" ng-if="!isFriend">
        <li class="battleGroup-li"  ng-repeat="group in form.groupList" >
            <div class="head-img text-center">
                <span>{{group.taskName}}</span>
                <img ng-src="{{group.imageUrl}}">
            </div>
            <div class="brttleGroup-content">
                <h4 class="group-title">
                 <div class="tdcell text-right"><span class="font-overflow">{{group.nickName}}</span></div>
                 <div class="tdcell text-left"><span>邀请您参加</span></div>
                 <div class="tdcell del-area"><a class="font-blue" ng-click="delMailByGame($event,group.id)">删除<i class="icon-arrow"></i></a></div>
                 </h4>                
                 <ul class="brttleGroup-details clearfix">
                    <li>
                        <div class="tdcell text-center font-icon"><i class="icon-aims"></i></div>
                        <div class="tdcell items-title">目标:</div>
                        <div class="tdcell">{{group.targetStepNum|convertMyriabitFilter}}步</div>
                    </li>
                    <li>
                        <div class="tdcell text-center font-icon"><i class="icon-player"></i></div>
                        <div class="tdcell items-title">玩家:</div>
                        <div class="tdcell">最少2人</div>
                    </li>
                    <li>
                        <div class="tdcell text-center font-icon"><i class="icon-coin"></i></div>
                        <div class="tdcell items-title">押注:</div>
                        <div class="tdcell">{{group.baseCoin}}健康币</div>
                    </li>
                    <li>
                        <div class="tdcell text-center font-icon"><i class="icon-time"></i></div>
                        <div class="tdcell items-title">时间:</div>
                        <div class="tdcell">{{group.schedule}}</div>
                    </li>
                </ul>
                <div class="button-area" ng-if="compareDate(group)&&group.status==0">
                        <a ng-click="acceptInvite(group.userTaskId,group.id)" class="middle-button">立即参与</a>
                </div>
                <div class="button-area" ng-if="group.status==1">
                        <a class="middle-button disable">已接受团战</a>
                </div>
                <div ng-if="!compareDate(group)&&group.status==0" style="text-align:center">
                    已经开团啦，挤不进去咯
                </div>

                
            </div>
        </li>        
    </ul>
    <div class="text-center no-message" ng-if="isFriend&& form.inviteList.length==0">
        <h4>没有收到好友邀请</h4>
    </div>
    <div class="text-center no-message" ng-if="!isFriend&& form.groupList.length==0">
        <h4>没有收到团战邀请</h4>
    </div>
</div>
<div class="submit-success text-center hide" id="validateSuccess4">
    <span class="success-icon"><i class="icon-right"></i></span>
    <span>已接受</span>
</div>
<div class="submit-success text-center hide" id="validateSuccess1">
    <span class="success-icon"><i class="icon-right"></i></span>
    <span>添加好友成功！</span>
</div>

<div class="submit-success text-center hide" id="validateError">
    <span class="success-icon error"><i class="icon-wrong"></i></span>
    <span>添加好友失败！</span>
</div>

<div class="submit-success text-center hide" id="validateSuccessDel">
    <span class="success-icon"><i class="icon-right"></i></span>
    <span>删除成功！</span>
</div>

<div class="submit-success text-center hide" id="validateErrorDel">
    <span class="success-icon error"><i class="icon-wrong"></i></span>
    <span>删除失败！</span>
</div>
