<div class="add-friend managemant">
    <div class="list-head">
        <h2 class="text-center">健康管理</h2>
    </div>
    <ul class="ranking-content view-code-content">
        <li ng-click="showAd()">
            <!--div class="tdcell " style='color:red'>11月26-27日壕礼大放送</div-->
            <div class="tdcell">最新活动</div>
            <div class="tdcell text-right activity-end">{{form.act_ad.desc}}</div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>
        <li ng-click="goTutorial()">
            <div class="tdcell">帮助</div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>
        <li ng-click="goFeedBack()">
            <div class="tdcell">意见反馈</div>
            <div class="tdcell text-right more-link-arrow"><i class="icon-arrow"></i></div>
        </li>
        <li ng-click="switchControl()" ng-show="{{!isIos}}">
            <div class="tdcell">计步器开关</div>
            <div class="tdcell text-right control-btn"><a class="on"></a></div>
        </li>
    </ul>
    <ul class="ranking-content search-content" ng-if="searchFriend.length>0">
        <li ng-repeat="friend in friends ">
            <div class="tdcell"><span>{{friend.nickName}}</span></div>
            <div class="tdcell text-right" ng-if="!friend.ifFriend"><a class="invite-link" ng-click="addFriendFn($event,friend.userId)">发送邀请</a></div>
            <div class="tdcell text-right" ng-if="friend.ifFriend"><a class="invite-link">已是好友</a></div>
        </li>
    </ul>
</div>