<div class="my-community">
    <div class="main-containt">
        <ul class="title-tab">
            <li>
                <div ng-click="goMyHealthy()">
                    <a>我的健康</a>
                </div>
            </li>
            <li class="titleon">
                <div ng-click="myCommunity()">
                    <a>我的社区</a>
                </div>
            </li>
        </ul>
        <div class="whitebar"></div>
        <div class="content-whitebg">
            <div class="clearfix">
                <!--用户图片展示 start-->
                <div class="user-image pull-left">
                    <div ng-class="getCommunityImg()"  ng-click="personalFileFn()"></div>
                    <p class="text-center textPerfect" ng-if="needPerfect" ng-click="openPersonalFileFn()">点击完善资料</p>
                </div>
                <!--用户图片展示 end-->
                
                <!--用户信息列表 start-->
                <ul class="daten-item pull-left">
                    <li>
                        <div class="tdcell icon-style"><i class="icon-user3"></i></div>
                        <div class="tdcell">
                        	<div class="user-name">{{form.userInfo.nickName}}<i class="icon-pencil" ng-click="openPersonalFileFn()"></i></div>
                        </div>
                    </li>
                    <li>
                        <div class="tdcell icon-style"><i class="icon-coin"></i></div>
                        <div class="tdcell">
                            <div>健康币</div>
                            <div><span class="daten-style">{{form.userInfo.score | number}}</span></div>
                        </div>
                    </li>
                    <li>
                        <div class="tdcell icon-style"><i class="icon-medal"></i><b class="star-color"></b></div>
                        <div class="tdcell">
                            <div class="fix-td-width">等级</div>
                            <div class="leval-progress"><span class="leval-count">{{form.userInfo.level}}</span>
                                <progress value="{{form.userInfo.level}}" max="{{form.userInfo.hightLevel||20}}"></progress>
                            </div>
                        </div>
                    </li>
                </ul>
                <!--用户信息列表 end-->
            </div>
            <!--加好友 邮箱 start-->
            <ul class="clearfix feature-title text-center">
                <li><a ng-click="addFriendFn()"><span class="title-icon-style"><i class="icon-addfrd"></i></span>加好友</a></li>
                <li><a ng-click="mailBoxFn()"><span class="title-icon-style"><i class="icon-mail-open"></i></span>消息<span ng-if="mailBoxStatus>0" class="remind-circle"></span></a></li>
            </ul>
            <!--加好友 邮箱 end-->
        </div>
    </div>
    <div class="white-bg clearfix">
     <!--好友排名 start-->
        <div class="column pull-left ranking">
            <a class="title" ng-click="rankingListFn()">
                <div class="tdcell">
                    <span class="sort-title">好友周排行榜</span>
                    <br>
                    <span>{{dateRange}}</span>
                </div>
                <div class="tdcell text-right">
                    <span  class="more-icon pull-right"><i class="icon-arrow"></i></span>
                </div>
            </a>
            <!-- <a class="title" ng-click="rankingListFn()" ng-if="form.rankList.rankList.length==0">
                <div class="tdcell">
                    <span>好友排行榜</span>
                    <br>
                    <span class="sort-title">本周排名</span>
                </div>
            </a> -->
            <div ng-if="form.rankList.rankList.length>0" class="ranking-week">
                <div class="des-section">
                    <div class="tdcell">
                        <span class="icon-group font-blue"><i class="icon-grouptitle"></i></span><span>我的排名</span>
                    </div>
                    <div class="tdcell text-right">
                        <span>第<span class="places">{{form.rankList.userRank}}</span>名</span>
                    </div>
                </div>
                <ul class="column-item">
                    <li ng-repeat="rank in form.rankList.rankList" ng-if="rank.userRank<=3">
                        <div class="tdcell rank">
                            第<span class="places">{{rank.userRank}}</span>名
                        </div>
                        <div class="tdcell shoes-icon">
                            <div class="responsive-img leavel ">
                                <img src="images/icons/icon-shoes.png" />
                            </div>
                        </div>
                        <div class="tdcell text-right grade">
                            <div class="name" >{{rank.nickName}}</div>
                            <div class="walk-amount">{{rank.userStep | formatSteps}}步</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div ng-if="!form.rankList.rankList.length>0" class="ranking-none">
                <p class="font-black" style="padding:0 10px;">{{loadingTips}}</p>
            </div>
        </div>
        <!--好友排名 end-->        
        
        <div class="column pull-right team" ng-cloak>
            <!--团战title（未 创建/参加） start-->
            <a ng-if="gameStatus==-1||gameStatus==0||gameStatus==2" class="title team-creat clearfix" style="background-image: url('images/team-bg.jpg');">
                <div class="tdcell">
                    <span class="team-title">组团战</span>
                </div>
                <div class="tdcell text-right">
                    <span class="more-icon pull-right" ng-click="rankingRulePopup()"><i class="icon-question-mark" ></i></span>
                </div>
            </a>
            <!--团战title（未 创建/参加） end-->

            <!--团战title（已 创建/参加） start-->
      

            <a ng-if="gameStatus==1" ng-click="challenge(form.userTask.isOwn)" ng-class="getMCBgClass(form.userTask)" >
                
                <div class="tdcell">
                    <span class="team-title">组团战</span>
                    <br>
                    <span class="sort-title">{{form.userTask.taskName}}</span>
                </div>
                <div class="tdcell text-right" >
                    <span class="more-icon pull-right"><i class="icon-arrow"></i></span>
                </div>
            </a>
            <a ng-if="gameStatus==4" ng-click="challengeBattleFn()" ng-class="getMCBgClass(form.userTask)" >
                
                <div class="tdcell">
                    <span class="team-title">组团战</span>
                    <br>
                    <span class="sort-title">{{form.userTask.taskName}}</span>
                </div>
                <div class="tdcell text-right" >
                    <span class="more-icon pull-right"><i class="icon-arrow"></i></span>
                </div>
            </a>

            <a ng-if="gameStatus==3" ng-click="challengeRankingFn()" ng-class="getMCBgClass(form.userTask)" >
                
                <div class="tdcell">
                    <span class="team-title">组团战</span>
                    <br>
                    <span class="sort-title">{{form.userTask.taskName}}</span>
                </div>
                <div class="tdcell text-right" >
                    <span class="more-icon pull-right"><i class="icon-arrow"></i></span>
                </div>
            </a>
            <!--团战title（未 创建/参加） end-->

            <!--团战（未开始） start-->
            <div class="team-content" ng-if="gameStatus==1">
                <div class="des-section">
                    <div class="tdcell">目标：<span>{{form.userTask.targetStepNum|convertMyriabitFilter}}步</span></div>
                    <div class="tdcell text-right">押注：<span>{{form.userTask.baseCoin}}健康币</span></div>
                </div>
                <ul class="column-item ranking-time-status">
                    <li class="ranking-time-content text-center">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="circle-pie" width="140px" height="140px" viewBox="0 0 140 140" enable-background="new 0 0 140 140" xml:space="preserve">
                            <circle r="67" cx="70" cy="70" fill="none" stroke="#21BDCF" stroke-width="6" stroke-dasharray="{{eclipseLength}},420" opacity="0.5" />
                            <circle r="60" cx="70" cy="70" fill="#ffffff" stroke="none" />
                        </svg>
                        <div class="mask">
                                <h5 class="font-black">距离开始还剩</h5> 
                                 <div class="day">
                                    <hr /> <span>{{userDay}}
                                    </span>天
                                    <hr />
                                </div>
                                <span class="hour">{{userHour}}</span>时<span class="minute">{{userMinutes}}</span>分
                            </div>                        
                    </li>
                </ul>
            </div>
            <!--团战（未开始） end-->

            <!--团战（已开始） start-->
            <div class="team-content team-ranking" ng-if="gameStatus==3">
                <div class="des-section">
                    <div class="tdcell">目标: <span>{{form.userTask.targetStepNum|convertMyriabitFilter}}步</span></div>
                    <div class="tdcell">押注: <span>{{form.userTask.baseCoin}}健康币</span></div>
                </div>
                <ul class="column-item" >
                   <h5 class="font-blue">距离结束时间: {{userEndHour|addZeroFilter}}:{{userEndMinutes|addZeroFilter}}:{{userEndSecond|addZeroFilter}}</h5>
                    <li class="clearfix" ng-repeat="taskMember in form.taskMembers" ng-if="taskMember.userRank<=3&&taskMember.status!=0">
                     <div class="tdcell number-area">
                        <div class="team-rank 
                        {{taskMember.userRank==1?'first':''}}
                        {{taskMember.userRank==2?'second':''}}
                        {{taskMember.userRank==3?'third':''}}
                        ">
                            {{taskMember.userRank}}
                        </div>
                        </div>
                        <div class="tdcell team-member">
                            <div class="name">{{taskMember.userName}}</div>
                            <div><progress class="progress-bar" value="{{taskMember.steps}}" max="{{form.userTask.targetStepNum}}"></progress></div>
                            <div class="run-amount"><span>{{taskMember.steps | formatSteps}}</span>步</div>
                        </div>
                    </li>
                </ul>
            </div>
            <!--团战（已开始） end-->

            <!--团战（结束） start-->
            <div class="team-content" ng-if="gameStatus==4">
                <div class="des-section">
                    <div class="tdcell">目标：<span>{{form.userTask.targetStepNum|convertMyriabitFilter}}步</span></div>
                    <div class="tdcell text-right">押注：<span>{{form.userTask.baseCoin}}健康币</span></div>
                </div>
                <ul class="column-item ranking-ending-status">
                    <li class="ranking-ending-content text-center" ng-click="challengeBattleFn()">
                        <span class="champion-icon"><i class="icon-champion"></i></span>
                        <p>团战结束了</p>
                        <a >查看结果</a>
                    </li>
                </ul>
            </div>
            <!--团战（结束） end-->

            <!--未参加/无邀请 start-->
            <div class="team-creat-content" ng-if="gameStatus==0">
                <a class="ranking-ending-content text-center" ng-click="communityCreateFn()">
                    <span class="champion-icon"><i class="icon-add-mark"></i></span>
                    <p>创建组团战</p>
                </a>
            </div>
            <div class="team-creat-content" ng-if="gameStatus==-1">
               <a class="ranking-ending-content text-center" >
                    <p>加载中…</p>
                </a>
            </div>
            <!--未参加/无邀请 start-->

            <!--未参加/有邀请 start-->
            <div class="team-creat-content" ng-if="gameStatus==2">
                <div class="team-creat-link">
                    <a class="font-black" ng-click="bellFn()">
                        <div class="tdcell">
                            <span class="bell-icon"><i class="icon-bell"></i></span>
                            <span class="reminder" ng-if="form.groupList.length>0"></span>
                        </div>
                        <div class="tdcell text-right">组团战邀请</div>
                        <div class="tdcell text-right">
                            <span class="arrow"> <i class="icon-arrow"></i></span>
                        </div>
                    </a>
                    <div class="cut-off font-blue">
                        <hr /> <span>或</span>
                        <hr />
                    </div>
                    <a class="font-black" ng-click="communityCreateFn()">
                        <div class="tdcell">
                            <span class="add-icon"><i class="icon-add-mark"></i></span>
                        </div>
                        <div class="tdcell text-right">创建组团战</div>
                        <div class="tdcell text-right">
                            <span class="arrow"> <i class="icon-arrow"></i></span>
                        </div>
                    </a>
                </div>
            </div>
            <!--未参加/有邀请 end-->

        </div>

        <!--跑团入口-->
        <div class="jog-entrance">
            <a ng-click="jogGroup()">
                <img src="images/jog/jog-entrance-2.png" style="width: 100%;margin-top: 10px;">
            </a>
        </div>
    </div>
</div>

<style type="text/css">
.leavel-1-girl {
    background: url(images/girl-01.png) no-repeat 0 0;
    -webkit-animation: runone 1.2s steps(12) infinite 0s;
    -moz-animation: runone 1.2s steps(12) infinite 0s;
    -o-animation: runone 1.2s steps(12) infinite 0s;
    animation: runone 1.2s steps(12) infinite 0s;
}

.leavel-1-man {
    background: url(images/man-01.png) no-repeat 0 0;
    -webkit-animation: runone 1.2s steps(12) infinite 0s;
    -moz-animation: runone 1.2s steps(12) infinite 0s;
    -o-animation: runone 1.2s steps(12) infinite 0s;
    animation: runone 1.2s steps(12) infinite 0s;
}

.leavel-2-girl {
    background: url(images/woman-02.png) no-repeat 0 0;
    -webkit-animation: runtwo 1s steps(9) infinite 0s;
    -moz-animation: runtwo 1s steps(9) infinite 0s;
    -o-animation: runtwo 1s steps(9) infinite 0s;
    animation: runtwo 1s steps(9) infinite 0s;
}

.leavel-2-man {
    background: url(images/man-02.png) no-repeat 0 0;
    -webkit-animation: runtwo 1s steps(9) infinite 0s;
    -moz-animation: runtwo 1s steps(9) infinite 0s;
    -o-animation: runtwo 1s steps(9) infinite 0s;
    animation: runtwo 1s steps(9) infinite 0s;
}

.leavel-3-girl {
    background: url(images/woman-03.png) no-repeat 0 0;
    -webkit-animation: run 1s steps(10) infinite 0s;
    -moz-animation: run 1s steps(10) infinite 0s;
    -o-animation: run 1s steps(10) infinite 0s;
    animation: run 1s steps(10) infinite 0s;
}
.leavel-3-man {
    background: url(images/man-03.png) no-repeat 0 0;
    -webkit-animation: run 1s steps(10) infinite 0s;
    -moz-animation: run 1s steps(10) infinite 0s;
    -o-animation: run 1s steps(10) infinite 0s;
    animation: run 1s steps(10) infinite 0s;
}

.leavel-4-girl {
    background: url(images/woman-04.png) no-repeat 0 0;
    -webkit-animation: run 0.8s steps(10) infinite 0s;
    -moz-animation: run 0.8s steps(10) infinite 0s;
    -o-animation: run 0.8s steps(10) infinite 0s;
    animation: run 0.8s steps(10) infinite 0s;
}
.leavel-4-man {
    background: url(images/man-04.png) no-repeat 0 0;
    -webkit-animation: run 0.8s steps(10) infinite 0s;
    -moz-animation: run 0.8s steps(10) infinite 0s;
    -o-animation: run 0.8s steps(10) infinite 0s;
    animation: run 0.8s steps(10) infinite 0s;
}

.leavel-5-girl {
    background: url(images/woman-05.png) no-repeat 0 0;
    -webkit-animation: runthree 0.6s steps(6) infinite 0s;
    -moz-animation: runthree 0.6s steps(6) infinite 0s;
    -o-animation: runthree 0.6s steps(6) infinite 0s;
    animation: runthree 0.6s steps(6) infinite 0s;
}
.leavel-5-man {
    background: url(images/man-05.png) no-repeat 0 0;
    -webkit-animation: runthree 0.6s steps(6) infinite 0s;
    -moz-animation: runthree 0.6s steps(6) infinite 0s;
    -o-animation: runthree 0.6s steps(6) infinite 0s;
    animation: runthree 0.6s steps(6) infinite 0s;
}
</style>
