<div class="my-healthy">
    <div class="main-containt">
        <ul class="title-tab">
            <li class="titleon">
                <div>
                    <a>我的健康</a>
                </div>
            </li>
            <li>
                <div ng-click="goMyCommunity()">
                    <a>我的社区</a>
                </div>
            </li>
        </ul>
        <div class="whitebar"></div>
        <div class="healthy-status-content">
            <div class="content-title">
                <div class="tdcell conent-title-font">
                    健康状态
                </div>
                <div class="tdcell text-right">
                    <a class="more-btn share hide" ng-click="getShareUrls()">分享<i class="icon-arrow"></i></a>
                </div>
            </div>
            <div class="content-whitebg">
	            <div class="svg-path" id="runningPath" ng-click="healthyStatusFn()"></div>
            </div>
            <div class="human-running text-center">
                <div ng-class="getHealthImg()"></div>
                <div class="top-fixed">
	                <div class="big-size-font" ng-click="healthyStatusFn()" ng-class="{'down':!form.userInfo.scoreState}">{{form.todayStep?form.todayStep:0}}</div>
	                <div class="get-coin" ng-if="form.userInfo.scoreState" ng-click="coinPopup()">领取奖励</div>
                </div>
        	</div>
            <div class="gototask" ng-click="goHealthyTaskSet()">
            </div>
            <div class="watch hide">
              <i class="icon-watch"></i>
            </div>
        </div>
    </div>
    <div class="white-bg">
		<carousel size="banners.length" height="28vw" auto="5000" mark="#B3B3B3/#0074e1" style="padding: 10px 0;">
			<img ng-repeat="banner in banners" ng-src="{{banner.img}}" ng-click="path(banner.url,banner.title)"/>
		</carousel>
        <div class="healthy-assess">
            <ul>
                <li ng-click="testPortalFn()">
                    <img src="images/Health-assessment.png" />
                    <header>健康评估</header>
                </li>
                <li ng-click="goHealthyTask()">
                    <img src="images/Health-task.png" />
                    <header>每日任务</header>
                </li>
                <li ng-click="goRewardTask();" style="position: relative;">
                    <img src="images/Beginner-quest.png" />
                    <header>悬赏任务</header>
                    <i ng-if="taskInfo.status==0||taskInfo.status==1"></i>
                </li>
                <li ng-click="exchangeList()">
                    <img src="images/Exchange-list.png" />
                    <header>健康币兑换</header>
                </li>
            </ul>
            <div>
            	<header ng-click="goHealtyTrouble()" style="background-image: url('images/Health-problems.png');">健康困扰<i class="icon-arrow"></i></header>
            	<hr size="1"/>
            	<ul>
            		<li ng-repeat="trouble in htlist" ng-click="htDetail(trouble.link,trouble.title)">
            			<header>{{trouble.title}}</header>
            			<article>{{trouble.summary}}</article>
            			<img ng-src="{{trouble.top}}"/>
            		</li>
            	</ul>
            </div>
            <div>
            	<header ng-click="goHotTopic()" style="background-image: url('images/Hot-topic.png');">健康热门话题<i class="icon-arrow"></i></header>
            	<hr size="1"/>
            	<ul>
            		<li ng-repeat="topic in topiclist" ng-click="topicDetail(topic.link,topic.title)">
            			<header>{{topic.title}}</header>
            			<article>{{topic.summary}}</article>
            			<img ng-src="{{topic.top}}"/>
            		</li>
            	</ul>
            </div>
            <div>
            	<header ng-click="goManagement()" style="background-image: url('images/other.png');">其他<i class="icon-arrow"></i></header>
            </div>
        </div>
    </div>
    <div class="text-center tel-font">
            本服务由招商信诺提供<br>
            客服电话：400-888-8288
            </div>
</div>
</div>
<img ng-click="activityPopup()" class="act-popup" ng-if="urlPath" src="images/act-popup.png"/>