<ul class="tab-title">
  <li>
     <a class="titleon">好友</a>
  </li>
  <li>
     <a>在线好友</a>
  </li>
</ul>

<ul class="ranking-content">
        <p class="font-blue">两人可成团</p>
        <li ng-repeat="rank in showRankList">
            <div class="tdcell friend-message">
                <h5 class="font-black">{{rank.nickName}}</h5>
                <i class="icon-steps"></i><span class="font-grey">{{rank.userStep}}</span> <i class="icon-coin"></i><span class="font-grey">{{rank.userRank}}</span>
            </div>
            <div class="tdcell text-right"><a class="invite-friend-btn {{rank.isClick?'':'invited'}}" ng-click="addPlayers(rank.userId,rank.isClick);rank.isClick=!rank.isClick;"><i class="icon-wrong"></i></a></div>
        </li>
    </ul>
    <div class="button-area">
        <a class="long-button" ng-click="createTaskFn()">发送邀请</a>
    </div>