<div class="test-portal">
	<section ng-click="westernQuizFn(0)">
		<div class="img">
			<i>新</i>
			<img src="images/test/title-sub-health.png" width="68"/>
		</div>
		<div class="text">
			<header>亚健康测评</header>
			亚健康是由于生活方式不合理而形成对身体有害无益的一种状态
		</div>
	</section>
	<section ng-click="westernQuizFn(1)">
		<div class="img">
			<i>荐</i>
			<img src="images/test/title-bmi.png" width="80"/>
		</div>
		<div class="text">
			<header>体重BMI测评</header>
			谁敢说你胖！是不是真胖纸？测了才知道！
		</div>
	</section>
	<section ng-click="westernQuizFn(2)">
		<div class="img">
			<img src="images/test/title-diet.png" width="77"/>
		</div>
		<div class="text">
			<header>饮食测评</header>
			做个吃货！做个健康的吃货！
		</div>
	</section>
	<section ng-click="chineseQuizFn()">
		<div class="img">
			<img src="images/test/title-chinese.png" width="73"/>
		</div>
		<div class="text">
			<header>中医体质测评</header>
			要养生？要调理？对症下药才能事半功倍！
		</div>
	</section>
</div>