<div class="use-introduction">
<a class="back-button position-left use-backbtn" ng-click="form.leftBtnClick()"></a>
<div class="part-three">
        <div class="top-content font-area text-center">
            <span class="img-icon"><i class="icon-gift"></i></span>
            <h2>2015/10/15-11/30</h2>
            <h3>每日登录刮奖，Apple Watch触手可得</h3>
            <h3>约上小伙伴，一起动一起High！</h3>
        </div>
        <div class="bottom-content">
            <div class="img-area clearfix">
                <div class="bg-img-three"></div>
                <div class="watch responsive-img">
                    <img src="images/intro/apple-watch.png">
                </div>
                <div class="human responsive-img">
                    <span class="woman-red"> <img src="images/intro/page3_runner1.png"></span>
                    <span class="man-green"><img src="images/intro/page3_runner2.png"></span>
                    <span class="man-yellow"><img src="images/intro/page3_runner4.png"></span>
                    <span class="man-blue"><img src="images/intro/page3_runner3.png"></span>
                    <span class="woman-white"><img src="images/intro/page3_runner5.png"></span>
                </div>
            </div>
            <div class="button-area">
                <button class="long-button" ng-click="btnNext()">立即体验</button>
                <button class="long-button" ng-click="btnLogin()">已有账号登录</button>
            </div>
        </div>
    </div>
    <div class="part-one">
        <div class="top-content font-area text-center">
            <span class="img-icon"><i class="icon-heart"></i></span>
            <h2>健康</h2>
            <h3>是一切梦想的底色</h3>
            <h3>完成健康评估</h3>
            <h3>为您私人定制专属健康计划</h3>
        </div>
        <div class="running-human-area">
            <div class="run-red-woman responsive-img">
                <img class="img-1" src="images/intro/pink-lady/pinklady01.png">
                <img class="img-2" src="images/intro/pink-lady/pinklady02.png">
                <img class="img-3" src="images/intro/pink-lady/pinklady03.png">
                <img class="img-4" src="images/intro/pink-lady/pinklady04.png">
                <img class="img-5" src="images/intro/pink-lady/pinklady05.png">
                <img class="img-6" src="images/intro/pink-lady/pinklady06.png">
                <img class="img-7" src="images/intro/pink-lady/pinklady07.png">
                <img class="img-8" src="images/intro/pink-lady/pinklady08.png">
                <img class="img-9" src="images/intro/pink-lady/pinklady09.png">
                <img class="img-10" src="images/intro/pink-lady/pinklady10.png">
            </div>
        </div>
        <div class="center-content responsive-img icon-bg-one">
            <img src="images/intro/icon-none.png">
        </div>
        <div class="bg-img"></div>
    </div>
    <div class="part-two">
        <div class="top-content font-area text-center">
            <span class="img-icon"><i class="icon-cup"></i></span>
            <h2>登录我的社区</h2>
            <h3>和好友一起团战PK</h3>
            <h3>动起来，精彩在未来等您</h3>
        </div>
        <div class="running-human-area">
            <div class="run-blue-man responsive-img">
                <img class="img-1" src="images/intro/blue-man/blueman01.png">
                <img class="img-2" src="images/intro/blue-man/blueman02.png">
                <img class="img-3" src="images/intro/blue-man/blueman03.png">
                <img class="img-4" src="images/intro/blue-man/blueman04.png">
                <img class="img-5" src="images/intro/blue-man/blueman05.png">
                <img class="img-6" src="images/intro/blue-man/blueman06.png">
                <img class="img-7" src="images/intro/blue-man/blueman07.png">
                <img class="img-8" src="images/intro/blue-man/blueman08.png">
                <img class="img-9" src="images/intro/blue-man/blueman09.png">
                <img class="img-10" src="images/intro/blue-man/blueman10.png">
            </div>
            <div class="run-green-man responsive-img">
                <img class="img-1" src="images/intro/green-man/greenman01.png">
                <img class="img-2" src="images/intro/green-man/greenman02.png">
                <img class="img-3" src="images/intro/green-man/greenman03.png">
                <img class="img-4" src="images/intro/green-man/greenman04.png">
                <img class="img-5" src="images/intro/green-man/greenman05.png">
                <img class="img-6" src="images/intro/green-man/greenman06.png">
                <img class="img-7" src="images/intro/green-man/greenman07.png">
                <img class="img-8" src="images/intro/green-man/greenman08.png">
                <img class="img-9" src="images/intro/green-man/greenman09.png">
                <img class="img-10" src="images/intro/green-man/greenman10.png">
            </div>
            <div class="run-white-woman responsive-img">
                <img class="img-1" src="images/intro/white-lady/whitelady01.png">
                <img class="img-2" src="images/intro/white-lady/whitelady02.png">
                <img class="img-3" src="images/intro/white-lady/whitelady03.png">
                <img class="img-4" src="images/intro/white-lady/whitelady04.png">
                <img class="img-5" src="images/intro/white-lady/whitelady05.png">
                <img class="img-6" src="images/intro/white-lady/whitelady06.png">
                <img class="img-7" src="images/intro/white-lady/whitelady07.png">
                <img class="img-8" src="images/intro/white-lady/whitelady08.png">
                <img class="img-9" src="images/intro/white-lady/whitelady09.png">
                <img class="img-10" src="images/intro/white-lady/whitelady10.png">
            </div>
            <div class="run-yellow-man responsive-img">
                <img class="img-1" src="images/intro/yellow-man/yellowman01.png">
                <img class="img-2" src="images/intro/yellow-man/yellowman02.png">
                <img class="img-3" src="images/intro/yellow-man/yellowman03.png">
                <img class="img-4" src="images/intro/yellow-man/yellowman04.png">
                <img class="img-5" src="images/intro/yellow-man/yellowman05.png">
                <img class="img-6" src="images/intro/yellow-man/yellowman06.png">
                <img class="img-7" src="images/intro/yellow-man/yellowman07.png">
                <img class="img-8" src="images/intro/yellow-man/yellowman08.png">
                <img class="img-9" src="images/intro/yellow-man/yellowman09.png">
                <img class="img-10" src="images/intro/yellow-man/yellowman10.png">
            </div>
        </div>
        <div class="center-content responsive-img icon-bg-two">
            <img src="images/intro/icon-none.png">
        </div>
        <!-- <div class="bg-img"></div> -->
    </div>
    
</div>
