<div class="western-test">
    <div class="progress-tip">
        <progress value="{{cur}}" max="{{total}}"></progress>
    </div>
    <form>
    <input type="hidden" value="{{id+1}}" name="type"/>
    <section ng-repeat="testGroup in testList" ng-init="ind0=$index">
    	<header class="line-tip">{{testGroup.title}}</header>
    	<section class="test">
	    	<article ng-repeat="test in testGroup.list" ng-init="ind1=$index">
	    		<header>{{test.question}}</header>
	    		<div ng-if="test.type=='choise'" class="choise">
	    			<a ng-repeat="choise in test.answer" ng-click="choose(test,choise.value,ind0,ind1)">
	    				<span><em ng-if="test.value==choise.value"></em></span>
	    				{{choise.text}}
	    			</a>
	    		</div>
	    		<div ng-if="test.type=='time'" class="mobi">
	    			<section ng-click="time(test,test.value,ind0,ind1)">{{cur>calc(ind0,ind1)?test.value:'&nbsp;'}}</section>
	    		</div>
	    		<div ng-if="test.type=='range'" class="mobi">
	    			<section ng-click="range(test,test.value,ind0,ind1)">{{cur>calc(ind0,ind1)?test.value+test.unit:test.unit}}</section>
	    			<ul>
	    				<li ng-repeat="o in initArray(test.max-test.min+1) track by $index">{{$index+test.min}}</li>
	    			</ul>
	    		</div>
	    		<input ng-repeat="answer in test.value.split(',,')" type="hidden" value="{{answer}}" ng-if="test.value" name="{{test.id}}"/>
	    	</article>
    	</section>
    </section>
    </form>
    <section class="test">
    	<article><a class="long-button" ng-click="submit()">提&nbsp;&nbsp;&nbsp;&nbsp;交</a></article>
    </section>
</div>