<div class="western-quiz-report">
	<header class="header" ng-style="{'background-image': 'url(images/test/report{{id}}.png)'}">
		<section class="test-btn">
			<a class="pull-right" ng-click="reset()">重评</a>
		</section>
		<section class="score">
			<div>
				<em>{{returnReport.score}}</em>&nbsp;{{point[id]}}
			</div>
			<div class="pull-right">{{returnReport.updateDate}}</div>
		</section>
		<section class="progress">
			<div class="remark bg">
				<div ng-repeat="mark in remark[id]">
					<span></span>
				</div>
			</div>
			<div class="bar">
				<progress max="{{max-last}}" value="{{returnReport.score-last}}" ng-repeat="max in divide[id]" ng-init="last=$index==0?0:divide[id][$index-1]"></progress>
			</div>
			<div class="remark">
				<div ng-repeat="mark in remark[id]">
					<span><div ng-if="$first||returnReport.score>=divide[id][$index-1]"></div></span><br>
					{{mark}}
				</div>
			</div>
		</section>
	</header>
    <div class="white-bg">
        <div class="report-content" ng-if="unusualArray.length>0">
            <h4>{{unusualArray.length}}项异常指标</h4>
            <div class="report-items" ng-repeat="report in unusualArray">
                <div class="tdcell">
                    <i class="icon-alert-line"></i> {{report.title}}
                </div>
                <div class="tdcell text-right">
                    <i class="icon-arrow" ng-click="showDetail(report)"></i>
                </div>
            </div>
        </div>
        <div class="report-content" ng-if="improveArray.length>0">
            <h4>{{improveArray.length}}项有待改进的生活方式</h4>
            <div class="report-items" ng-repeat="report in improveArray">
                <div class="tdcell" ng-if="report.categoryId" ng-click="showDetail(report)">
                    <i class="icon-alert-line"></i>{{report.title}}
                </div>
                <div class="tdcell text-right" ng-if="report.categoryId">
                    <i class="icon-arrow" ng-click="showDetail(report)"></i>
                </div>
            </div>
        </div>
        <div class="report-content" ng-if="beCarefulArray.length>0">
            <h4>{{beCarefulArray.length}}项需要注意的方面</h4>
            <div class="report-items" ng-repeat="report in beCarefulArray">
                <div class="tdcell" ng-click="showDetail(report)">
                    <i class="icon-alert-line"></i>{{report.title}}
                </div>
                <div class="tdcell text-right">
                    <i class="icon-arrow" ng-click="showDetail(report)"></i>
                </div>
            </div>
        </div>
        <div class="perfect report-content" ng-if="unusualArray.length+improveArray.length+beCarefulArray.length==0&&id==0">
        	<h4>您的身体十分健康，请继续保持！</h4>
        	<header>保持健康建议：</header>
        	<article>
        		1：养成良好的生活习惯。人体的生命活动是在生物钟的严格控制之下有节制地进行运转的。为此，我们要在饮食、起居、学习、工作以及各种生活制度方面养成一种定时、定量的规律性，并始终保持。这样才能在大脑皮层建立良好的条件反射系统，进而保证身体各种生理功能发挥最佳效应。
        	</article>
        	<article>
        		2：合理的营养构成。合理的饮食应该是每餐八分饱，主、副食各占一半，主食宜粗细粮搭配；副食以 1：1：3的比例为宜，即动物蛋白（鸡、鸭、鱼、肉等）1份，植物蛋白（黄豆及各种豆制品）1份，蔬菜、水果3份。
        	</article>
        </div>
        <div class="perfect report-content" ng-if="unusualArray.length+improveArray.length+beCarefulArray.length==0&&id==1">
        	<h4>身材棒棒哒！请继续保持！</h4>
        	<header>保持身材建议：</header>
        	<article>
        		1、  坚持有氧运动：慢性运动是有氧运动，具有强度低、有节奏、不易中断的特点，有利于减少皮下脂肪数目，缩小皮下脂肪的体积，适合消化和循环。例如散步、骑自行车、慢跑、游泳、打太极拳等等。要求是：1、有足够的氧气参与，在室外最好；2、必须坚持30~60分钟；3、运动时心率小于150次／分。不宜做运动的时间：饥饿时，吃饭前，睡觉前。最佳锻炼时间为黄昏7-8点。
        	</article>
        	<article>
        		2、  避免剧烈运动：剧烈运动对减肥无效而且无益。譬如利用跑步机跑步，举杠铃，踢足球以及一切的窜蹦跳跃，运动时间短，运动量大，人体的消耗量激增，这种消耗中占很大比例的是糖和水份，极易产生饥渴，会不由自主地加大进食量。这类运动也不易坚持，当运动心率超过160次／分时，产生的疲惫感常常使人放弃运动，停停打打的结果当然是减肥无效。即使真的咬紧牙关，坚持到底的一般也是将全身的肌肉练得极为饱满，有力，也和东方女性传统的窈窕柔美相去甚远。
        	</article>
        </div>
        <div class="perfect report-content" ng-if="unusualArray.length+improveArray.length+beCarefulArray.length==0&&id==2">
        	<h4>您的饮食习惯良好，请继续保持！</h4>
        	<header>保持饮食习惯建议：</header>
        	<article>
        		良好合理的健康饮食习惯是保健的一个重要方面，可使身体健康地生长、发育；不良的饮食习惯则会导致人体正常的生理功能紊乱而感染疾病。相反，恰当的饮食对疾病会起到治疗的作用，帮助人体恢复健康。
        	</article>
        </div>
        <div class="report-content" ng-if="recommendArray.length>0">
            <h4>{{recommendArray.length}}项健康保障</h4>
            <div class="report-items" ng-repeat="product in recommendArray">
                <div class="tdcell" ng-click="showProduct(product)">
                    <i class="icon-alert-line"></i>{{product.title}}
                </div>
                <div class="tdcell text-right">
                    <i class="icon-arrow" ng-click="showProduct(product)"></i>
                </div>
            </div>
        </div>
        <div class="button-area">
            <a class="long-button" ng-click="healthyTaskFn()">专属健康任务</a>
        </div>
    </div>
</div>
