<div class="western-quiz-report">
    <div class="list-head">
        <div class="pull-right re-answer" ng-click="reset()">重评<i class="icon-arrow"></i></div>
        <div>{{form.reportDetail.updateDate}}</div>
        <div>{{form.reportDetail.titleAD}}</div>
        <div class="healthy-score" >
            <b  ng-if="form.reportDetail.categoryId!='09'&&(form.reportDetail.categoryId+form.reportDetail.desc.length!='083')">{{form.reportDetail.value}}</b>

             <!-- <label ng-if="isShowScore&&form.reportDetail.categoryId!='04'&&form.reportDetail.categoryId!='08'">分</label>
            </label> -->
            <label ng-if="form.reportDetail.categoryId=='08'&&form.reportDetail.desc.length>3">支</label>
            <label ng-if="form.reportDetail.categoryId=='04'">KG</label>
            <label ng-if="form.reportDetail.categoryId=='05'">分</label>
             <label ng-if="form.reportDetail.categoryId=='06'">分钟</label>
             <label ng-if="form.reportDetail.categoryId=='07'">小时</label>
             
        </div>
        <ul class="user-healthy-type">
            <li ng-repeat="desc in form.reportDetail.desc" class="tdcell {{desc.isSelect?'pointer':''}}">
            <b style="left:{{form.reportDetail.scale}}%"></b>
            {{desc.key}}
            </li>
        </ul>
    </div>
    <div class="white-bg">
    <div class="report-detail" ng-repeat="reports in form.reportDetail.report" ng-if="reports.content!=''">
        <div class="report-content report-items">
            <i class="icon-alert-line"></i>{{reports.title}}
        </div>
        <div class="report-details responsive-img">
           {{reports.content}} 
        <img ng-if="reports.img!=''" ng-src="images/pic/{{reports.img}}" alt="Description" /> 
       
        </div>
    </div>
    </div>
