.title-content {
    padding: 0 15px;
}

.title-content p {
    color: #607fa6;
    font-size: 12px;
}

.title-content h3 {
    font-size: 16px;
    font-weight: bold;
    color: #060606;
}

.healthy-share .main-containt {
    padding: 10px;
    background: url('../images/background.jpg') no-repeat bottom center;
    background-size: cover;
    color: #fff;
}

.healthy-share .content-whitebg {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    font-size: 14px;
    background: url('../images/content-whitebg.png') center/100% 100% no-repeat;
    border-radius: 10px;
    color: #fff;
}

.healthy-share ul.daten-item li {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
}

.healthy-share ul.daten-item li:last-child {
    margin-bottom: 0px;
}

.healthy-share .user-image {
    width: 45%;
}

.user-image .people {
    margin-top: -15px;
}

.user-image .people.leavel-5-man {
    margin-top: -10px;
}

.healthy-share ul.daten-item {
    width: 50%;
}

.healthy-share .user-image img {
    width: 100%;
    height: auto;
}

.healthy-share .running-img {
    transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
}

.healthy-share .icon-style {
    width: 30%;
    text-align: center;
}

.healthy-share .icon-style img {
    width: 35px;
    height: auto;
}

.healthy-share .icon-style i {
    font-size: 30px;
}

.healthy-share .daten-style {
    font-size: 28px;
    color: #d5ffff;
}

.healthy-share .fix-td-width {
    width: 100px;
}

@media(min-width:550px) {
    .healthy-share,
    .team-share {
        width: 430px;
        margin: 0 auto;
    }
}

.team-share .brttleGroup-content {
    position: relative;
    height: 180px;
    padding: 10px 10px;
    background: url('../images/pao-bg.jpg') no-repeat top center;
    background-size: cover;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    h5 {
        font-size: 20px;
        margin-top: 0;
    }
}

.team-qian-bg {
    background-image: url('../images/qian-bg.jpg') !important;
    background-position: center top;
}

.team-yi-bg {
    background-image: url('../images/moon-bg.jpg') !important;
}

.team-share .circle-border {
    position: absolute;
    top: 60%;
    left: 50%;
    display: inline-block;
    width: 90px;
    height: 90px;
    padding-top: 13px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    background: rgba(13, 125, 181, 0.2);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.tdcell {
    word-break: break-all;
    word-wrap: break-word;
    vertical-align: middle;
}

.team-share .big-size {
    font-size: 20px;
    font-weight: bold;
}

ul.ranking-content li {
    padding: 15px 15px 10px 15px;
    display: table;
    table-layout: fixed;
    width: 100%;
}

ul.ranking-content li .ranking-places {
    font-size: 14px;
}

ul.ranking-content li .rank-num {
    color: #0d7db5;
    padding: 0 3px;
    font-size: 28px;
    vertical-align: -3px;
}

ul.ranking-content li .ranking-img span {
    display: inline-block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #dcdcdc;
    text-align: center;
    line-height: 50px;
}

ul.ranking-content li .ranking-img span img {
    width: 54px;
    height: auto;
}

ul.ranking-content li .name-leavel img {
    width: 16px;
    height: auto;
    margin-right: 10px;
    margin-top: -7px;
}

ul.ranking-content li .name-leavel .name {
    font-size: 14px;
}

ul.ranking-content li .leavel-num {
    font-size: 16px;
    color: #0d7db5;
}

ul.ranking-content li .ranking-nums {
    font-size: 14px;
}

ul.ranking-content li .ranking-nums .steps {
    padding-right: 5px;
    font-size: 16px;
    font-weight: bold;
}

.running-img {
    width: 160px;
    height: 195px;
    margin: 0 auto;
}


/*12frame*/

@-webkit-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@-moz-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@-o-keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}

@keyframes runone {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1920px 0;
    }
}


/*12frame*/


/*9frame*/

@-webkit-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@-moz-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@-o-keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}

@keyframes runtwo {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1440px 0;
    }
}


/*9frame*/


/*10frame*/

@-webkit-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@-moz-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@-o-keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}

@keyframes run {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -1600px 0;
    }
}


/*10frame*/


/*6frame*/

@-webkit-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@-moz-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@-o-keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}

@keyframes runthree {
    0% {
        background-position: 0;
    }
    100% {
        background-position: -960px 0;
    }
}


/*6frame*/

.leavel-1-girl {
    background: url(../images/girl-01.png) no-repeat 0 0;
    -webkit-animation: runone 1.2s steps(12) infinite 0s;
    -moz-animation: runone 1.2s steps(12) infinite 0s;
    -o-animation: runone 1.2s steps(12) infinite 0s;
    animation: runone 1.2s steps(12) infinite 0s;
}

.leavel-1-man {
    background: url(../images/man-01.png) no-repeat 0 0;
    -webkit-animation: runone 1.2s steps(12) infinite 0s;
    -moz-animation: runone 1.2s steps(12) infinite 0s;
    -o-animation: runone 1.2s steps(12) infinite 0s;
    animation: runone 1.2s steps(12) infinite 0s;
}

.leavel-2-girl {
    background: url(../images/woman-02.png) no-repeat 0 0;
    -webkit-animation: runtwo 1s steps(9) infinite 0s;
    -moz-animation: runtwo 1s steps(9) infinite 0s;
    -o-animation: runtwo 1s steps(9) infinite 0s;
    animation: runtwo 1s steps(9) infinite 0s;
}

.leavel-2-man {
    background: url(../images/man-02.png) no-repeat 0 0;
    -webkit-animation: runtwo 1s steps(9) infinite 0s;
    -moz-animation: runtwo 1s steps(9) infinite 0s;
    -o-animation: runtwo 1s steps(9) infinite 0s;
    animation: runtwo 1s steps(9) infinite 0s;
}

.leavel-3-girl {
    background: url(../images/woman-03.png) no-repeat 0 0;
    -webkit-animation: run 1s steps(10) infinite 0s;
    -moz-animation: run 1s steps(10) infinite 0s;
    -o-animation: run 1s steps(10) infinite 0s;
    animation: run 1s steps(10) infinite 0s;
}

.leavel-3-man {
    background: url(../images/man-03.png) no-repeat 0 0;
    -webkit-animation: run 1s steps(10) infinite 0s;
    -moz-animation: run 1s steps(10) infinite 0s;
    -o-animation: run 1s steps(10) infinite 0s;
    animation: run 1s steps(10) infinite 0s;
}

.leavel-4-girl {
    background: url(../images/woman-04.png) no-repeat 0 0;
    -webkit-animation: run 0.8s steps(10) infinite 0s;
    -moz-animation: run 0.8s steps(10) infinite 0s;
    -o-animation: run 0.8s steps(10) infinite 0s;
    animation: run 0.8s steps(10) infinite 0s;
}

.leavel-4-man {
    background: url(../images/man-04.png) no-repeat 0 0;
    -webkit-animation: run 0.8s steps(10) infinite 0s;
    -moz-animation: run 0.8s steps(10) infinite 0s;
    -o-animation: run 0.8s steps(10) infinite 0s;
    animation: run 0.8s steps(10) infinite 0s;
}

.leavel-5-girl {
    background: url(../images/woman-05.png) no-repeat 0 0;
    -webkit-animation: runthree 0.7s steps(6) infinite 0s;
    -moz-animation: runthree 0.7s steps(6) infinite 0s;
    -o-animation: runthree 0.7s steps(6) infinite 0s;
    animation: runthree 0.7s steps(6) infinite 0s;
}

.leavel-5-man {
    background: url(../images/man-05.png) no-repeat 0 0;
    -webkit-animation: runthree 0.7s steps(6) infinite 0s;
    -moz-animation: runthree 0.7s steps(6) infinite 0s;
    -o-animation: runthree 0.7s steps(6) infinite 0s;
    animation: runthree 0.7s steps(6) infinite 0s;
}

.download-app {
    margin-top: 30px;
    position: relative;
}

.download-app div.title {
    position: absolute;
    top: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
}

div.title span {
    display: inline-block;
    background-color: #fff;
    padding: 0 10px;
}

.download-app > hr {
    height: 1px;
    background: #000;
    border: none;
}

.download-app h5 {
    margin-top: 35px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.guide-img img,
.qacode-img img {
    width: 100%;
    height: auto;
    -webkit-touch-callout: none;
}

.guide-img {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 20px;
}

.qacode-img {
    width: 30%;
    margin: 0 auto;
}

@media(min-width:550px) {
    .download-app {
        width: 430px;
        margin-left: auto;
        margin-right: auto;
    }
    .guide-img {
        width: 400px;
    }
    .qacode-img {
        width: 200px;
    }
}
