<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-transform " />
<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<title>弹窗</title>
<meta name="keywords" content="" />
<style type="text/css">
@charset "utf-8";
/* CSS Document */
html { -webkit-text-size-adjust:none }
body{ font:400 16px/100% '微软雅黑','宋体';  background-color:#fff;}
body,div,form,img,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6{margin:0;padding:0;  font-style:normal; }
img { border: none; vertical-align:bottom;} 
a:link,a:visited,a:hover,a:active{ text-decoration:none;}
.main{ width:100%; height:auto; position:relative;}
</style>

</head>
<body>
<section class="main prov">
<a onclick="gotoAd()" href="#"><img src="public/img/gt/bg2.png" width="100%"></a>
</section>
<script type="text/javascript">
	var uid = getUrlParam("identity");
	function getUrl(){
		
		//var url = "http://hms-uat.test-cignacmb.com/hms-cmb-act/seckill/index.html";
		var url = "https://hmscmb.cignacmb.com/hms-cmb-act/biyanweb/gongSiZhong.html";
		var tel = getUrlParam("phoneNum");
		var token = getUrlParam("magic");
                var v = "20160411"

		//url = url+"?identity="+uid+"&phoneNum="+tel+"&magic="+token+"&v="+v;
		url = url+"?identity="+uid+"&magic="+token+"&v="+v;

		return url;
	}

	function getUrlParam(name) {
	    var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	    var r = window.location.search.substr(1).match(reg);
	    if (r != null)
	    {
	        return unescape(r[2]);
	    }
	    return null;
	}

	function gotoAd() {
		window.parent.parent.trackerApi("活动点击","",{UserID:uid});
		window.parent.parent.location = getUrl();
	}
</script>
</body>
</html>
