/** common **/
*,*:before,*:after{
	box-sizing: border-box;
	outline: none;
}
body{
	padding: 0;
	margin: 0;
	background: #ffffff;
	font-family: -apple-system-font, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
	color: #333;
	line-height: 1.42857143;
}
h1{
	font-weight: 500;
	line-height: 1.1;
}
.hide{
	display: none !important;
}
.position-left{
	position: absolute;
	top: 0;
	left: 7px;
	z-index: 6;
}
.top-menu{
	width: 100%;
	height: 44px;
	position: fixed;
	top: 0;
	z-index: 6;
	background: #fff;
	box-shadow: 0 1px 5px 0 #b3b3b3;
}
a.back-button{
	display: inline-block;
	width: 44px;
	height: 44px;
	padding: 9px 10px 10px 9px;
	border: none;
	background: url("../images/back_button.png") no-repeat;
	background-size: cover;
	background-origin: content-box;
}
.top-menu > h1{
	font-size: 18px;
	text-align: center;
	color: #383838;
	margin: 0;
	padding: 12px 0;
	position: relative;
}
a{
	text-decoration: none;
}
a,button,input,textarea{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	outline: none;
}
/*loading style start*/
@-webkit-keyframes showDelay{
	0%, 80%, 100%{
		opacity: 0.2;
	}
	40%{
		opacity: 1;
	}
}
@keyframes showDelay{
	0%, 80%, 100%{
		opacity: 0.2;
	}
	40%{
		opacity: 1;
	}
}
.loading{
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 9999;
	width: 125px;
	height: 84px;
	margin: auto;
	background-color: rgba(0,0,0,0.7);
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #fff;
}
.loading p{
	line-height: 28px;
	margin: 5px 0px 0px;
	padding: 0px;
}
.loading .box{
	position: relative;
	width: 2px;
	height: 18px;
	margin: 20px auto 5px auto;
}
.loading .box > div{
	position: absolute;
	width: 100%;
	height: 100%;
}
.loading .box .contaier-one{
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.loading .box .contaier-two{
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}
.loading .box .contaier-three{
	-webkit-transform: rotate(60deg);
	transform: rotate(60deg);
}
.loading .box .contaier-four{
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}
.loading .box .contaier-five{
	-webkit-transform: rotate(120deg);
	transform: rotate(120deg);
}
.loading .box .contaier-sixe{
	-webkit-transform: rotate(150deg);
	transform: rotate(150deg);
}
.loading .box > div > span{
	position: absolute;
	display: inline-block;
	width: 2px;
	height: 4px;
	background-color: #fff;
	border-radius: 20px;
	-webkit-animation: showDelay 1.3s infinite ease-in-out;
	animation: showDelay 1.3s infinite ease-in-out;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
.loading .box > div .rect-odd{
	top: 0px;
	left: 0px;
}
.loading .box > div .rect-even{
	bottom: 0px;
	left: 0px;
}
.loading .box .contaier-one .rect-odd{
	-webkit-animation-delay: -1.2s;
	animation-delay: -1.2s;
}
.loading .box .contaier-one .rect-even{
	-webkit-animation-delay: -0.6s;
	animation-delay: -0.6s;
}
.loading .box .contaier-two .rect-odd{
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}
.loading .box .contaier-two .rect-even{
	-webkit-animation-delay: -0.5s;
	animation-delay: -0.5s;
}
.loading .box .contaier-three .rect-odd{
	-webkit-animation-delay: -1s;
	animation-delay: -1s;
}
.loading .box .contaier-three .rect-even{
	-webkit-animation-delay: -0.4s;
	animation-delay: -0.4s;
}
.loading .box .contaier-four .rect-odd{
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}
.loading .box .contaier-four .rect-even{
	-webkit-animation-delay: -0.3s;
	animation-delay: -0.3s;
}
.loading .box .contaier-five .rect-odd{
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}
.loading .box .contaier-five .rect-even{
	-webkit-animation-delay: -0.2s;
	animation-delay: -0.2s;
}
.loading .box .contaier-sixe .rect-odd{
	-webkit-animation-delay: -0.7s;
	animation-delay: -0.7s;
}
.loading .box .contaier-sixe .rect-even{
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
/*loading style end*/
/** page **/
.cover,
.cover-loading{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;
	background-color: rgba(0,0,0,0.45);
}
.cover .tips{
	position: fixed;
	left: 50%;
	top: 50%;
	margin: -40px 0px 0px -83px;
	z-index: 1000;
	width: 180px;
	line-height: 22px;
	padding: 29px 10px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.85);
	color: #fff;
	text-align: center;
	word-wrap: break-word;
}
.page-view{
	position: relative;
	z-index: 5;
}
.healthy-questionnaires{
	padding: 45px 0px 4vw;
	color: #4c4c4c;
	background-color: #c2f4fd;;
}
.healthy-container{
	margin: 4vw 4vw -35vw;
	position: relative;
	z-index: 11;
}
.healthy-container .list{
	background-color: #fff;
	padding: 0px 7vw;
}
.healthy-container .list:last-child{
	padding-bottom: 10vw;
}
.healthy-questionnaires .title{
	background-image: url('../images/background-top.png');
	background-position: -5px 0;
	background-repeat: no-repeat;
}
.healthy-questionnaires .title h1{
	line-height: 5.25vw;
	font-size: 4.8vw;
	text-align: center;
	color: #0cabc7;
	border-bottom: 2px #ccc dotted;
	margin: 0px 3vw;
	padding: 10vw 0 4vw;
}
.healthy-questionnaires .tips{
	line-height: 6.15vw;
	font-size: 3.46vw;
	text-indent: 2em;
	padding: 2vw 7vw;
	background-color: #fff;
}
.healthy-questionnaires .t{
	padding-top: 4vw;
	padding-bottom: 2vw;
	line-height: 6vw;
	font-size: 4vw;
	color: #0cabc7;
}
.healthy-questionnaires .t.error{
	color: #f00;
}
.healthy-questionnaires .c{
	line-height: 6.15vw;
	font-size: 3.46vw;
	padding: 0px 1vw;
}
.healthy-questionnaires .ipt-item{
	position: relative;
	display: inline-block;
	padding-left: 1vw;
	color: #3e3a3d;
	width: 50%;
	white-space: nowrap;
}
.healthy-questionnaires .pre33 .ipt-item{
	width: 33.3%;
}
.healthy-questionnaires .ipt-text{
	width: 250px;
	height: 32px;
	line-height: 32px;
	padding: 0px 5px;
	border: 1px solid #0cabc7;
	vertical-align: middle;
	color: #333;
}
.healthy-questionnaires .radio-button .icon,
.healthy-questionnaires .checkbox-button .icon{
	display: inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 1px solid #bbb;
	vertical-align: text-bottom;
	margin-right: 2vw;
	position: relative;
}
.healthy-questionnaires .radio-button .icon-inner,
.healthy-questionnaires .checkbox-button .icon-inner{
	display: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #0cabc7;
	position: absolute;
	top: 1px;
	left: 1px;
}
.healthy-questionnaires .radio-button .show .icon-inner,
.healthy-questionnaires .checkbox-button .show .icon-inner{
	display: inline-block;
}
.healthy-questionnaires .checkbox-button .icon,
.healthy-questionnaires .checkbox-button .icon-inner{
	border-radius: 0px;
}
.healthy-questionnaires .button-area{
	position: absolute;
    bottom: 4.8vw;
    z-index: 20;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}
.healthy-questionnaires .submit-button{
	display: inline-block;
	width: 26.68vw;
	height: 6.68vw;
	line-height: 6.68vw;
	text-align: center;
	border-radius: 3.34vw;
	background: #f86d6d;
	color: #fff;
	font-size: 4vw;
}
.healthy-questionnaires .submit-button.disabled{
	background-color: #dedede;
	color: #3e3a3d;
}
.healthy-background-bottm{
	position: relative;
	margin: 0px 1.6vw;
}
.healthy-background-bottm-t{
	width: 100%;
	position: relative;
	margin-bottom: -5vw;
	z-index: 10;
}
.healthy-background-bottm-b{
	width: 100%;
	position: relative;
	z-index: 15;
}
.healthy-container .list-fill{
	padding-top: 4vw;
}
.healthy-container .list-fill .t{
	display: inline;
}
.healthy-container .list-fill .c{
	display: inline;
}
.healthy-container .list-fill .ipt-fill{
	display: inline;
	width: 120px;
	padding: 0px 5px;
	border: 1px solid #666;
	border-radius: 0px;
	border-width: 0px 0px 1px;
	vertical-align: initial;
	font-size: 4vw;
	color: #3e3a3d;
}

.healthy-questionnaires-success{
	padding: 45px 12px;
	background-color: #c2f4fd;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.healthy-questionnaires-success .healthy-tips{
	margin-top: 30px;
	line-height: 38px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}