<#macro resultData data>
	<div class="title">
		<h1>${data.title}</h1>
	</div>
	<#if (data.tips != '')>
		<div class="tips">${data.tips}</div>
	</#if>
	<#list data.list as one>
		<div <#if (one.type == 'fill')>class="list list-fill"<#else>class="list"</#if>>
			<div class="t">${one_index+1}. ${one.title}</div>
			<!-- text -->
			<#if (one.type == 'text')>
				<div class="c">
					<input value="${one.value}" type="text" name="${one.name}" autocomplete="off" class="ipt-text"/>
				</div>
			<!-- fill -->
			<#elseif (one.type == 'fill')>
				<div class="c">
					<input data-index="${one_index}" value="${one.value}" type="${one.rule.type}" name="${one.name}" placeholder="${one.rule.tips}" maxlength="${one.rule.maxlength}" data-reg="${one.rule.reg}" data-error="${one.rule.tipsError}" data-empty="${one.rule.tipsEmpty}" autocomplete="off" class="ipt-fill"/>
				</div>
			<!-- radio -->
			<#elseif (one.type == 'radio')>
				<div <#if (one.name == 'income')>class="c radio-button pre33"<#else>class="c radio-button"</#if>>
					<#list one.list as subOne>
						<a data-index="${one_index}" data-subindex="${subOne_index}" <#if (one.value == subOne.value)>class="ipt-item show"<#else>class="ipt-item"</#if>><i class="icon"><i class="icon-inner"></i></i>${subOne.content}</a>
					</#list>
				</div>
			<!-- checkbox -->
			<#elseif (one.type == 'checkbox')>
				<div class="c checkbox-button">
					<#list one.list as subOne>
						<a data-index="${one_index}" data-subindex="${subOne_index}" <#if (one.value.indexOf(subOne.value)!=-1)>class="ipt-item show"<#else>class="ipt-item"</#if>><i class="icon"><i class="icon-inner"></i></i>${subOne.content}</a>
					</#list>
				</div>
			</#if>
		</div>
	</#list>
</#macro>